.fr-mb-3w
  %h4.fr-h6.fr-mb-0.fr-pb-1w.co-flex.co-flex--align-items-center
    %span.co-text--bold L’objet a-t-il été trouvé par la commune ?
    %button.fr-btn--tooltip.fr-btn{"aria-describedby" => "tooltip-localisation-incorrecte"} Information contextuelle
    %span.fr-tooltip.fr-placement{id: "tooltip-localisation-incorrecte", role: "tooltip", "aria-hidden" =>"true"} Si la localisation n'est pas correcte, informez en la commune pour qu’elle la modifie.
  .fr-mb-1w
    = recensement_presenter.localisation_sentence
  - if recensement.absent?
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag("recensement[analyse_fiches][]",
        "depot_plainte",
        recensement.analyse_fiches.include?("depot_plainte"),
        id: "recensement_analyse_fiches_depot_plainte",
        form: "recensement")
      = f.label(:analyse_fiches_depot_plainte,
        "Informer la commune sur le dépôt de plainte",
        form: "recensement")
    .fr-mt-2w
      = link_to "Voir le contenu de cette fiche conseil", fiche_path("depot_plainte"), target: "_blank", rel: "noopener"

- if recensement.recensable?
  .fr-my-4w.attribute-group
    %h4.fr-h6.fr-mb-0.fr-pb-1w
      État de l’objet
    = render analyse_attribute_component(recensement:, form_builder: f, recensement_presenter:, attribute_name: "etat_sanitaire")
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag("recensement[analyse_fiches][]",
        "entretien_objets",
        recensement.analyse_fiches.include?("entretien_objets"),
        id: "recensement_analyse_fiches_entretien_objets",
        form: "recensement")
      = f.label(:analyse_fiches_entretien_objets,
        "Informer la commune sur les mesures d’entretien préventives",
        form: "recensement")

    .fr-checkbox-group.fr-mt-2w
      = check_box_tag("recensement[analyse_fiches][]",
        "restauration",
        recensement.analyse_fiches.include?("restauration"),
        id: "recensement_analyse_fiches_restauration",
        form: "recensement")
      = f.label(:analyse_fiches_restauration,
        "Informer la commune sur les étapes préalables à la restauration",
        form: "recensement")
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag("recensement[analyse_fiches][]",
        "entretien_edifices",
        recensement.analyse_fiches.include?("entretien_edifices"),
        id: "recensement_analyse_fiches_nuisibles",
        form: "recensement")
      = f.label(:analyse_fiches_nuisibles,
        "Informer la commune sur les mesures d’entretien des édifices et de prévention d’attaques de nuisibles",
        form: "recensement")
    .fr-mt-2w
      = link_to "Voir le contenu de ces fiches conseils", fiches_path, target: "_blank", rel: "noopener"

  .fr-my-4w.attribute-group
    %h4.fr-h6.fr-mb-0.fr-pb-1w
      Sécurisation de l’objet
    = render analyse_attribute_component(recensement:, form_builder: f, recensement_presenter:, attribute_name: "securisation")
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag("recensement[analyse_fiches][]",
        "securisation",
        recensement.analyse_fiches.include?("securisation"),
        id: "recensement_analyse_fiches_securisation",
        form: "recensement")
      = f.label(:analyse_fiches_securisation,
        "Informer la commune sur les mesures de sécurisation des objets",
        form: "recensement")
    .fr-mt-2w
      = link_to "Voir le contenu de cette fiche conseil", fiche_path("securisation"), target: "_blank", rel: "noopener"

- elsif !recensement.absent?
  -# only display the badge when it's found but not recensable
  .fr-my-4w
    .fr-badge.fr-badge--sm.fr-badge--warning
      Recensement impossible

%input{name:"recensement[analyse_fiches][]", type:"hidden", value: "", form: "recensement"}
-# to make sure the array is sent even if empty
