.fr-mb-3w
  .fr-pb-1w.co-text--bold Localisation de l’objet
  .fr-mb-1w
    = recensement_presenter.localisation_sentence
  - if recensement.autre_edifice?
    .fr-pb-1w.co-text--bold
      Nom de l’édifice dans lequel se trouve l’objet
    .fr-mb-1w
      %input.fr-input.co-text--black{disabled: "disabled", type: "text", value: "#{recensement.edifice_nom}"}
  - elsif recensement.absent?
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag "recensement[analyse_fiches][]", "depot_plainte", recensement.analyse_fiches.include?("depot_plainte"), id: "recensement_analyse_fiches_depot_plainte"
      = f.label :analyse_fiches_depot_plainte do
        Informer la commune sur le&nbsp;
        = link_to "dépôt de plainte", fiche_path("depot_plainte"), target: "_blank", rel: "noopener"

- if recensement.recensable?
  .fr-my-3w.attribute-group
    .fr-pb-1w.co-text--bold
      État sanitaire de l’édifice à proximité de l’objet
    = render analyse_attribute_component(recensement:, form_builder: f, recensement_presenter:, attribute_name: "etat_sanitaire_edifice")
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag "recensement[analyse_fiches][]", "entretien_edifices", recensement.analyse_fiches.include?("entretien_edifices"), id: "recensement_analyse_fiches_nuisibles"
      = f.label :analyse_fiches_nuisibles do
        Informer la commune sur les&nbsp;
        = link_to "mesures d’entretien des édifices", fiche_path("entretien_edifices"), target: "_blank", rel: "noopener"
        et de prévention d’attaques de nuisibles

  .fr-my-3w.attribute-group
    .fr-pb-1w.co-text--bold
      État sanitaire de l’objet
    = render analyse_attribute_component(recensement:, form_builder: f, recensement_presenter:, attribute_name: "etat_sanitaire")
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag "recensement[analyse_fiches][]", "entretien_objets", recensement.analyse_fiches.include?("entretien_objets"), id: "recensement_analyse_fiches_entretien_objets"
      = f.label :analyse_fiches_entretien_objets do
        Informer la commune sur les&nbsp;
        = link_to "mesures d’entretien préventives", fiche_path("entretien_objets"), target: "_blank", rel: "noopener"
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag "recensement[analyse_fiches][]", "restauration", recensement.analyse_fiches.include?("restauration"), id: "recensement_analyse_fiches_restauration"
      = f.label :analyse_fiches_restauration do
        Informer la commune sur les&nbsp;
        = link_to "étapes préalables à la restauration", fiche_path("restauration"), target: "_blank", rel: "noopener"

  .fr-my-3w.attribute-group
    .fr-pb-1w.co-text--bold
      Sécurisation de l’objet
    = render analyse_attribute_component(recensement:, form_builder: f, recensement_presenter:, attribute_name: "securisation")
    .fr-checkbox-group.fr-mt-2w
      = check_box_tag "recensement[analyse_fiches][]", "securisation", recensement.analyse_fiches.include?("securisation"), id: "recensement_analyse_fiches_securisation"
      = f.label :analyse_fiches_securisation do
        Informer la commune sur les&nbsp;
        = link_to "mesures de sécurisation des objets", fiche_path("securisation"), target: "_blank", rel: "noopener"

- elsif !recensement.absent?
  -# only display the badge when it's found but not recensable
  .fr-my-3w
    .fr-badge.fr-badge--sm.fr-badge--warning
      Recensement impossible

%input{name:"recensement[analyse_fiches][]", type:"hidden", value: ""}
-# to make sure the array is sent even if empty
