<div class="co-mail-preview-wrapper">
  <% if display_headers %>
    <table class="co-mail-preview-header fr-px-4w fr-mb-2w fr-text--sm">
      <tr>
        <th>Émetteur&nbsp;:</th>
        <td><%= mail.header['from'] %></td>
      </tr>
      <tr>
        <th>Répondre&nbsp;à&nbsp;:</th>
        <td><%= mail.header['reply-to'] %></td>
      </tr>
      <tr>
        <th>Destinataire&nbsp;:</th>
        <td><%= mail.header['to'] %></td>
      </tr>
      <tr>
        <th>Sujet&nbsp;:</th>
        <td><%= mail.subject %></td>
      </tr>
    </table>
    <hr />
  <% end %>
  <iframe
    class="co-mail-preview-iframe"
    srcdoc="<%= body + IFRAME_CSS %>"
    <% if fit %>
      data-controller="iframe-fit"
      data-iframe-fit-target="iframe"
    <% end %>
  >
  </iframe>
</div>
