- title = "Objets protégés de #{@commune.nom}"
- content_for(:head_title) { title }

%main#contenu.fr-container.fr-pt-2w
  = render "shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Objets de #{@commune.nom}"

  %h1.co-text--blue.co-text--center
    Les #{@commune.objets.count} objets protégés de #{@commune.nom}

  = render "edifices/list", edifices: @commune.edifices

  = render @commune.edifices

  = render "communes/objets/pourquoi_n_objets_callout", objets_list: @commune.objets
