.fr-table.co-recensement-completion-summary
  %table
    %thead
      %tr
        %th Objet
        %th Localisation
        %th Recensable
        %th État de l’objet
        %th Sécurisation
        %th Photos
    %tbody
      - objets.each do |objet|
        - recensement = objet.recensement
        - presenter = RecensementPresenter.new(recensement)
        - palissy_photo_presenter = recensement.objet.palissy_photos_presenters.first
        %tr
          %td
            %div
              %div
                - if palissy_photo_presenter
                  %img.co--width-max-100{alt: palissy_photo_presenter.alt, src: palissy_photo_presenter.url}
                - else
                  = vite_image_tag "images/illustrations/photo-manquante.png", alt: "Photo manquante"
              %div
                - objet_path = current_recenseur ? recenseurs_commune_objet_path(objet.commune, objet) : commune_objet_path(objet.commune, objet)
                = link_to truncate(recensement.objet.nom, length: 30), objet_path
          %td= presenter.localisation
          %td= presenter.recensable
          %td
            = render Conservateurs::AnalyseOverrideComponent.new recensement:, recensement_presenter: presenter, original_attribute_name: :etat_sanitaire
          %td
            = render Conservateurs::AnalyseOverrideComponent.new recensement:, recensement_presenter: presenter, original_attribute_name: :securisation
          %td
            - if recensement.missing_photos?
              = badge("warning") { "Aucune photo" }
            - elsif recensement.photos.any?
              %div
                = recensement.photos.count
                photo#{recensement.photos.count > 1 ? 's' : ""}
              .co-recensement-photos{tabindex: "0"}
                - recensement.photos.each_with_index.map do |photo, index|
                  %div= image_tag photo.variant(:medium), alt: "Recensement #{index + 1}"
