<div class="fr-header__tools-links">
  <ul class="fr-links-group">
    <li>
      <% path = current_conservateur.departements.count == 1 ? conservateurs_departement_path(current_conservateur.departements.first) : conservateurs_departements_path %>
      <%= link_to t("menu.conservateurs.departements", count: current_conservateur.departements.count), path, class: "fr-link fr-icon-arrow-right-line" %>
    </li>
    <li>
      <%= link_to current_conservateur, edit_conservateur_registration_path, class: "fr-link fr-icon-user-line" %>
    </li>
  </ul>
</div>

<%= form_with(
  url: autocomplete_conservateurs_communes_path,
  id: "header-search-form",
  data: {
    controller: "header-search", "header-search-target" => "form",
    action: "turbo:submit-end->header-search#hideSpinner"
  }
) do |f| %>
  <div class="fr-header__search fr-modal" id="modal-menu-search">
    <div class="fr-container fr-container-lg--fluid">
      <button class="fr-link--close fr-link" aria-controls="modal-menu-search">
        Fermer
      </button>
      <div class="fr-search-bar" id="search-865" role="search">
        <%= f.label :nom, "Rechercher une commune", class: "fr-label" %>
        <div data-header-search-target="inputWrap" class="fr-input-wrap co-btn--icon-spinning co-header-search-input-wrap">
          <%= f.text_field(
            :nom,
            placeholder: "Rechercher une commune",
            autocomplete: "off",
            data: {
              "header-search-target" => "input",
              action: "input->header-search#performSearch"
            },
            class: "fr-input"
          ) %>
        </div>
        <%= f.button value: "Rechercher", class: "fr-btn" %>
      </div>
      <div id="js-header-search-results" data-header-search-target="results"></div>
    </div>
  </div>
<% end %>
