<main>
  <section>
    <div class="fr-container fr-py-8w">
      <% if @commune.errors.any? %>
        <div class="fr-grid-row">
          <div class="fr-col-md-6">
            <div class="fr-alert fr-alert--error fr-mb-6w">
              <p>
                Votre recensement n'a pas pu être confirmé :
                <ul>
                  <% @commune.errors.attribute_names.each do |attribute| %>
                    <li><%= @commune.errors.messages_for(attribute).first %></li>
                  <% end %>
                </ul>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <div class="fr-grid-row">
        <div class="fr-col-md-6">
          <h2 class="co-text--blue">Finalisation du recensement de <%= @commune.nom %></h2>
          <p>
            Veuillez vérifier la complétion et l'exactitude de vos recensements.
            Une fois que vous aurez finalisé, un conservateur sera prévenu, validera vos recensements et reviendra vers vous.
          </p>

          <%= form_for(@commune, url: commune_completions_path(@commune), method: "POST", builder: FormBuilderDsfr) do |f| %>
            <div class="fr-input-group">
              <%= f.label :notes_from_completion, "Notes" %>
              <%= f.text_area :notes_from_completion %>
            </div>
            <div class="actions">
              <%= f.submit "Je valide le recensement des objets de ma commune" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

</main>
