.co-galerie{data: { controller: "galerie--lightbox-component",
  close_path:,
  next_photo_path: next_photo&.lightbox_path,
  previous_photo_path: previous_photo&.lightbox_path,
  action: "keydown.esc@document->galerie--lightbox-component#close keydown.left@document->galerie--lightbox-component#previous keydown.right@document->galerie--lightbox-component#next" } }

  .spinner.fr-background-default--grey
    %span.fr-icon-refresh-line.co-rotating{"aria-hidden": "true"}

  - actions&.confirmations&.each do |component|
    = render component

  .header.fr-background-default--grey
    .left
      Photo #{current_index + 1} / #{count}
    .right
      - actions&.buttons&.each do |component|
        = render component
      = button_to("Fermer",
        close_path,
        method: :get,
        class: "fr-btn fr-btn--tertiary fr-btn--icon-right fr-icon-close-line close-button")

  .content
    .arrow-link
      = button_to("",
        path_without_query,
        class: "fr-btn fr-btn--secondary fr-btn--icon fr-icon-arrow-left-s-line fr-btn--sm",
        title: "photo précédente",
        method: :get,
        params: previous_photo&.lightbox_path_params,
        disabled: previous_photo.nil?)
    .photo
      = vite_or_raw_image_tag current_photo.url, alt: current_photo.alt
    .arrow-link
      = button_to("",
        path_without_query,
        class: "fr-btn fr-btn--secondary fr-btn--icon fr-icon-arrow-right-s-line fr-btn--sm",
        title: "photo suivante",
        method: :get,
        params: next_photo&.lightbox_path_params,
        disabled: next_photo.nil?)
    .credits
      = current_photo.credit || "Aucun crédit photo renseigné"
      - if current_photo.description
        = "·"
        = current_photo.description

  .footer.fr-background-default--grey
    - actions&.buttons(responsive_variant: :mobile)&.each do |component|
      = render component
