- content_for(:head_title) { "Messagerie" }

%main.fr-mb-8w.fr-container
  = render "shared/breadcrumbs",
    links: [["Accueil", root_path]], current_page_label: "Messagerie"

  %h1 Messagerie

  .fr-callout.fr-mb-5w.row
    .fr-callout__text.col-md-8
      La messagerie permet d'échanger avec le conservateur en cas de doute.
      %br
      Vous avez une question concernant le fonctionnement de la plateforme&nbsp;?
      N'hésitez pas à consulter notre documentation.
    .col-md-4.co-text--right
      = link_to "Voir la documentation", content_blob_path(:documentation_commune), class: "fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-arrow-right-line co-text--center text-nowrap"

  = render "shared/messages/list", messages: @messages, viewed_by: current_user

  = render "shared/messages/form", message: @new_message, url: commune_messages_path(@commune)

  = render "shared/messages/email_address_hint", email_address: @commune.support_email(role: :user)
