.fr-grid-row.fr-pb-4w.fr-grid-row--gutters
  .fr-col-md-6
    .hide.co-display--md
      = render GalleryComponent.palissy_photos_from_objet(objet, template: :small, display_gallery_link: true)
    - if cta
      .fr-mb-4w= cta
    %p
      %b Emplacement
      %br
      Se situe dans l'édifice
      %b= objet.edifice_nom
      %br
      %i= objet.emplacement

    %p
      %b Dénomination
      %br
      = objet.palissy_DENO

    %p
      %b Catégorie
      %br
      = objet.categorie

    %p
      %b Époque
      %br
      = objet.crafted_at || "N/A"

    %p
      %b Protection
      %br
      = objet.palissy_DPRO || "N/A"

    %p
      %b Récolement
      %br
      Dernier récolement :
      = objet.last_recolement_at || "N/A"

    %p
      %b Références
      %br
      POP (Base Palissy) :
      = objet.palissy_REF

    %p
      = link_to_palissy(objet, class: "co-text--blue") do
        Voir plus de détails sur la Plateforme Ouverte du Patrimoine
    %p
      = link_to("Signalez-nous une erreur sur cette fiche objet", "https://tally.so/r/mO4gbK", class: "fr-link", target: "_blank")

  .fr-col-md-6.co-hide--md
    = render GalleryComponent.palissy_photos_from_objet(objet, template: :full)
