.calendars
  - month_calendars.each do |calendar|
    %div
      = calendar.name
      %table.calendar
        %thead
          %tr
            %th Lu
            %th Ma
            %th Me
            %th Je
            %th Ve
            %th Sa
            %th Di
        %tbody
          - calendar.weeks.each do |week|
            %tr
              - week.days.each do |day|
                %td{:class => "#{day.css_classes}"}
                  .day-number= day.day.day
                  - day.events.each do |event|
                    %div
                      = link_to "#{event.step} #{event.campaign.departement.nom}", admin_campaign_path(event.campaign)
:css
  .calendars {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .calendar {
    border-collapse: collapse;
    width: auto;
  }

  .calendar td, th {
    padding: 4px;
    border: 1px solid #999;
  }

  .calendar th {
    background: #DDD;
    color: #666;
    text-align: center;
  }

  .calendar td {
    background: #FFF;
    color: #777;
    vertical-align: top;
  }

  .day-number {
    text-align: right;
  }

  .calendar .notmonth {
    opacity: .6;
  }

  .calendar .today {
    color: blue;
  }
