<%= turbo_frame_tag("#{dossier.id}_rapport_form") do %>
  <% if dossier.errors.any? %>
    <div class="fr-alert fr-alert--error fr-mt-3w">
      <p>
        <%= t(".error") %>
        <ul>
          <% dossier.errors.attribute_names.each do |attribute| %>
            <li><%= attribute %> <%= dossier.errors.messages_for(attribute).first %></li>
          <% end %>
        </ul>
      </p>
    </div>
  <% end %>

  <%= form_for(
    dossier,
    url: conservateurs_dossier_accept_path(dossier),
    method: "PUT",
    builder: FormBuilderDsfr,
    html: { data: { controller: "rapport-notes-form" } }
  ) do |f| %>
    <div class="fr-input-group">
      <%= f.label(
        :notes_conservateur,
        t("activerecord.attributes.dossier.interface_conservateurs.notes_conservateur")
      ) %>
      <%= f.text_area(
        :notes_conservateur,
        data: {
          "rapport-notes-form-target": "textarea",
          "original-value": @dossier.notes_conservateur,
          "action": "rapport-notes-form#toggleDisabled",
        },
        class: "co-textarea--high"
      ) %>
    </div>
    <div class="co-text--right">
      <%= f.submit(
        t(".submit_preview"),
        data: { "rapport-notes-form-target": "submit" }
      ) %>
    </div>
  <% end %>

  <h3 class="fr-mt-8w">Prévisualisation du mail</h3>
  <%= render Conservateurs::MailIframeComponent.new(mail: UserMailerPreview.new.dossier_accepted_email(dossier, current_conservateur)) %>

  <div class="fr-mt-4w">
    <%= form_for(
      dossier,
      url: conservateurs_dossier_accept_path(dossier),
      method: "POST",
      builder: FormBuilderDsfr,
      html: {
        "data-turbo-frame": "_top"
      }
    ) do |f| %>
      <div class="co-text--right">
        <%= f.submit t(".submit") %>
      </div>
    <% end %>
  </div>
<% end %>
