.fr-grid-row.fr-mb-8w
  .fr-col-md-6
    = form_with url: send("#{routes_prefix}_campaign_mail_previews_path", campaign), method: :get, builder: FormBuilderDsfr do |f|
      .fr-input-group
        = f.label :count, "Nombre de mails max (peut être lent)"
        = f.text_field :count, value: @count, type: :number, autocomplete: "off"
      .fr-input-group
        = f.submit "Prévisualiser les mails"

- campaign.recipients.includes(:commune).first(@count).each_slice(2) do |recipients|
  .fr-grid-row.fr-mb-2w.fr-grid-row--gutters
    - recipients.each do |recipient|
      .fr-col-md-6
        %b= recipient.commune
        - mail = CampaignV1Mailer.with(user: recipient.commune.users.first, commune: recipient.commune, campaign: recipient.campaign).lancement_email
        = render Conservateurs::MailIframeComponent.new mail:, display_headers: false, fit: true
