= form_with url: send("#{routes_prefix}_campaign_mail_previews_path", campaign), method: :get, class: "fr-mr-md-2w", builder: FormBuilderDsfr do |f|
  .fr-input-group
    = f.label :commune_id, "Commune à prévisualiser"
    = f.collection_select :commune_id, campaign.communes, :id, :nom, { selected: recipient.commune_id }, class: "fr-select", data: { controller: "input-autosubmit", action: "input-autosubmit#submit" }
  .fr-input-group
    = f.submit "Prévisualiser le mail", name: nil, class: "fr-hidden"

- mail = CampaignV1Mailer.with(user: recipient.commune.user, commune: recipient.commune, campaign:).lancement_email
= render Conservateurs::MailIframeComponent.new mail:, display_headers: false, fit: true
