.fr-mb-4w
  %h4 Statistiques
  .fr-grid-row.fr-grid-row--gutters
    - if stats[:statuses].present? || stats[:objets].present?
      .fr-col-md-6
        - if stats[:statuses].present?
          %p
            Statut des #{@campaign.communes.count} communes
          = bar_chart [{name: "Inactive", color: "rgba(254, 238, 113, 1)", data: [["", stats[:statuses].fetch("inactive", 0)]] },
                   {name: "Recensement démarré", color: "rgba(94, 100, 255, 1)", data: [["", stats[:statuses].fetch("started", 0)]]  },
                   {name: "Recensement terminé", color: "rgba(30, 100, 30, 1)", data: [["", stats[:statuses].fetch("completed", 0)]] }],
            stacked: true, height: 150, xtitle: "nombre de communes"

      - if stats[:objets].present?
        .fr-col-md-6
          %p
            = stats[:objets][:total]
            objets à recenser

          = bar_chart [{name: "Pas encore recensé", color: "rgba(254, 238, 113, 1)", data: [["", stats[:objets].fetch("not_recensed", 0)]] },
                   {name: "Recensé", color: "rgba(94, 100, 255, 1)", data: [["", stats[:objets].fetch("recensed", 0)]]  }],
            stacked: true, height: 150, xtitle: "nombre d’objets"

          - if stats[:objets][:recensements_with_photos_ratio].present?
            %p.fr-mt-2w
              = (stats[:objets][:recensements_with_photos_ratio] * 100).round
              \% des recensements ont des photos
