<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                Ministère
                <br>
                de la Culture
              </p>
            </div>
            <div class="fr-header__navbar">
              <% if current_conservateur %>
                <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-menu-search" title="Rechercher">
                    Rechercher
                </button>
              <% end %>
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu-links" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile">
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - Collectif Objets - Ministère de la Culture">
              <p class="fr-header__service-title">Collectif Objets</p>
            </a>
            <p class="fr-header__service-tagline">Préservez votre patrimoine mobilier</p>
          </div>
        </div>
        <div class="fr-header__tools">
          <% if current_conservateur %>
            <%= render "shared/header/header_tools_conservateur" %>
          <% elsif current_user %>
            <%= render "shared/header/header_tools_user" %>
          <% else %>
            <%= render "shared/header/header_tools_guest" %>
          <% end %>
        </div>
      </div>
    </div>
    <% if notice || alert %>
      <div class="fr-container fr-pb-2w">
        <% if notice %>
          <div class="fr-alert fr-alert--success">
            <p><%= notice %></p>
          </div>
        <% end %>
        <% if alert %>
          <div class="fr-alert fr-alert--error">
            <p><%= alert %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="fr-header__menu fr-modal" id="modal-menu-links" aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-menu-links">Fermer</button>
      <div class="fr-header__menu-links"></div>
    </div>
  </div>
</header>
