.admin-identity.wrapper.fr-text--sm(data-controller="admin-identity" data-admin-identity-target="wrapper")
  %a.button(href="#" data-action="admin-identity#toggle")
    %div
      = icon_span("admin")
      = admin_user
    %div
      = icon_span("arrow-down-s", "data-admin-identity-target": "arrow", "data-display-when-expanded": "false")
      = icon_span("arrow-up-s", "data-admin-identity-target": "arrow", "data-display-when-expanded": "true")
  %div(data-admin-identity-target="content" data-display-when-expanded="true")
    - if user.present?
      = link_to commune_objets_path(user.commune), class: "link" do
        .co-flex.co-flex--space-between.co-flex--align-items-center.co-flex--gap-05rem
          %div= icon_span("account-circle")
          - if impersonating_user?
            %div Usager incarné #{user}
            %div= icon_span("eye")
          - else
            %div Usager #{user}
    - else
      = link_to admin_communes_path, class: "link" do
        = icon_span("eye")
        Incarner un usager…
    - if conservateur.present?
      = link_to conservateurs_departements_path, class: "link" do
        .co-flex.co-flex--space-between.co-flex--align-items-center.co-flex--gap-05rem
          %div= icon_span("user-star")
          - if impersonating_conservateur?
            %div Conservateur incarné #{conservateur}
            %div= icon_span("eye")
          - else
            %div Conservateur #{conservateur}
    - else
      = link_to admin_conservateurs_path, class: "link" do
        = icon_span("eye")
        Incarner un conservateur…
    = link_to destroy_admin_user_session_path, "data-turbo-method": :delete, class: "link" do
      = icon_span("logout-box-r")
      Déconnexion
