<div data-controller="photos-upload-group">
  <div
    class="fr-fieldset <%= "fr-fieldset--error" if error_message %>"
    data-recensement-target="photos"
  >
    <legend class="fr-fieldset__legend">Photos <span class="co-text--blue">*</span></legend>
    <div class="fr-fieldset__content">
      <% existing_photos.each do |photo| %>
        <div
          class="co-flex co-flex--align-items-center fr-mb-2w"
          data-controller="recensement-form--existing-photo"
        >
          <div class="co-photo-upload-wrapper">
            <span
              class="co-delete-icon fr-icon-delete-line hide" aria-hidden="true"
              data-recensement-form--existing-photo-target="deleteIcon"
            ></span>
            <img
              src="<%= url_for(photo) %>"
              data-recensement-form--existing-photo-target="img"
            />
          </div>
          <div class="fr-checkbox-group fr-ml-2w">
            <input
              type="checkbox"
              name="remove_photo"
              id="remove_photo_<%= photo.signed_id %>"
              data-recensement-form--existing-photo-target="removeCheckbox"
              data-action="change->recensement-form--existing-photo#update change->recensement#refreshFields"
            >
            <label class="fr-label" for="remove_photo_<%= photo.signed_id %>">
              Supprimer cette photo
            </label>
          </div>
          <input
            type="hidden"
            name="recensement[photos][]"
            value="<%= photo.signed_id %>"
            data-recensement-form--existing-photo-target="hiddenInput"
          />
        </div>
      <% end %>

      <div data-photos-upload-group-target="inputsWrapper">
        <%= render PhotoUploadComponent.new %>
      </div>

      <% if error_message %>
        <p class="fr-error-text">
          <%= error_message %>
        </p>
      <% end %>

      <div class="hide">
        <%# this seems required for Turbo to send the form as multipart %>
        <%# f.file_field :photos, multiple: true %>
      </div>
    </div>
  </div>

  <div class="fr-mt-6w" data-recensement-target="skipPhotos">
    <div class="fr-checkbox-group">
      <input
        type="checkbox"
        id="recensement[skip_photos]"
        name="recensement[skip_photos]"
        <%= "checked" if skip_photos_checked %>
        data-action="change->recensement#refreshFields"
      >
      <label class="fr-label" for="recensement[skip_photos]">
        Je ne peux pas prendre cet objet en photo
      </label>
    </div>
  </div>

  <template data-photos-upload-group-target="template">
    <%= render PhotoUploadComponent.new %>
  </template>
</div>
