.co-galerie-miniatures.fr-mb-4w
  .title
    = title

  - if count.positive?
    .first
      = link_to photos[0].lightbox_path, class: "photo cursor--zoom-in" do
        = vite_or_raw_image_tag photos[0].thumb_url, alt: photos[0].alt, class: "fr-responsive-img"
  - else
    .first
      .photo
        = vite_image_tag "images/illustrations/photo-manquante.png", class: "fr-responsive-img missing-photo", alt: "Photo manquante"

  - if count > 1
    .thumbs
      - photos.from(1).to(thumbs_count).each_with_index do |photo, index|
        .thumb
          = link_to photo.lightbox_path, class: "photo cursor--zoom-in" do
            = vite_or_raw_image_tag photo.thumb_url, alt: photo.alt, class: "fr-responsive-img"

      .thumb-link
        = link_to photos[0].lightbox_path, class: "photo co-flex co-flex--align-items-center" do
          %span.co-flex--grow
            = t("galerie.miniatures.last_thumb", count: hidden_photos_count)

  - if count.zero? && actions&.upload
    = render actions.upload.confirmation_component
    = render actions.upload.button_component

  - elsif count.positive?
    .bottom-link
      = link_to photos[0].lightbox_path, class: "fr-link fr-link--icon-right fr-icon-zoom-in-line" do
        - if actions&.is_a?(Galerie::ActionGroups::ConservateurRecensement)
          = t("galerie.miniatures.open_with_actions", count:)
        - else
          = t("galerie.miniatures.open", count:)

  - if credits.any?
    .co-text--muted.fr-mt-1w.fr-text--sm
      - credits.each do |credit|
        %div= credit
