- content_for(:head_title) { "Exports mémoire par départements" }

%main#contenu
  .fr-container.fr-mb-8w
    = render "shared/breadcrumbs", links: [["Admin", admin_path]], current_page_label: "Exports par département"

    %h1 Exports par département

    .fr-table
      %table
        %thead
          %tr
            %th Département
            %th Nombre de photos à  exporter
            %th Exports déjà existants
            %th Nouvel export
        %tbody
          - @departements.each do |departement|
            %tr
              %td= departement
              %td.text-end= departement.photos_count
              %td
                - departement.pop_exports_memoire.each do |pop_export|
                  .fr-mb-2w= link_to pop_export, admin_exports_memoire_path(pop_export), class: "fr-link"
              %td
                = link_to "Nouvel export Mémoire…", new_admin_exports_memoire_path(departement_code: departement.code), class: "fr-link", title: "Export Mémoire #{departement}"
