- content_for(:head_title) { "Export Mémoire ##{@pop_export.id}" }

%main#contenu
  .fr-container.fr-mb-8w
    = render "shared/breadcrumbs", links: [["Admin", admin_path], ["Exports par département", admin_exports_memoire_index_path]], current_page_label: "Export Mémoire ##{@pop_export.id} pour #{@pop_export.departement}"

    .co-flex.co-flex--space-between
      %h1 Export Mémoire ##{@pop_export.id}
      %div
        = link_to "Supprimer", admin_exports_memoire_path(@pop_export), "data-turbo-method": "DELETE", class: "fr-btn fr-btn--icon-left fr-icon-delete-line"
    %p #{@pop_export.departement}
    %p exporté le #{l(@pop_export.created_at, format: :long_with_weekday)}

    .co-flex.co-flex--gap-1rem
      %h2 Fichiers :
      %div
        - if @pop_export.csv.attached?
          %div
            = link_to rails_blob_path(@pop_export.csv, disposition: "attachment"), class: "fr-link fr-link--icon-left fr-icon-download-line" do
              Télécharger le CSV
        - else
          %div CSV en cours de génération…
      - if @pop_export.zip.attached?
        %div
          = link_to rails_blob_path(@pop_export.zip, disposition: "attachment"), class: "fr-link fr-link--icon-left fr-icon-download-line" do
            Télécharger le ZIP des photos
      - else
        %div ZIP des photos en cours de génération…

    .co-flex.co-flex--space-between.fr-mt-8w
      %h2.h4 #{@pagy.count} Photos exportées

    = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}
    = render "photos_table", photos_recensement: @photos
    = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}
