- content_for(:head_title) { "Connexion" }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w{"data-controller": "devise--sessions"}
  = render "shared/breadcrumbs", links: [ ["Accueil", root_path]], current_page_label: "Connexion à Collectif Objets"
  .fr-grid-row
    .fr-col-md-5
      %h1.fr-h2 Connexion à Collectif Objets
      %h2.fr-h3 Rentrez le code de connexion pour #{@commune.nom}
      - if @user.session_code.present?
        .fr-mb-2w
          Le code de connexion a été envoyé à #{@user.email}
      = form_with(url: user_session_path, builder: FormBuilderDsfr, data: { turbo_frame: "_top" }) do |f|
        = f.hidden_field :email, value: @user.email
        .fr-input-group{class: ("fr-input-group--error" if @error)}
          = f.label :code, "Code de connexion (6 chiffres)"
          = f.text_field :code,
            value: params[:code],
            required: true,
            autocomplete: "off",
            autofocus: true,
            class: ("fr-input--error" if @error),
            **(@error ? { aria: { describedby: "error-message" } }  : {})
          - if @error
            %p.fr-error-text.fr-text--md{ id: "error-message" }
              = @error
        .fr-input-group.fr-btns-group
          = f.submit "Connexion"
          = link_to "Demander un nouveau code de connexion",
            new_user_session_code_path(code_insee: @commune.code_insee),
            type: "button",
            class: "fr-btn fr-btn--tertiary",
            data: { turbo_action: "advance" }

      .fr-mt-10w
        = render "users/sessions/faq"

    = render "users/sessions/right_column"
