- title = "#{@commune.nom} - Campagne #{campaign_title(@campaign)}"
- content_for(:head_title) { title }

%main.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Départements", conservateurs_departements_path], [@campaign.departement.nom, conservateurs_departement_path(@campaign.departement)], ["Campagne #{campaign_title(@campaign)}", conservateurs_campaign_path(@campaign)]], current_page_label: @commune.nom
  %h1= title

  = render "shared/campaign_recipients/show_content", campaign: @campaign, recipient: @recipient, commune: @commune, user: @user, routes_prefix: :conservateurs
