<% content_for(:head_title) { "Inscription" } %>

<main>
  <section>
    <div class="fr-container fr-py-8w">
      <% if @commune.errors.any? %>
        <div class="fr-grid-row">
          <div class="fr-col-md-6">
            <div class="fr-alert fr-alert--error fr-mb-6w">
              <p>
                Votre inscription n'a pas pu être confirmée :
                <ul>
                  <% @commune.errors.attribute_names.each do |attribute| %>
                    <li><%= @commune.errors.messages_for(attribute).first %></li>
                  <% end %>
                </ul>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <div class="fr-grid-row">
        <div class="fr-col-md-6">
          <h2 class="co-text--blue">Inscription de <%= @commune.nom %></h2>
          <p>
            Vous pouvez indiquer que votre commune est volontaire pour participer à l’opération de recensement des objets monuments historiques dont elle a la charge.
            <% if Co::Campaign::DEADLINES.keys.include?(@commune.departement) %>
              Vous aurez jusqu'au <%= l(Co::Campaign::DEADLINES[@commune.departement]) %> pour effectuer les recensements.
            <% end %>
          </p>
          <p>
            <b>Vous recevrez un accompagnement supplémentaire</b> si vous en avez besoin lors de votre recensement
          </p>
          <%= form_for(@commune, url: commune_enrollments_path(@commune), method: "POST", builder: FormBuilderDsfr) do |f| %>
            <div class="fr-checkbox-group fr-pb-2w">
              <input type="checkbox" id="confirmation" name="confirmation">
              <label class="fr-label" for="confirmation">
                Je confirme l'inscription de <%= @commune.nom %> à la campagne de recensement
              </label>
            </div>
            <div class="actions">
              <%= f.submit "Inscription" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION QUI PEUT INSCRIRE -->
  <section>
    <div class="fr-container">
      <div class="fr-grid-row fr-py-8w">
        <div class="fr-col-md-6">
          <h2 class="co-text--blue">Qui peut inscrire sa commune ?</h2>
          <p>
            En tant que propriétaire, la commune est responsable de ses objets et peut accompagner les autres propriétaires sur son territoire. En accord avec l’affectataire, la commune peut confier la réalisation de ce recensement à un tiers de confiance (association, personnalité qualifiée, ...).
          </p>
          <p>
            Le dispositif Collectif Objets est actuellement en phase de test dans plusieurs départements (Haute-Marne, Marne, ...). Nous travaillons pour déployer l’initiative rapidement au sein de nouveaux départements.
          </p>
        </div>
        <div class="fr-col-md-6 fr-px-12w">
          <%= image_tag "illustrations/man-checking-todo.svg", class: "co--width-max-100" %>
        </div>
      </div>
    </div>
  </section>
</main>
