- content_for(:head_title) { "Administration" }

%main#contenu.fr-mt-4w.fr-mb-8w
  .fr-container
    %h1
      %span.fr-icon-lock-line(aria-hidden="true")
      Administration
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-md-6
        %h2 Ressources
        %ul
          %li= link_to "Communes", admin_communes_path
          %li= link_to "Conservateurs", admin_conservateurs_path
          %li= link_to "Campagnes", admin_campaigns_path
          %li= link_to "Recenseurs", admin_recenseurs_path
          %li= link_to "Administrateurs", admin_admin_users_path
          %li
            = link_to "Fiches et articles de presse (dans le CMS)", "https://collectif-objets-cms.netlify.app/",
              target: "_blank", rel: "noopener"

      .fr-col-md-6
        %h2 Outils & Debug
        %ul
          %li= link_to "Prévisualisation des emails", admin_mail_previews_path
          %li= link_to "Suivi des tâches asynchrones (GoodJob)", "/good_job"
          %li= link_to "Codes de connexion", admin_session_codes_path
          %li= link_to "Export des photos pour Mémoire", admin_exports_memoire_index_path
          %li= link_to "Export des objets déplacés pour Palissy", admin_exports_deplaces_path
          %li= link_to "Export des objets manquants pour Palissy", admin_exports_manquants_path
