-# locals: (campaign:, recipient:, step:, routes_prefix:, mail: nil, variant: "inactive")

- possible_variants = Co::Campaigns::Mail.possible_variants_for(step, recipient.commune)

= turbo_frame_tag "#{step}_email" do
  - if mail.nil? || possible_variants.count > 1
    = form_with url: send("#{routes_prefix}_campaign_recipient_mail_preview_path", campaign, recipient), builder: FormBuilderDsfr, method: :get do |f|
      - if possible_variants.count > 1
        .fr-form-group
          %fieldset.fr-fieldset.fr-fieldset--inline
            %legend#radio-legend.fr-fieldset__legend.fr-text--regular
              Variante de mail
            .fr-fieldset__content
              - possible_variants.each do |possible_variant|
                .fr-radio-group
                  = f.radio_button :variant, possible_variant, checked: variant == possible_variant, id: "#{step}_#{possible_variant}"
                  = f.label t("campaign_v1_mailer.variants.#{possible_variant}"), for: "#{step}_#{possible_variant}"
      - if step == "relance1"
        = f.hidden_field :variant, value: "inactive"
      = f.hidden_field :step, value: step
      .fr-input-group
        = f.submit "Générer l'aperçu de l'email…", class: "fr-btn--tertiary"

  - if mail
    .fr-mt-2w
      = render Conservateurs::MailIframeComponent.new(mail:)
