- if departement.current_campaign
  %p
    Une campagne est en cours dans ce département ·
    = link_to "Voir la campagne", conservateurs_campaign_path(departement.current_campaign), class: "fr-link"
- elsif departement.campaigns.planned.any?
  - campaign = departement.campaigns.planned.first
  %p
    Une campagne est planifiée pour commencer le #{l(campaign.date_lancement)} dans ce département ·
    = link_to "Voir la campagne planifiée", conservateurs_campaign_path(campaign), class: "fr-link"
- elsif departement.campaigns.draft.any?
  %p
    Une campagne est en brouillon dans ce département ·
    = link_to "Reprendre le brouillon…", conservateurs_campaign_path(departement.campaigns.draft.first), class: "fr-link"
- else
  %p
    Aucune campagne n'est en cours dans ce département ·
    = link_to "Créer une nouvelle campagne", new_conservateurs_departement_campaign_path(departement), class: "fr-link"
