-# locals: (ransack:, departement:, communes:, pagy:, query_present:)

= turbo_frame_tag "communes-search" do
  = search_form_for ransack, url: conservateurs_departement_path(departement), method: "GET", builder: FormBuilderDsfr, data: { turbo_action: "replace" } do |f|
    .co-flex.co-flex--align-items-end
      %div
        = f.label :nom_unaccented_cont, "Nom de commune"
        = f.text_field :nom_unaccented_cont, onchange: "this.form.requestSubmit()"
      %div
        %button.fr-btn.fr-btn--tertiary.fr-icon-search-line
      .fr-pl-3w
        = f.label :status_eq, "État du recensement"
        = f.select :status_eq, communes_statuses_options_for_select(departement:), {}, onchange: "this.form.requestSubmit()"
      - if query_present
        .fr-pl-3w
          = link_to "réinitialiser les filtres", conservateurs_departement_path(departement), class: "fr-link"
    - if pagy.count == 0
      %p.co-text--italic.fr-py-8w
        Aucune commune trouvée
    - else
      .fr-table
        %table
          %thead
            %tr
              %th= sort_link ransack, :nom, "Commune", data: { turbo_action: "replace" }
              %th= sort_link ransack, :objets_count, "Objets", data: { turbo_action: "replace" }
              %th= sort_link ransack, :recensements_prioritaires_count, "Objets prioritaires", data: { turbo_action: "replace" }
              %th= sort_link ransack, "status", "Recensement", data: { turbo_action: "replace" }
              %th= sort_link ransack, "dossier_status", "Analyse", data: { turbo_action: "replace" }
          %tbody
            - communes.each do |commune|
              %tr
                %td
                  = link_to commune.nom, conservateurs_commune_path(commune), "data-turbo-frame": "_top"
                %td= commune.objets_count
                %td
                  - if commune.recensements_prioritaires_count.positive?
                    %span.fr-badge.fr-badge--sm.fr-badge--warning
                      - if commune.recensements_prioritaires_count == 1
                        1 objet prioritaire
                      - else
                        \#{commune.recensements_prioritaires_count} objets prioritaires
                  - else
                    0
                %td= t("activerecord.attributes.commune.statuses.#{commune.status}")
                %td
                  - if commune.dossier
                    %div= dossier_status_badge(commune.dossier, small: true)
                    - if commune.dossier.submitted?
                      \#{commune.recensements_analysed_percentage.round}% des recensements revus
    - if pagy.pages > 1
      .fr-mt-8w.co-pagination-wrapper
        != render partial: 'shared/pagy_nav', locals: {pagy:}
