%template{"data-code-insee" => "#{commune.code_insee}", "data-conservateur-map-target" => "sidebarCommuneTemplate"}
  .co-flex.co-flex--column.co-flex--justify-content-center.co-height--100.fr-p-4w
    .fr-mb-6w
      %h5= commune.nom
      %div= commune_statut_global_badge(commune, small: true)
    .fr-mb-6w
      - if commune.en_peril_count
        .co-text--bold
          = t(".en_peril_count", count: commune.en_peril_count)
        %div sur #{t(".recensed_count", count: commune.objets_count)}
      - else
        = t(".recensed_count", count: commune.objets_count)
    %div
      = link_to "Voir la commune", conservateurs_commune_path(commune), class: "fr-btn"
    .sidebar-close
      %button{"data-action" => "conservateur-map#closeSidebar"}
        %span.fr-icon-close-line{"aria-hidden" => "true"}
