<div class="fr-py-6w fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-md-3">
    <div class="co-background-grey co-height--100 fr-p-4w">
      <div class="fr-mb-2w">
        <b><%= stats.communes_completed_count %> communes ont recensé</b>
        sur <%= stats.communes_count %>
      </div>
      <div class="fr-h2">
        <%= stats.communes_completed_percentage %>%
      </div>
    </div>
  </div>

  <div class="fr-col-md-3">
    <div class="co-background-grey co-height--100 fr-p-4w">
      <div class="fr-mb-2w">
        <b><%= stats.objets_recenses_count %> objets recensés</b>
        sur <%= stats.objets_count %>
      </div>
      <div class="fr-h2">
        <%= stats.objets_recenses_percentage %>%
      </div>
    </div>
  </div>

  <div class="fr-col-md-6">
    <div class="co-background-grey co-height--100 fr-p-4w">
      <b>
        <%= t(".etats_sanitaires_distribution_title") %>
      </b>
      <div
        class="objets-chart"
        data-controller="objets-chart"
        data-objets-chart-target="wrapper"
        data-type="etats-sanitaires"
        data-values="<%= stats.etats_sanitaires_chart_values.to_json %>"></div>
    </div>
  </div>
</div>
