-# version desktop
.fr-mb-4w.fr-background-alt--blue-france.fr-p-2w.co-hide--sm
  %h2.fr-text--lg Statistiques du département
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-md-3.fr-col-12
      .fr-card
        .fr-card__body
          .fr-card__content
            %h3.fr-card__title.fr-text-title--blue-france Communes recenseuses : #{stats.communes_completed_percentage}%
            %p.fr-card__desc Soit #{stats.communes_completed_count} communes sur #{stats.communes_count}.

    .fr-col-md-3.fr-col-12
      .fr-card
        .fr-card__body
          .fr-card__content
            %h3.fr-card__title.fr-text-title--blue-france Objets recensés : #{stats.objets_recenses_percentage}%
            %p.fr-card__desc Soit #{stats.objets_recenses_count} objets sur #{stats.objets_count}.

    .fr-col-md-6
      .fr-card
        .fr-card__body
          .fr-card__content
            %h3.fr-card__title.fr-text-title--blue-france État sanitaire des objets recensés
            .fr-card__desc
              %canvas.co-height-150px{data: { controller: "stacked-line-chart",
                datasets: departement_etat_objets_line_chart_data(stats).to_json,
                "unit-suffix": "objet(s)",
                "x-title": "Nombre d’objets"} }
-# version mobile
.fr-mb-4w.fr-accordion.fr-background-alt--blue-france.hide.co-display--sm
  %h2.fr-accordion__title
    %button.fr-accordion__btn{"aria-expanded" => "false", "aria-controls" => "accordion-stats"} Voir les statistiques du département
  .fr-collapse.fr-px-2w.fr-pb-0#accordion-stats
    %p
      %strong= "#{stats.communes_completed_percentage}%"
      de communes recenseuses, soit
      %strong= stats.communes_completed_count
      communes sur
      %strong= "#{stats.communes_count}."

    %p
      %strong= "#{stats.objets_recenses_percentage}%"
      des objets sont recensés, soit
      %strong= stats.objets_recenses_count
      objets sur
      %strong= "#{stats.objets_count}."
