- content_for(:head_title) { t(".head_title", departement: @departement) }

= vite_javascript_tag "conservateur_map"

%main#contenu.fr-container.fr-mb-8w
  = render "shared/breadcrumbs", links: [["Départements", conservateurs_departements_path]], current_page_label: @departement.nom
  %h1= @departement.nom

  = render "campaigns", departement: @departement
  = render "stats", stats: @stats
  #tabs-container
    .fr-tabs
      %ul.fr-tabs__list{ role: :tablist, "aria-label": "Tableau ou Carte" }
        %li{role: "presentation"}
          = link_to "Vue tableau", conservateurs_departement_path(@departement, anchor: "tabs-container"), class: "fr-tabs__tab", role: :tab
        %li{role: "presentation"}
          %button#tab-carte.fr-tabs__tab{ role: :tab, aria: { selected: true, controls: :"tabpanel-carte" } }
            Vue carte

      #tabpanel-carte.fr-tabs__panel.fr-tabs__panel--selected{ role: :tabpanel, tabindex: "0", aria: { labelledby: "tab-carte" } }
        = render "map", communes: @communes, departement: @departement, departement_json: @departement_json
