- content_for(:head_title) { t(".head_title", departement: @departement) }

%main.fr-container.fr-mb-8w
  = render "shared/breadcrumbs", links: [["Départements", conservateurs_departements_path]], current_page_label: @departement.nom
  %h1= @departement.nom

  = render "campaigns", departement: @departement
  = render "stats", stats: @stats
  #tabs-container
    .fr-tabs
      %ul.fr-tabs__list{"aria-label" => "Tableau ou Carte", role: "tablist"}
        %li{role: "presentation"}
          %button#tab-tableau.fr-tabs__tab{"aria-controls" => "tabpanel-tableau", "aria-selected" => "true", role: "tab", tabindex: "0"}
            Vue Tableau
        %li{role: "presentation"}
          %a#tab-carte.fr-tabs__tab{href: "#{conservateurs_departement_path(@departement, vue: "carte", anchor: "tabs-container")}", role: "tab", tabindex: "1"}
            Vue Carte
      #tabpanel-tableau.fr-tabs__panel.fr-tabs__panel--selected{"aria-labelledby" => "tab-tableau", role: "tabpanel", tabindex: "0"}
        = turbo_frame_tag "communes-search" do
          = render Conservateurs::CommunesSearchComponent.new(communes_search: @communes_search)
