= turbo_frame_tag :session_codes do
  %h2 Derniers codes générés

  - if session_codes.size.zero?
    %p Aucun code à afficher
  - else
    .fr-table.w-100
      %table
        %thead
          %tr
            %th Commune
            %th Email
            %th Code
            %th Utilisé&nbsp;?
            %th Valide jusqu'au
        %tbody
          - session_codes.each do |session_code|
            %tr
              %th= link_to session_code.commune.nom, admin_commune_path(session_code.commune), data: { turbo_frame: "_top" }
              %td= session_code.user.email
              %td.text-center= session_code.code
              %td.text-center= session_code.used? ? "Oui" : "Non"
              %td.text-end= l session_code.valid_until, format: :long

    = render "shared/pagy_nav", pagy: @pagy if @pagy.pages > 1
