<div class="fr-table co-recensement-completion-summary">
  <table>
    <thead>
      <tr>
        <th>Objet</th>
        <th>Localisation</th>
        <th>Recensable</th>
        <th>État sanitaire de l'édifice</th>
        <th>État sanitaire de l'objet</th>
        <th>Sécurisation</th>
        <th>Photos</th>
      </tr>
    </thead>
    <tbody>
      <% objets.each do |objet| %>
        <% recensement = objet.current_recensement %>
        <% presenter = RecensementPresenter.new(recensement) %>
        <tr>
          <td>
            <div>
              <div>
                <% if recensement.objet.image_urls.any? %>
                  <img src="<%= recensement.objet.image_urls[0] %>" alt="" class="co--width-max-100">
                <% else %>
                  <%= vite_image_tag "images/illustrations/photo-manquante.png" %>
                <% end %>
              </div>
              <div>
                <%= link_to truncate(recensement.objet.nom, length: 30), objet_path(recensement.objet) %>
              </div>
            </div>
          </td>
          <td><%= presenter.localisation %></td>
          <td><%= presenter.recensable %></td>
          <% [
            :etat_sanitaire_edifice,
            :etat_sanitaire,
            :securisation
          ].each do |original_attribute_name| %>
            <td>
              <%= render Conservateurs::AnalyseOverrideComponent.new(
                recensement: recensement,
                recensement_presenter: presenter,
                original_attribute_name:
              ) %>
            </td>
          <% end %>
          <td>
            <% if recensement.missing_photos? %>
              <%= badge("warning") { "Aucune photo" } %>
            <% elsif recensement.photos.any? %>
              <div><%= recensement.photos.count %> photo<%= recensement.photos.count > 1 ? 's' : ""  %></div>
              <div class="co-recensement-photos">
                <% recensement.photos.map do |photo| %>
                  <%= image_tag photo.variant(:medium) %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
