.co-flex.co-box-shadow.co-recensement-objet-summary.fr-px-2w.fr-px-md-0
  .co-recensement-objet-summary__photo
    - if objet.palissy_photos_presenters.any?
      = image_tag objet.palissy_photos_presenters.first.url, alt: objet.palissy_photos_presenters.first.description, class: "co-height--100 co-width--100 co-object-fit-contain"
    - else
      = image_tag "illustrations/photo-manquante.png", alt: "image manquante", class: "co-height--100 co-width--100 co-object-fit-contain"
  .fr-p-2w
    .co-position-relative.co-height--100
      .co-height--100.co-overflow--hidden
        = objet.nom
        .co-text--muted.fr-mt-1w
          #{objet.edifice_nom}
          - if objet.palissy_EMPL
            (#{objet.palissy_EMPL})
          · #{objet.palissy_REF}
      .co-position-absolute.co-bottom-0.co-width--100.co-flex.co-flex--justify-content-end.co-background--white.fr-pt-1w
        %div
          = link_to "revenir à la fiche objet",
            commune_objet_path(objet.commune, objet),
            class: "fr-link fr-link--sm fr-link--icon-left fr-icon-arrow-go-back-line"
