-# locals: (wizard:)

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|
  %fieldset.fr-fieldset{ data: { controller: "choix-edifice" }}
    .fr-fieldset__element
      .fr-input-group{class: ("fr-input-group--error" if form_builder.object.errors[:edifice_id].present?)}
        = form_builder.label :edifice_id do 
          Dans quel édifice se trouve l'objet ?
          .fr-hint-text
            .fr-mb-1w
              Vous avez indiqué que l'objet se trouvait dans un autre édifice, veuillez nous indiquer l'édifice dans lequel il a été déplacé. Si vous ne savez pas où est l'objet, revenez à l'étape précédente et indiquez "non, je ne trouve pas l'objet".

        = form_builder.select :edifice_id, options_for_select([["Sélectionner un édifice", nil, { disabled: true, hidden: true, selected: form_builder.object.edifice_id.nil? }]].concat(wizard.commune.edifices.pluck(:nom, :id))), {}, { data: { "choix-edifice-target" => "edificeId"}}
        - form_builder.object.errors[:edifice_id].each do |error_message|
          %p.fr-error-text
            = error_message

    .fr-fieldset__element
      .fr-checkbox-group
        = form_builder.check_box "autre_edifice_checked",{ data: { action: "input->choix-edifice#check_autre_edifice", "choix-edifice-target" => "autreEdificeCheckbox"}}
        = form_builder.label "autre_edifice_checked", "L'objet se trouve dans un autre édifice"

    .fr-fieldset__element{data: { "choix-edifice-target" => "edificeNom" }}
      .fr-input-group.fr-mb-8w#edifice_nom{class: ("fr-input-group--error" if form_builder.object.errors[:edifice_nom].present?)}
        = form_builder.label :edifice_nom, "Quel est le nom de l’édifice dans lequel l’objet a été déplacé ?", class: "fr-label"
        = form_builder.text_field :edifice_nom
        - form_builder.object.errors[:edifice_nom].each do |error_message|
          %p.fr-error-text
            = error_message

  .co-text--right
    = form_builder.submit "Passer à l’étape suivante", class: "fr-btn"
    .fr-mt-2w= render "communes/recensements/previous_step_link", wizard: