-# locals: (wizard:)

-# À faire évoluer : utiliser les nested_attributes pour ne plus avoir edifice_nom dans Recensement

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|
  %fieldset.fr-fieldset{ data: { controller: "choix-edifice" }}
    .fr-fieldset__element
      .fr-input-group{class: ("fr-input-group--error" if form_builder.object.errors[:edifice_id].present?)}
        = form_builder.label :edifice_id do 
          Dans quel édifice se trouve l'objet ?
          .fr-hint-text
            .fr-mb-1w
              Vous avez indiqué que l'objet se trouvait dans un autre édifice, veuillez nous indiquer l'édifice dans lequel il a été déplacé. Si vous ne savez pas où est l'objet, revenez à l'étape précédente et indiquez "non, je ne trouve pas l'objet".

        %select.fr-select{name: "wizard[edifice_id]", id: "wizard_edifice_id", "data-action" => "change->choix-edifice#check_autre_edifice"}
          %option{disabled: "disabled", hidden: "hidden", value: "", selected: wizard.edifice_id.nil? && !wizard.autre_edifice_checked } Sélectionner un édifice
          - wizard.recensement.commune.edifices.each do |edifice|
            %option{value: edifice.id, selected: edifice.id == form_builder.object.recensement.edifice_id }=edifice.nom
          %option{"data-choix-edifice-target" => "autreEdifice", value: "0", selected: wizard.autre_edifice_checked } Autre édifice
        - form_builder.object.errors[:edifice_id].each do |error_message|
          %p.fr-error-text
            = error_message

    .fr-fieldset__element{data: { "choix-edifice-target" => "edificeNom" }}
      .fr-input-group.fr-mb-8w#edifice_nom{class: ("fr-input-group--error" if form_builder.object.errors[:edifice_nom].present?)}
        = form_builder.label :edifice_nom do 
          Indiquez le nom de l’édifice
          .fr-hint-text
            .fr-mb-1w
              Vous nous avez indiqué que l’objet n’était pas dans un édifice de la liste. Veuillez nous indiquer le nom de cet édifice, vous pourrez ajouter des indications supplémentaires en commentaire à l’étape 5 si nécéssaire.
        = form_builder.text_field :edifice_nom
        - form_builder.object.errors[:edifice_nom].each do |error_message|
          %p.fr-error-text
            = error_message

  .co-text--right
    = form_builder.submit "Passer à l’étape suivante", class: "fr-btn"
    .fr-mt-2w= render "communes/recensements/previous_step_link", wizard: