-# locals: (wizard:)

= render "communes/recensements/fields/photos", recensement: wizard.recensement

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|

  = render "communes/recensements/fields/recensable", form_builder:

  = form_builder.hidden_field :confirmation_not_recensable

  - if @modal == "confirmation-not-recensable"
    = dsfr_modal(title: "Je confirme que l’objet n’est pas recensable",
      opened: true,
      html_attributes: { id: "modal-confirmation-not-recensable",
        "data-controller": "modal-auto-open",
        "data-modal-auto-open-target": "modal"}) do |m|

      - m.with_header do
        = link_to "Fermer", wizard.confirmation_modal_close_path, class: "fr-link--close fr-link"

      %p Attention si vous avez ajouté des photos, celles-ci seront supprimée si vous confirmer que l’objet n’est pas recensable.
      %p Nous nous invitons à laisser un commentaire expliquant la situation.
      %p
        Vous pouvez aussi contacter vos conservateurs via la
        = link_to "messagerie", commune_messages_path(wizard.commune)
        pour lui demander de l’aide ou des conseils.

      - m.with_button do
        = dsfr_button label: "Confirmer et continuer", html_attributes: { type: "submit" }
      - m.with_button do
        = link_to "Annuler", wizard.confirmation_modal_close_path, class: "fr-btn fr-btn--secondary"

  .co-text--right
    = form_builder.submit "Passer à l’étape suivante", class: "fr-btn", data: { recensement_form_step_target: "link" }    

.fr-mt-2w.co-text--right
  = button_to "Revenir à l’étape précédente",
    edit_commune_objet_recensement_path(wizard.commune, wizard.objet, wizard.recensement),
    params: {step: wizard.previous_step_number},
    class: "fr-link fr-link--icon-left fr-icon-arrow-left-line",
    method: "get",
    data: { turbo_action: "advance", recensement_form_step_target: "link" },
    type: "button"