-# locals: (wizard:)

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|

  -# = render RecensementRadiosFieldsetComponent.new(form_builder:, field: :edifice_id) do |c|
  -#   - c.with_legend do
  -#     Dans quel édifice se trouve maintenant l’objet ?
  -#   - @commune.edifices.each do |edifice|
  -#     - c.with_option value: edifice.id, label: edifice.nom
  -#   - c.with_option value: "", label: "Autre édifice…"
  = render RecensementRadiosFieldsetComponent.new(form_builder:, field: :edifice_id) do |c|
    - c.with_legend do
      Dans quel édifice se trouve l'objet ?
      .fr-hint-text
        .fr-mb-1w
          Si vous ne trouvez pas l'objet après avoir inspecté toutes les parties de l'édifice, il convient dʼinterroger certaines personnes : les habitués, un représentant de la paroisse ou le curé lui-même, la personne en charge des accès à lʼédifice, etc.
        .fr-mb-1w
          Le recensement vise à mettre à jour les données de localisation. Ne vous étonnez pas d'une mauvaise localisation dans les fiches qui vous sont fournies.
        .fr-mb-1w
          = link_to "Voir la page 10 du guide", guide_url(page: 10), target: "_blank", rel: "noopener"
      - wizard.commune.edifices.each do |edifice|
        - c.with_option value: edifice.id, label: edifice.nom
      - c.with_option value: "",
        label: "Autre édifice",
        data: { controller: "dependent-field", target: "#edifice_nom"}
  -# .fr-input-group
  -#   = form_builder.label :autre_edifice_id, "Dans quel édifice se trouve l'objet ?"
  -#   = form_builder.select :autre_edifice_id, options_for_select(wizard.commune.edifices.pluck(:nom, :id).concat([["Autre édifice", "Autre édifice", { data: { controller: "dependent-field", input: "wizard[autre_edifice_id]", target: "#edifice_nom" }}]])), prompt: "Sélectionner un édifice"
    


  .fr-input-group.fr-mb-8w#edifice_nom{class: ("fr-input-group--error" if form_builder.object.errors[:edifice_nom].present?)}
    = form_builder.label :edifice_nom, "Quel est le nom de l’édifice dans lequel l’objet a été déplacé ?", class: "fr-label"
    = form_builder.text_field :edifice_nom
    - form_builder.object.errors[:edifice_nom].each do |error_message|
      %p.fr-error-text
        = error_message

  .co-text--right
    = form_builder.submit "Passer à l’étape suivante", class: "fr-btn"
    .fr-mt-2w= render "communes/recensements/previous_step_link", wizard: