-# locals: (wizard:)
- recensement = wizard.recensement

.fr-input-group{class: ("fr-input-group--error" if recensement.errors[:photos].present?)}
  %label.fr-label.fr-mb-2w{for: "recensement_photos"}
    %span.co-text--bold Prenez des photos de l’objet dans son état actuel
    .fr-hint-text
      .fr-mb-1w
        %ul
          %li Une vue de lʼobjet entier de face
          %li Une vue de lʼobjet entier de côté
          %li Une ou plusieurs photos de détails sur les points dʼattention à signaler à vos conservateurs
      .fr-mb-1w
        Vous pouvez ajouter plusieurs photos une par une. Taille maximale : 10Mo. Formats acceptés : jpg ou png.
      .fr-mb-1w
        En déposant des photos, vous acceptez leur réutilisation dans le cadre de la
        = link_to "https://www.etalab.gouv.fr/licence-ouverte-open-licence/", target: "_blank", rel: "noopener" do
          Licence Ouverte Etalab
      .fr-mb-1w= link_to "Voir la page 15 du guide", guide_url(page: 15), target: "_blank", rel: "noopener"
  = render PhotoUploadComponent.new(url: commune_objet_recensement_photos_path(recensement.commune, recensement.objet, recensement))

  - recensement.errors[:photos].each do |error_message|
    %p.fr-error-text
      = error_message

#attached-photos-wrapper.co-flex.co-flex--gap-1rem.co-flex--wrap
  - recensement.photos.select(&:persisted?).each do |photo|
    = render "communes/recensements/photo", photo:, recensement:, delete_button: true

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|

  .fr-checkbox-group
    = form_builder.check_box :recensable, { checked: !@recensement.recensable}, false, true
    = form_builder.label :recensable do
      Cet objet n’est pas recensable
      .fr-hint-text
        .fr-mb-1w
          Attention: cette case n'est à cocher que pour les objets que vous ne pouvez pas atteindre ou prendre en photo de près


  = form_builder.hidden_field :confirmation_not_recensable

  - if @modal == "confirmation-not-recensable"
    = dsfr_modal(title: "Je confirme que l’objet n’est pas recensable",
      opened: true,
      html_attributes: { id: "modal-confirmation-not-recensable",
        "data-controller": "modal-auto-open",
        "data-modal-auto-open-target": "modal"}) do |m|

      - m.with_header do
        = link_to "Fermer", wizard.confirmation_modal_close_path, class: "fr-link--close fr-link"

      %p Attention si vous avez ajouté des photos, celles-ci seront supprimées si vous confirmez que l’objet n’est pas recensable.
      %p Nous nous invitons à laisser un commentaire expliquant la situation.
      %p
        Vous pouvez aussi contacter vos conservateurs via la
        = link_to "messagerie", commune_messages_path(wizard.commune)
        pour lui demander de l’aide ou des conseils.

      - m.with_button do
        = dsfr_button label: "Confirmer et continuer", html_attributes: { type: "submit" }
      - m.with_button do
        = link_to "Annuler", wizard.confirmation_modal_close_path, class: "fr-btn fr-btn--secondary"

  .co-text--right
    = form_builder.submit "Passer à l’étape suivante", class: "fr-btn", data: { recensement_form_step_target: "link" }    

.fr-mt-2w.co-text--right
  = button_to "Revenir à l’étape précédente",
    edit_commune_objet_recensement_path(wizard.commune, wizard.objet, wizard.recensement),
    params: {step: wizard.previous_step_number},
    class: "fr-link fr-link--icon-left fr-icon-arrow-left-line",
    method: "get",
    data: { turbo_action: "advance", recensement_form_step_target: "link" },
    type: "button"