-# locals: (wizard:)

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|

  = render RecensementRadiosFieldsetComponent.new(form_builder:, field: :recensable) do |c|
    - c.with_legend do
      L’objet est-il recensable ?
      .fr-hint-text
        .fr-mb-1w
          Si l’objet est trop difficile d’accès (par exemple au sommet d’un clocher), ou bien si l’objet est dans une propriété privée, vous ne pouvez peut-être pas le recenser.
        .fr-mb-1w= link_to "Voir la page 7 du guide", guide_url(page: 7), target: "_blank", rel: "noopener"
    - c.with_option value: :true, label: t("recensement.recensable_choices.true")
    - c.with_option value: :false, label: t("recensement.recensable_choices.false")

  = form_builder.hidden_field :confirmation_not_recensable

  - if @modal == "confirmation-not-recensable"
    = dsfr_modal(title: "Je confirme que l’objet n’est pas recensable",
      opened: true,
      html_attributes: { "data-controller": "modal-auto-open" }) do |m|

      - m.with_header do
        = link_to "Fermer", wizard.confirmation_modal_close_path, class: "fr-link--close fr-link"

      %p Cette option est à utiliser dans le cas où vous n’avez pas accès à l’objet, par exemple dans un clocher dangereusement accessible, ou bien un objet qui se trouve temporairement en restauration.
      %p Vous allez être redirigé directement vers l’étape des commentaires.
      %p
        Vous pouvez aussi contacter vos conservateurs via la
        = link_to "messagerie", [wizard.namespace, wizard.commune, :messages].compact, "data-turbo-frame": "_top"
        pour lui demander de l’aide ou des conseils pour recenser l’objet.

      - m.with_button do
        = dsfr_button label: "Confirmer et continuer", html_attributes: { type: "submit" }
      - m.with_button do
        = link_to "Annuler", wizard.confirmation_modal_close_path, class: "fr-btn fr-btn--secondary"
