-# locals: (wizard:)

-# À faire évoluer : utiliser les nested_attributes pour ne plus avoir edifice_nom dans Recensement

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|
  %fieldset.fr-fieldset
    .fr-fieldset__element
      .fr-input-group{class: ("fr-input-group--error" if form_builder.object.errors[:autre_commune_code_insee].present?)}
        = form_builder.label :autre_commune_code_insee do 
          Quel est le code INSEE de la commune dans laquelle se trouve l’objet ?
          .fr-hint-text
            .fr-mb-1w
              Vous pourrez ajouter des indications supplémentaires en commentaire à l’étape 5 si nécéssaire. Si vous ne savez pas où est l’objet, revenez à l’étape précédente et indiquez "non, je ne trouve pas l’objet".
        = form_builder.text_field :autre_commune_code_insee
        - form_builder.object.errors[:autre_commune_code_insee].each do |error_message|
          %p.fr-error-text
            = error_message

    .fr-fieldset__element
      .fr-input-group#edifice_nom{class: ("fr-input-group--error" if form_builder.object.errors[:edifice_nom].present?)}
        = form_builder.label :edifice_nom do 
          Dans quel édifice se trouve l'objet ?
          .fr-hint-text
            .fr-mb-1w
              Veuillez nous indiquer le nom de l’édifice dans lequel l’objet a été déplacé, vous pourrez ajouter des indications supplémentaires en commentaire à l’étape 5 si nécéssaire.
        = form_builder.text_field :edifice_nom
        - form_builder.object.errors[:edifice_nom].each do |error_message|
          %p.fr-error-text
            = error_message

  .co-text--right
    = form_builder.submit "Passer à l’étape suivante", class: "fr-btn"
    .fr-mt-2w= render "communes/recensements/previous_step_link", wizard: