-# locals: (:wizard, :recensement)

= render "communes/recensements/fields/photos", recensement:

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|

  = form_builder.hidden_field :confirmation_no_photos

  - if @modal == "confirmation-no-photos"
    = dsfr_modal(title: "Êtes-vous sûr de ne pas pouvoir prendre de photos ?",
          opened: true,
          html_attributes: { id: "modal-confirmation-no-photos",
            "data-controller": "modal-auto-open",
            "data-modal-auto-open-target": "modal"}) do |m|
      - m.with_header do
        = link_to "Fermer", wizard.confirmation_modal_close_path, class: "fr-link--close fr-link"
      %p Attention : votre recensement risque de ne pas être exploitable par le conservateur sans photos.

      %p
        En cas de difficultés, n’hésitez pas à contacter votre conservateur sur la
        = link_to "messagerie", commune_messages_path(wizard.commune)

      - m.with_button do
        = dsfr_button label: "Confirmer et continuer", html_attributes: { type: "submit" }
      - m.with_button do
        = link_to "Annuler", wizard.confirmation_modal_close_path, class: "fr-btn fr-btn--secondary"

  .co-text--right
    = form_builder.submit "Passer à l’étape suivante", class: "fr-btn", data: { recensement_form_step_target: "link" }

.fr-mt-2w.co-text--right
  = button_to "Revenir à l’étape précédente",
    edit_commune_objet_recensement_path(wizard.commune, wizard.objet, wizard.recensement),
    params: {step: wizard.previous_step_number},
    class: "fr-link fr-link--icon-left fr-icon-arrow-left-line",
    method: "get",
    data: { turbo_action: "advance", recensement_form_step_target: "link" },
    type: "button"
