-# locals: (wizard:)

= render "communes/recensements/wizard_form", wizard: wizard do |form_builder|

  = render RecensementRadiosFieldsetComponent.new(form_builder:, field: :localisation) do |c|
    - c.with_legend do
      Avez-vous trouvé l’objet ?
      .fr-hint-text
        L’intérêt de ce recensement est de constater l’état actuel de l’objet.
        Il est donc nécessaire de vous déplacer pour faire vos observations.
    - c.with_option value: :edifice_initial, label: t("recensement.localisation.choices.edifice_initial_html", nom_edifice: form_builder.object.objet.palissy_EDIF)
    - c.with_option value: :autre_edifice, label: t("recensement.localisation.choices.autre_edifice_html", nom_commune: form_builder.object.commune.nom)
    - c.with_option value: :absent, label: t("recensement.localisation.choices.absent_html")


  = form_builder.hidden_field :confirmation_introuvable

  - if @modal == "confirmation-introuvable"
    = dsfr_modal(title: "Je confirme ne pas trouver l’objet",
      opened: true,
      html_attributes: { id: "modal-confirmation-introuvable",
        "data-controller": "modal-auto-open",
        "data-modal-auto-open-target": "modal"}) do |m|
      - m.with_header do
        = link_to "Fermer", wizard.confirmation_modal_close_path, class: "fr-link--close fr-link"
      %p
        Vous allez être redirigé directement vers l’étape des commentaires.
      %p
        Vous pouvez aussi contacter vos conservateurs via la
        = link_to "messagerie", commune_messages_path(wizard.commune), "data-turbo-frame": "_top"
        pour lui demander de l’aide ou des conseils pour localiser l’objet.
      - m.with_button do
        = dsfr_button label: "Confirmer et continuer", html_attributes: { type: "submit" }
      - m.with_button do
        = link_to "Annuler", wizard.confirmation_modal_close_path, class: "fr-btn fr-btn--secondary"

  .co-text--right
    = form_builder.submit "Passer à l’étape suivante", class: "fr-btn"
    .fr-mt-2w
      = link_to "Revenir à la fiche objet",
        commune_objet_path(wizard.commune, wizard.objet),
        class: "fr-link fr-link--icon-left fr-icon-arrow-left-line",
        data: { turbo_frame: "_top" }
