<% title = t("pages.pdf_embed.title.#{@pdf_name}") %>
<% content_for(:head_title) { title } %>

<main class="fr-container fr-pt-2w fr-pb-8w">
  <%= render(
    "shared/breadcrumbs",
    links: [["Accueil", root_path]] + @breadcrumbs,
    current_page_label: title
  ) %>
  <h2 class="co-text--blue">
    <%= title %>
  </h2>
  <p>
    <%= link_to(
      "Télécharger",
      pdf_download_url(pdf: @pdf_name),
      class: "fr-link fr-link--icon-right fr-fi-file-download-line",
      download: "#{@pdf_name}.pdf"
    ) %>
  </p>
  <embed
    title="<%= title %>"
    src="<%= pdf_download_url(pdf: @pdf_name) %>"
    type="application/pdf"
    width="100%"
    class="co-guide-embed" />
</main>
