<main class="fr-container fr-my-4w">
  <h2>Prévisualisations des emails</h2>
  <div class="fr-grid-row">
    <div class="fr-col-md-4">
      <% @previews.each do |mailer_preview| %>
        <div class="fr-mb-4w">
          <h5><%= mailer_preview.preview_name.titleize %></h5>
          <ul>
            <% mailer_preview.emails.each do |mail_name| %>
              <li>
                <%= link_to(
                  t("#{mailer_preview.preview_name}.#{mail_name}.title", default: mail_name),
                  mail_previews_path(mail_name:, mailer_name: mailer_preview.preview_name),
                  "data-turbo-frame": "mail_preview",
                  "data-turbo-action": "advance"
                ) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="fr-col-md-8">
      <%= turbo_frame_tag "mail_preview" do %>
        <% if @mail %>
          <h5>
            <%= @mailer_preview.preview_name.titleize %> /
            <%= t("#{@mailer_preview.preview_name}.#{@mail_name}.title", default: @mail_name) %>
          </h5>
          <%= render("conservateurs/mail_preview", mail: @mail, fit: true) %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>