<div class="fr-accordions-group co-background--light-teal fr-mb-4w">
  <section class="fr-accordion">
    <h3 class="fr-accordion__title">
      <button
        class="fr-accordion__btn"
        aria-expanded="<%= local_assigns.fetch(:expanded, false) ? 'true' : 'false' %>"
        aria-controls="etapes-accordion"
      >
        <%= t(".unfold") %>
      </button>
    </h3>
    <div class="fr-collapse" id="etapes-accordion">
      <div class="fr-container fr-grid-row fr-grid-row--center fr-mt-4w">
        <div class="fr-col-md-4 fr-px-4w">
          <%= vite_image_tag "images/illustrations/etape1.svg", class: "fr-mb-2w  co--width-max-100" %>
          <p><%= t(".etape1_html") %></p>
        </div>
        <div class="fr-col-md-4 fr-px-4w">
          <%= vite_image_tag "images/illustrations/etape2.svg", class: "fr-mb-2w  co--width-max-100" %>
          <p><%= t(".etape2_html") %></p>
        </div>
        <div class="fr-col-md-4 fr-px-4w">
          <%= vite_image_tag "images/illustrations/etape3.svg", class: "fr-mb-2w  co--width-max-100" %>
          <p><%= t(".etape3_html") %></p>
        </div>
      </div>
      <div class="co-text--center fr-pt-4w">
        <%= link_to t(".cta"), aide_path, class: "fr-btn fr-btn--secondary" %>
      </div>
    </div>
  </section>
</div>


