%main#contenu
  .fr-container.fr-mb-8w
    = render "shared/breadcrumbs", links: [["Admin", admin_path]], current_page_label: "Exports par département"

    %h1 Exports par département

    .fr-table
      %table
        %thead
          %tr
            %th Département
            %th Dossiers examinés
            %th Recensements examinés
            %th dont disparus ou introuvables
            %th Photos
            %th Exports
        %tbody
          - @departements.each do |departement|
            %tr
              %td= departement
              %td= departement.dossiers.length
              %td= departement.recensements.length
              %td= departement.recensements.to_a.reject(&:pop_export_palissy_id).reject(&:edifice_initial?).length
              %td
                - photos_count = departement.recensements.to_a.reject(&:pop_export_memoire_id).sum { _1.photos.select(&:exportable?).length }
                - new_photos_count = departement.recensements.to_a.reject(&:pop_export_memoire_id).reject { |r| r.objet.palissy_photos.any? }.sum { _1.photos.select(&:exportable?).length }
                %div #{photos_count} photos
                %div dont #{new_photos_count} premières photos
                - if photos_count > 0 && new_photos_count > 0
                  %div (soit #{(new_photos_count.to_f * 100 / photos_count).round}%)
                %div + #{departement.recensements.to_a.reject(&:pop_export_memoire_id).sum { _1.photos.reject(&:exportable?).length }} photos non exportables
              %td.co-white-space-nowrap
                - departement.pop_exports.palissy.each do |pop_export|
                  .fr-mb-2w= link_to pop_export, admin_exports_palissy_path(pop_export), class: "fr-link"
                %div= link_to "nouvel export Palissy …", new_admin_exports_palissy_path(departement_code: departement.code), class: "fr-link"
                - departement.pop_exports.memoire.each do |pop_export|
                  .fr-mb-2w= link_to pop_export, admin_exports_memoire_path(pop_export), class: "fr-link"
                = link_to "Nouvel export Mémoire…", new_admin_exports_memoire_path(departement_code: departement.code), class: "fr-link", title: "Export Mémoire #{departement}"
        %tfooter
          %tr
            %th Totaux
            %th= @departements.sum { _1.dossiers.length }
            %th= @departements.sum { _1.recensements.length }
            %th= @departements.sum { _1.recensements.to_a.reject(&:pop_export_palissy_id).reject(&:edifice_initial?).length }
            %th
              - photos_count = @departements.sum { |d| d.recensements.to_a.reject(&:pop_export_memoire_id).sum { |r| r.photos.select(&:exportable?).length } }
              - new_photos_count = @departements.sum { |d| d.recensements.to_a.reject(&:pop_export_memoire_id).reject { |r| r.objet.palissy_photos.any? }.sum { |r| r.photos.select(&:exportable?).length } }
              %div #{photos_count} photos
              %div dont #{new_photos_count} premières photos
              - if photos_count > 0 && new_photos_count > 0
                %div (soit #{(new_photos_count.to_f * 100 / photos_count).round}%)
            %th
