= turbo_frame_tag photo do
  = link_to url_for(photo), target: "_blank", rel: "noopener" do
    = image_tag url_for(photo.variant(:small))
  %ul.fr-btns-group.fr-btns-group--inline-sm
    %li= button_to "⤹", admin_attachment_rotate_path(photo.id, degrees: 90), "data-turbo-method": "POST", class: "fr-btn fr-btn--secondary fr-btn--sm"
    %li= button_to "⤸", admin_attachment_rotate_path(photo.id, degrees: 90), "data-turbo-method": "POST", class: "fr-btn fr-btn--secondary fr-btn--sm"
