%main
  .fr-container.fr-mb-8w
    = render "shared/breadcrumbs", links: [["Admin", admin_path]], current_page_label: "Export"
    %h1 Générer un export pour POP
    .fr-grid-row
      .fr-col-md-6
        = form_for @export, url: admin_exports_path, builder: FormBuilderDsfr, as: :export do |f|
          .fr-input-group
            = f.label :departement_code, "Département"
            = f.select :departement_code, departements_options
          = f.submit "Générer"
    - if @export.departement_code.present?
      %h2.fr-mt-4w Export
      %ul
        %li #{@dossiers.count} dossiers de communes à exporter
        %li
          #{@recensements.count} recensements
          %ul
            - @recensements.pluck(:localisation).tally.each do |value, count|
              %li #{count} #{value}
        %li #{@photos.count} photos

  - if @recensements
    .fr-container
      %h4 Export pour Palissy : objets déplacés ou disparus
    .fr-table
      %table
        %thead
          %tr
            %th PM
            %th Commune
            %th DEPL
            %th commentaires
        %tbody
          - @recensements.reject(&:edifice_initial?).each do |recensement|
            %tr
              %td #{recensement.objet.palissy_REF}
              %td #{recensement.commune}
              %td
                - if recensement.autre_edifice?
                  déplacé ;
                  = recensement.edifice_nom
                - elsif recensement.absent?
                  disparu
              %td{style: "max-width: 40rem;"}
                - if recensement.notes.present?
                  %div Commentaire de la commune:
                  .fr-pl-1w.co-text--italic= recensement.notes
                - if recensement.analyse_notes.present?
                  %div Commentaire du conservateur:
                  .fr-pl-1w.co-text--italic= recensement.analyse_notes

    .fr-container.fr-mb-8w
      %h4 Export pour Mérimée : #{@photos.count} nouvelles photos
      %button.fr-btn.fr-btn--secondary{href: "#", onclick: "document.getElementById('photos').classList.toggle('display-fixed');"}
        Voir les valeurs fixes
    .fr-table#photos
      %table
        %thead
          %tr
            %th Photo
            %th Commune
            %th LBASE
            %th REF
            %th REFIMG
            %th NUMP
            %th DATPV
            %th.fixed COULEUR
            %th.fixed OBS
            %th COM
            %th.fixed DOM
            %th EDIF
            %th.fixed COPY
            %th.fixed TYPDOC
            %th.fixed IDPROD
            %th.fixed LIEUCOR
          %tr.fr-text--sm
            %th
            %th
            %th Identifiant de l’objet photographié
            %th Référence qui sera indiquée sur la notice Mémoire
            %th Référence du fichier numérique avec cote
            %th Numéro du phototype
            %th Date de prise de vue
            %th.fixed Photographie en couleur
            %th.fixed doute sur la localisation, sur le nom du photographe, fonction du photographe…
            %th Commune sous sa forme éditorialisée
            %th.fixed Domaine : Objet ou Architecture
            %th Nom de l’édifice où se trouve l’objet. SI édifice protégé, reprendre l’appellation de Mérimée MH
            %th.fixed Crédits
            %th.fixed Type de documents
            %th.fixed
            %th.fixed
          %tr
            %th
            %th ex: Vouziers
            %th ex: PM3049585
            %th MHCO + NUMP
            %th « . » format
            %th AAAA + numéro de département + numéro d’ordre de la photo
            %th AAAA
            %th.fixed Oui / Non
            %th.fixed
            %th ex: Vouziers
            %th.fixed objet
            %th
            %th.fixed © Ministère de la Culture…
            %th.fixed Image numérique native
            %th.fixed MHCO008
            %th.fixed Collectif Objets

        %tbody
          - @recensements.each do |recensement|
            - recensement.photos.each do |photo|
              %tr
                %td= render "photo", photo:
                %td= recensement.commune
                %td #{recensement.objet.palissy_REF}
                %td
                  -# ref
                %td
                  -# refimg
                %td
                  -# nump
                %td
                  -# datpv
                %td.fixed Oui
                %td.fixed Photographie fournie lors du recensement réalisé par Collectif Objets
                %td= recensement.commune.nom
                %td.fixed objet
                %td= recensement.objet.edifice.nom
                %td.fixed © Ministère de la Culture (France), Collectif Objets – Tous droits réservés
                %td.fixed Image numérique native
                %td.fixed MHCO008
                %td.fixed Collectif Objets

  :css
    .fr-table:not(.display-fixed) .fixed {
      display: none;
    }
    .fr-table thead tr:not(:first-child) th {
      font-size: 0.6rem;
      line-height: 1rem;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    #photos img {
      max-width: 150px;
    }
    #photos a[target="_blank"] {
      background: none;
    }
    #photos a[target="_blank"]::after {
      display: none;
    }
