<div data-controller="password-visibility">
  <label for="<%= input_id %>" class="fr-label">
    <div class="co-flex co-flex--space-between">
      <span>
        <%= label %>
      </span>
      <span>
        <button
          type="button"
          class="fr-link fr-fi-eye-line fr-link--icon-left"
          data-password-visibility-target="button"
          data-action="password-visibility#toggle">
          Afficher
        </button>
      </span>
    </div>
    <% if hint %>
      <span class="fr-hint-text">
        <%= I18n.t("conservateurs.password.hint") %>
      </span>
    <% end %>
  </label>
  <input type="password"
    id="<%= input_id %>"
    name="<%= name %>"
    required="true"
    data-password-visibility-target="input"
    class="fr-input"
    <% if autocomplete %>
      autocomplete="<%= autocomplete %>"
    <% end %>
    <% if autofocus %>
      autofocus="true"
    <% end %>
    />
</div>
