<div data-controller="password-visibility">
  <label for="<%= input_id %>" class="fr-label">
    <%= label %>
    <% if hint %>
      <span class="fr-hint-text">
        <%= I18n.t("conservateurs.password.hint") %>
      </span>
    <% end %>
  </label>
  <div class="fr-input-wrap fr-input-wrap--addon">
    <input type="password"
      id="<%= input_id %>"
      name="<%= name %>"
      required="true"
      data-password-visibility-target="input"
      class="fr-input"
      <% if autocomplete %>
        autocomplete="<%= autocomplete %>"
      <% end %>
      <% if autofocus %>
        autofocus="true"
      <% end %>
      />
    <button
      type="button"
      class="fr-btn fr-btn--secondary fr-btn--icon-left fr-fi-eye-line"
      data-password-visibility-target="button"
      data-action="password-visibility#toggle"
      title="Afficher le mot de passe"
      aria-label="Afficher le mot de passe">
      Afficher
    </button>
  </div>
</div>
