= turbo_frame_tag "communes-search" do
  = search_form_for ransack, url: conservateurs_departement_path(departement), method: "GET", builder: FormBuilderDsfr do |f|
    .co-flex.co-flex--align-items-end
      %div
        = f.label :nom_cont, "Nom de commune"
        = f.text_field :nom_cont, onchange: "this.form.requestSubmit()"
      %div
        %button.fr-btn.fr-btn--tertiary.fr-icon-search-line
      .fr-pl-3w
        = f.label :status, "État du recensement"
        = f.select :status, status_options_for_select, {}, onchange: "this.form.requestSubmit()"
    - if pagy_obj.count == 0
      %p.co-text--italic.fr-py-8w
        Aucune commune trouvée
    - else
      .fr-table
        %table
          %thead
            %tr
              %th
                = link_to(                                |
                    "Commune #{order_link_arrow("nom")}", |
                    order_link_path("nom")                |
                  )                                       |
              %th
                = link_to(                                        |
                    "Objets #{order_link_arrow("objets_count")}", |
                    order_link_path("objets_count")               |
                  )                                               |
              %th
                = link_to(                                                                        |
                    "Objets prioritaires #{order_link_arrow("recensements_prioritaires_count")}", |
                    order_link_path("recensements_prioritaires_count")                            |
                  )                                                                               |
              %th
                = link_to(                                                |
                    "Recensement #{order_link_arrow("communes.status")}", |
                    order_link_path("communes.status")                    |
                  )                                                       |
              %th
                = link_to(                                            |
                    "Analyse #{order_link_arrow("dossiers.status")}", |
                    order_link_path("dossiers.status")                |
                  )                                                   |
          %tbody
            - communes.each do |commune|
              %tr
                %td
                  = link_to commune.nom, conservateurs_commune_path(commune), "data-turbo-frame": "_top"
                %td= commune.objets_count
                %td
                  - if commune.recensements_prioritaires_count > 0
                    %span.fr-badge.fr-badge--sm.fr-badge--warning
                      = t(".prioritaires", count: commune.recensements_prioritaires_count)
                  - else
                    0
                %td
                  = t("activerecord.attributes.commune.statuses.#{commune.status}")
                  %br/
                %td
                  - if commune.dossier
                    = dossier_status_badge(commune.dossier, small: true)
                    %br/
                    - if commune.dossier.submitted?
                      = commune.recensements_analysed_percentage.round
                      \% des recensements revus
    - if pagy_obj.pages > 1
      .fr-mt-8w.co-pagination-wrapper
        != render partial: 'shared/pagy_nav', locals: {pagy: pagy_obj}
