- if banners.any?
  .co-background-color-inherit.co-position-sticky.co-top-0.co-z-index-600.co-print-hide.fr-text--sm{role: "alert",
    data: { controller: :visibility }}
    .fr-container--fluid.co-flex.co-flex--space-between.co-flex--align-items-center.co-flex--wrap.co-flex--gap-05rem.fr-mb-1w
      .co-flex--grow
        - if banners.include?(:environment)
          %div{class: "fr-alert fr-alert--sm fr-alert--#{Rails.configuration.x.environment_specific_name == "staging" ? "warning" : "error"} fr-icon-alarm-warning-line co-white-space-nowrap"}
            .co-environment-banner.co-flex.co-flex--space-between
              Env #{Rails.configuration.x.environment_specific_name}
              - if Rails.env.development?
                %div= link_to "mailhog", "http://localhost:8025", class: "fr-link fr-link--sm", target: "_blank", rel: "noopener"

        - if banners.include?(:conservateur_impersonate)
          = render ImpersonateCalloutComponent.new name: "le conservateur #{current_conservateur}",
            mode: session[:conservateur_impersonate_write].present? ? :write : :read,
            toggle_path: toggle_impersonate_mode_admin_conservateurs_path

        - if banners.include?(:user_impersonate)
          = render ImpersonateCalloutComponent.new name: "l'usager #{current_user} de la commune #{current_user.commune}",
            mode: session[:user_impersonate_write].present? ? :write : :read,
            toggle_path: toggle_impersonate_mode_admin_users_path

      .co-text--right
        %button{type: :button,
          data: { action: "visibility#hide" },
          class: "fr-btn fr-btn--tertiary fr-btn--tertiary fr-icon-close-line fr-btn--icon-right fr-btn--sm fr-mx-1w"}
          Cacher
