-# local_assigns: (:rapport)

%h1 Rapport de recensement

.co-flex.co-flex--align-items-center.co-flex--gap-1rem.fr-mb-2w
  %div
    %h2.fr-mb-0= rapport.commune
  - if current_conservateur
    = dossier_visit_badge(rapport.dossier)

%p
  Dossier de recensement analysé le #{l(rapport.accepted_at.to_date)}
  par #{rapport.conservateur}
  (#{link_to(rapport.conservateur.email, "mailto:#{rapport.conservateur.email}", data: { turbo_frame: "_top" })})

%h4 Table des matières
%ul.fr-mb-8w
  %li
    %a{href: "#commentaires"} Commentaires
  - rapport.recensement_items.each do |item|
    %li
      %a{href: "##{item.objet.palissy_REF}"}
        \#{item.index} - #{item.objet.nom}

%h4= t('activerecord.attributes.dossier.notes_commune')
%p= blockquote(rapport.notes_commune.presence || "Aucun commentaire")

%h4= t('activerecord.attributes.dossier.notes_conservateur')
%p= blockquote(rapport.notes_conservateur.presence || "Aucun commentaire")

- rapport.fiches.each do |fiche|
  %h2 Fiche #{fiche.title}
  - fiche.recensement_items.each do |item|
    = item.objet.palissy_TICO

- rapport.recensement_items.each do |item|
  = render "shared/rapport/recensement", **item.to_h, commune: rapport.commune
