%footer#footer.fr-footer{role: "contentinfo"}
  .fr-container
    .fr-footer__body
      .fr-footer__brand.fr-enlarge-link.co-footer-logo
        = link_to "https://www.culture.gouv.fr/" do
          %p.fr-logo
            Ministère
            %br
            de la Culture
      .fr-footer__brand.fr-enlarge-link.co-footer-logo
        = link_to "https://www.culture.gouv.fr/Thematiques/monuments-sites/monuments-historiques-sites-patrimoniaux/les-monuments-historiques", title: "Monuments Historiques" do
          = vite_image_tag "images/logo-monuments-historiques.png", alt: "Monuments Historiques"
      .fr-footer__brand.fr-enlarge-link.co-footer-logo
        = link_to "https://www.modernisation.gouv.fr/transformer-laction-publique/fonds-pour-la-transformation-de-laction-publique", title: "FTAP : Fonds pour la Transformation de l'Action Publique — Ministère de la transformation et de la fonction publique" do
          = vite_image_tag "images/logo-FTAP.png", class: "co--width-max-100", alt: "Fonds pour la Transformation de l'Action Publique"
    .fr-footer__bottom
      %ul.fr-footer__bottom-list
        %li.fr-footer__bottom-item.co-white-space-nowrap
          = link_to "mailto:#{current_user&.commune&.support_email(role: :user) || CONTACT_EMAIL}", class: "fr-footer__bottom-link fr-link--icon-left fr-icon-mail-line" do
            Contact
        %li.fr-footer__bottom-item.co-white-space-nowrap
          = link_to fiches_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-file-line" do
            Fiches
        %li.fr-footer__bottom-item.co-white-space-nowrap
          = link_to stats_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-line-chart-line" do
            Statistiques
        %li.fr-footer__bottom-item.co-white-space-nowrap
          = link_to presse_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-chat-2-line" do
            On parle de nous
        %li.fr-footer__bottom-item.co-white-space-nowrap
          = link_to content_blob_path(:aide_en_ligne), class: "fr-footer__bottom-link fr-link--icon-left fr-icon-question-line" do
            Aide en ligne
        - if current_admin_user.nil?
          %li.fr-footer__bottom-item.co-white-space-nowrap
            = link_to admin_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-lock-line" do
              Administration
        %li.fr-footer__bottom-item.co-white-space-nowrap
          = link_to plan_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-list-unordered" do
            Plan du site
        %li.fr-footer__bottom-item.co-white-space-nowrap
          %button.fr-footer__bottom-link.fr-icon-theme-fill.fr-link--icon-left{"aria-controls": "fr-theme-modal", "data-fr-opened": "false"}
            Paramètres d'affichage
      .fr-footer__bottom-copy
        %p
          %span.co-white-space-nowrap= link_to "Mentions légales", mentions_legales_path
          \·
          %span.co-white-space-nowrap= link_to "Conditions Générales d'utilisation", conditions_path
          \·
          %span.co-white-space-nowrap= link_to "Politique de confidentialité", confidentialite_path
          \·
          Sauf mention contraire, tous les contenus de ce site sont sous
          %span.co-white-space-nowrap
            = link_to "Licence etalab-2.0", "https://github.com/etalab/licence-ouverte/blob/master/LO.md", target: "_blank", rel: "noopener"
        %p
          Accessibilité : non conforme
          \·
          %span.co-white-space-nowrap= link_to "Déclaration d’accessibilité", declaration_accessibilite_path

- # Modale pour choisir entre mode clair/sombre/système
%dialog#fr-theme-modal.fr-modal{"aria-labelledby": "fr-theme-modal-title", role: "dialog"}
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        .fr-modal__body
          .fr-modal__header
            %button.fr-link--close.fr-link{"aria-controls": "fr-theme-modal"}
              Fermer
          .fr-modal__content
            %h1#fr-theme-modal-title.fr-modal__title
              Paramètres d’affichage
            #fr-display.fr-form-group.fr-display
              .fr-form-group
                %fieldset.fr-fieldset
                  %legend#-legend.fr-fieldset__legend.fr-text--regular
                    Choisissez un thème pour personnaliser l’apparence du site.
                  .fr-fieldset__content
                    .fr-radio-group.fr-radio-rich
                      %input#fr-radios-theme-light{name: "fr-radios-theme", type: "radio", value: "light"}
                      %label.fr-label{for: "fr-radios-theme-light"}
                        Thème clair
                      .fr-radio-rich__img{"data-fr-inject-svg": ""}
                        = vite_image_tag "images/dsfr/artwork/light.svg", alt: ""
                    .fr-radio-group.fr-radio-rich
                      %input#fr-radios-theme-dark{name: "fr-radios-theme", type: "radio", value: "dark"}
                      %label.fr-label{for: "fr-radios-theme-dark"}
                        Thème sombre
                      .fr-radio-rich__img{"data-fr-inject-svg": ""}
                        = vite_image_tag "images/dsfr/artwork/dark.svg", alt: ""
                    .fr-radio-group.fr-radio-rich
                      %input#fr-radios-theme-system{name: "fr-radios-theme", type: "radio", value: "system"}
                      %label.fr-label{for: "fr-radios-theme-system"}
                        Système
                        %span.fr-hint-text Utilise les paramètres système.
                      .fr-radio-rich__img{"data-fr-inject-svg": ""}
                        = vite_image_tag "images/dsfr/artwork/system.svg", alt: ""
