%footer#footer.fr-footer{role: "contentinfo"}
  .fr-container
    .fr-footer__body
      .fr-footer__brand.fr-enlarge-link
        = link_to root_path, title: "Retour à l’accueil" do
          %p.fr-logo{title: "Ministère de la Culture"}
            Ministère
            %br
            de la Culture
      .fr-footer__brand.fr-enlarge-link
        = link_to "https://beta.gouv.fr/communaute/#/incubators/culture", title: "Incubateur Atelier Numérique", class: "co-footer-logo" do
          = vite_image_tag "images/logo-atelier-numerique.svg", alt: "Logo Atelier Numérique"
      .fr-footer__brand.fr-enlarge-link
        = link_to "https://beta.gouv.fr", title: "beta.gouv.fr", class: "co-footer-logo" do
          = render "shared/picture_tag", filename_without_extension: "logo-beta-gouv", img_class: "co--width-max-100", alt: "logo beta.gouv.fr"
    .fr-footer__bottom
      %ul.fr-footer__bottom-list
        %li.fr-footer__bottom-item
          = link_to "mailto:support@collectif-objets.beta.gouv.fr", class: "fr-footer__bottom-link fr-link--icon-left fr-icon-mail-line" do
            Contact
        %li.fr-footer__bottom-item
          = link_to fiches_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-file-line" do
            Fiches
        %li.fr-footer__bottom-item
          = link_to stats_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-line-chart-line" do
            Statistiques
        %li.fr-footer__bottom-item
          = link_to presse_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-chat-2-line" do
            Ils parlent de nous
        - if current_admin_user.nil?
          %li.fr-footer__bottom-item
            = link_to admin_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-lock-line" do
              Administration
        %li.fr-footer__bottom-item
          = link_to mentions_legales_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-file-text-line" do
            Mentions légales
        %li.fr-footer__bottom-item
          = link_to conditions_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-file-text-line" do
            Conditions Générales d'utilisation
        %li.fr-footer__bottom-item
          = link_to confidentialite_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-file-text-line" do
            Politique de confidentialité
        %li.fr-footer__bottom-item
          = link_to plan_path, class: "fr-footer__bottom-link fr-link--icon-left fr-icon-list-unordered" do
            Plan du site
        %li.fr-footer__bottom-item
          %button.fr-footer__bottom-link.fr-icon-theme-fill.fr-link--icon-left{"aria-controls": "fr-theme-modal", "data-fr-opened": "false"}
            Paramètres d'affichage
      .fr-footer__bottom-copy
        %p
          Accessibilité : non conforme ·
          Sauf mention contraire, tous les contenus de ce site sont sous
          = link_to "https://github.com/etalab/licence-ouverte/blob/master/LO.md", target: "_blank", rel: "noopener" do
            Licence etalab-2.0
%dialog#fr-theme-modal.fr-modal{"aria-labelledby": "fr-theme-modal-title", role: "dialog"}
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        .fr-modal__body
          .fr-modal__header
            %button.fr-link--close.fr-link{"aria-controls": "fr-theme-modal"}
              Fermer
          .fr-modal__content
            %h1#fr-theme-modal-title.fr-modal__title
              Paramètres d’affichage
            #fr-display.fr-form-group.fr-display
              .fr-form-group
                %fieldset.fr-fieldset
                  %legend#-legend.fr-fieldset__legend.fr-text--regular
                    Choisissez un thème pour personnaliser l’apparence du site.
                  .fr-fieldset__content
                    .fr-radio-group.fr-radio-rich
                      %input#fr-radios-theme-light{name: "fr-radios-theme", type: "radio", value: "light"}
                      %label.fr-label{for: "fr-radios-theme-light"}
                        Thème clair
                      .fr-radio-rich__img{"data-fr-inject-svg": ""}
                        = vite_image_tag "images/dsfr/artwork/light.svg", alt: ""
                    .fr-radio-group.fr-radio-rich
                      %input#fr-radios-theme-dark{name: "fr-radios-theme", type: "radio", value: "dark"}
                      %label.fr-label{for: "fr-radios-theme-dark"}
                        Thème sombre
                      .fr-radio-rich__img{"data-fr-inject-svg": ""}
                        = vite_image_tag "images/dsfr/artwork/dark.svg", alt: ""
                    .fr-radio-group.fr-radio-rich
                      %input#fr-radios-theme-system{name: "fr-radios-theme", type: "radio", value: "system"}
                      %label.fr-label{for: "fr-radios-theme-system"}
                        Système
                        %span.fr-hint-text Utilise les paramètres système.
                      .fr-radio-rich__img{"data-fr-inject-svg": ""}
                        = vite_image_tag "images/dsfr/artwork/system.svg", alt: ""
