<!-- pied de page avec logo opérateur -->
<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/" title="Retour à l’accueil">
          <p class="fr-logo" title="Ministère de la Culture">
            Ministère<br>de la Culture
          </p>
        </a>
      </div>
      <div class="fr-footer__brand fr-enlarge-link">
        <a class="co-footer-logo" href="https://beta.gouv.fr/communaute/#/incubators/culture" title="Incubateur Atelier Numérique">
          <%= vite_image_tag "images/logo-atelier-numerique.svg",
            alt: "Logo Atelier Numérique" %>
        </a>
        </div>
      <div class="fr-footer__brand fr-enlarge-link">
        <a class="co-footer-logo" href="https://beta.gouv.fr" title="beta.gouv.fr">
          <%= render "shared/picture_tag", filename_without_extension: "logo-beta-gouv", picture_class: "co--width-max-100", alt: "logo beta.gouv.fr" %>
        </a>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <span class="fr-footer__bottom-link">
            Accessibilité : non conforme
          </span>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-mail-line" href="mailto:support@collectif-objets.beta.gouv.fr">
            Contact
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-file-line" href="/fiches">
            Fiches
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-line-chart-line" href="/stats">
            Statistiques
          </a>
        </li>
        <% if current_admin_user.nil? %>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-lock-line" href="/admin">
              Administration
            </a>
          </li>
        <% end %>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-file-text-line" href="/mentions_legales">
            Mentions légales
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-file-text-line" href="/conditions">
            Conditions Générales d'utilisation
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-file-text-line" href="/confidentialite">
            Politique de confidentialité
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <button class="fr-footer__bottom-link fr-icon-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>Sauf mention contraire, tous les contenus de ce site sont sous <a
            href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
        </p>
      </div>
      <% if current_admin_user.present? %>
        <ul class="fr-footer__bottom-list">
          <li class="fr-footer__bottom-item fr-footer__bottom-copy fr-text--sm">
            <span class="fr-footer__bottom-link fr-link--icon-left fr-icon-lock-line">
              Vous êtes connecté·e en tant qu'administrateur·rice
            </a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-lock-line" href="/admin">
              Interface d'administration
            </a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link fr-link--icon-left fr-icon-france-line" href="/campaigns">
              Campagnes
            </a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</footer>

<dialog id="fr-theme-modal" class="fr-modal" role="dialog" aria-labelledby="fr-theme-modal-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link" aria-controls="fr-theme-modal">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-theme-modal-title" class="fr-modal__title">
              Paramètres d’affichage
            </h1>
            <div id="fr-display" class="fr-form-group fr-display">
              <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                  <legend class="fr-fieldset__legend fr-text--regular" id='-legend'>
                    Choisissez un thème pour personnaliser l’apparence du site.
                  </legend>
                  <div class="fr-fieldset__content">
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="light" type="radio" id="fr-radios-theme-light" name="fr-radios-theme">
                      <label class="fr-label" for="fr-radios-theme-light">Thème clair
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <%= vite_image_tag "images/dsfr/artwork/light.svg", alt: "" %>
                        <!-- L’alternative de l’image (attribut alt) doit rester vide car l’image est illustrative et ne doit pas être restituée aux technologies d’assistance -->
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="dark" type="radio" id="fr-radios-theme-dark" name="fr-radios-theme">
                      <label class="fr-label" for="fr-radios-theme-dark">Thème sombre
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <%= vite_image_tag "images/dsfr/artwork/dark.svg", alt: "" %>
                        <!-- L’alternative de l’image (attribut alt) doit rester vide car l’image est illustrative et ne doit pas être restituée aux technologies d’assistance -->
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="system" type="radio" id="fr-radios-theme-system" name="fr-radios-theme">
                      <label class="fr-label" for="fr-radios-theme-system">Système
                        <span class="fr-hint-text">Utilise les paramètres système.</span>
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <%= vite_image_tag "images/dsfr/artwork/system.svg", alt: "" %>
                        <!-- L’alternative de l’image (attribut alt) doit rester vide car l’image est illustrative et ne doit pas être restituée aux technologies d’assistance -->
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
