- if current_admin_user
  = render HeaderComponent.new(notice:, alert:) do |c|
    - c.with_tools do
      %ul.fr-links-group
        %li
          = icon_span("admin")
          = current_admin_user
        %li
          = link_to destroy_admin_user_session_path, "data-turbo-method": "DELETE", class: "fr-link" do
            = icon_span("logout-box-r")
            Déconnexion
    - c.with_menu do
      %nav.fr-nav#menu-navigation(role="navigation" aria-label="Menu principal")
        %ul.fr-nav__list
          - path_commune = current_user.present? ? commune_objets_path(current_user.commune) : admin_communes_path
          %li.fr-nav__item{class: content_for(:current_layout) == "commune" ? "active" : ""}
            %a.fr-nav__link(href=path_commune target="_self")
              = icon_span("user")
              Interface Commune
          - path_conservateur = current_conservateur.present? ? conservateurs_departements_path : admin_conservateurs_path
          %li.fr-nav__item{class: content_for(:current_layout) == "conservateur" ? "active" : ""}
            = link_to path_conservateur, class: "fr-nav__link" do
              = icon_span("user-star")
              Interface Conservateur
          %li.fr-nav__item{class: content_for(:current_layout) == "admin" ? "active" : ""}
            %a.fr-nav__link(href=admin_path target="_self")
              = icon_span("lock")
              Administration
- elsif current_conservateur
  = render HeaderComponent.new(notice:, alert:) do |c|
    - c.with_navbar do
      %button.fr-btn--search.fr-btn(data-fr-opened="false" aria-controls="modal-menu-search" title="Rechercher")
        Rechercher
    - c.with_tools do
      = render "shared/header/header_tools_conservateur"
- elsif current_user
  = render HeaderComponent.new(notice:, alert:) do |c|
    - c.with_tools do
      = render "shared/header/header_tools_user"
- else
  = render HeaderComponent.new(notice:, alert:) do |c|
    - c.with_tools do
      = render "shared/header/header_tools_guest"
