-# locals: (objet:)

%p
  %b Emplacement
  %br
  Se situe dans l'édifice
  %b= objet.edifice_nom
  %br
  %i= objet.emplacement

%p
  %b Dénomination
  %br
  = objet.palissy_DENO || "Inconnue"

%p
  %b Catégorie
  %br
  = objet.categorie || "Inconnue"

%p
  %b Époque
  %br
  = objet.crafted_at || "Inconnue"

%p
  %b Protection
  %br
  = objet.palissy_DPRO || "Inconnue"

- if objet.déplacé?
  %p
    %b Déplacement
    %br
    Cet objet a été déplacé depuis sa protection, il se trouvait à l’origine dans la commune #{objet.palissy_COM}.

- elsif objet.code_insee_a_changé?
  %p
    %b Changement de code INSEE
    %br
    Cet objet se trouvait à l’origine dans la commune #{objet.palissy_COM} (code INSEE #{objet.palissy_INSEE}).
    Cette commune a probablement fusionné dans la commune actuelle #{objet.commune.nom} (code INSEE #{objet.lieu_actuel_code_insee}).

%p
  %b Récolement
  %br
  Dernier récolement :
  = objet.last_recolement_at || "inconnu"

%p
  %b Références
  %br
  POP (Base Palissy) :
  = objet.palissy_REF

%p
  = link_to_palissy(objet, class: "co-text--blue") do
    Voir plus de détails sur la Plateforme Ouverte du Patrimoine
