<% link = pagy_link_proc(pagy) -%>
<div class="co-pagination-wrapper">
  <nav role="navigation" class="fr-pagination" aria-label="<%= local_assigns.fetch(:label, "Pagination") %>">
    <ul class="fr-pagination__list">
      <li>
        <% if pagy.page == 1 %>
          <a class="fr-pagination__link fr-pagination__link--lg-label fr-pagination__link--first" aria-disabled="true" role="link">
            Première page
          </a>
        <% else %>
          <%== link.call(
          1,
          "Première page",
          'class="fr-pagination__link fr-pagination__link--lg-label fr-pagination__link--first" role="link"'
        ) %>
        <% end %>
      </li>
      <li>
        <% if pagy.page == 1 %>
          <a class="fr-pagination__link fr-pagination__link--lg-label fr-pagination__link--prev" aria-disabled="true" role="link">
            Page précédente
          </a>
        <% else %>
          <%== link.call(
            pagy.prev,
            "Page précédente",
            'class="fr-pagination__link fr-pagination__link--lg-label fr-pagination__link--prev" role="link"'
          ) %>
        <% end%>
      </li>
      <% pagy.series.each do |item| -%>
        <%# series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] %>
        <li>
          <% if item.is_a?(Integer) -%>
            <%== link.call(item, item, "class=\"fr-pagination__link\" title=\"Page #{item}\"") %>
          <% elsif item.is_a?(String)  -%>
            <a class="fr-pagination__link" aria-current="page" title="Page <%= item %>">
              <%= item %>
            </a>
          <% elsif item == :gap -%>
            <a class="fr-pagination__link fr-displayed-lg">
              …
            </a>
          <% end -%>
        </li>
      <% end  -%>
      <li>
        <% if !pagy.next %>
          <a class="fr-pagination__link fr-pagination__link--lg-label fr-pagination__link--next" aria-disabled="true" role="link">
            Page suivante
          </a>
        <% else %>
          <%== link.call(
            pagy.next,
            "Page suivante",
            'class="fr-pagination__link fr-pagination__link--lg-label fr-pagination__link--next" role="link"'
          ) %>
        <% end%>
      </li>
      <li>
        <% if pagy.page == pagy.last %>
          <a class="fr-pagination__link fr-pagination__link--lg-label fr-pagination__link--last" aria-disabled="true" role="link">
            Dernière page
          </a>
        <% else %>
          <%== link.call(
          pagy.last,
          "Dernière page",
          'class="fr-pagination__link fr-pagination__link--lg-label fr-pagination__link--last" role="link"'
        ) %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
