-# locals: :current_tab, :dossier, :commune

- current_tab_title = conservateur_commune_tabs(commune).find { _1.key == current_tab }.title
- content_for(:head_title) { "#{current_tab_title} - #{commune}" }
- departement = commune.departement

%main#contenu.fr-container.fr-pb-8w
  = render "shared/breadcrumbs",
    links: [["Départements", conservateurs_departements_path],
      [commune.departement.nom, conservateurs_departement_path(departement)],
      [commune.to_s, conservateurs_commune_path(commune)]],
    current_page_label: current_tab_title

  %div{class: ("co-print-hide" if local_assigns[:hide_for_print])}
    .co-flex.co-flex--align-items-center.co-flex--space-between
      %div.co-flex.co-flex--align-items-center.co-flex--gap-1rem 
        %h1= commune
        = commune_statut_global_badge(commune)
      - if local_assigns[:dossier] && dossier.accepted?
        = dsfr_modal(title: "Êtes-vous sûr de vouloir rouvrir le dossier?",  html_attributes: { id: "modal-dossier-reouverture" }) do |component|
          %p
            La réouverture du dossier vous permet de modifier votre examen.
            Une fois votre examen terminée, n’oubliez pas d’envoyer à la commune le rapport corrigé et de mettre à jour le ou les bordereaux de récolement.
          - component.with_button do
            = button_to "Oui je veux rouvrir le dossier", conservateurs_dossier_accept_path(dossier), method: :delete, class: "fr-btn"
          - component.with_button do
            = dsfr_button label: "Annuler", level: :secondary, html_attributes: { "aria-controls": "modal-dossier-reouverture" }
        = dsfr_button(label: "Rouvrir le dossier", html_attributes: { "data-fr-opened": false, "aria-controls": "modal-dossier-reouverture" })

  = turbo_frame_tag "commune-tabs", autoscroll: true, data: { autoscroll_block: "start" } do
    = dsfr_tabs classes: (local_assigns[:no_padding] ? ["co-tabs--no-padding"] : []) do |tabs|
      - conservateur_commune_tabs(commune).each do |commune_tab|
        - if commune_tab.key == current_tab
          = tabs.with_tab(title: commune_tab.title, active: true, path: commune_tab.path).with_content(yield)
        - else
          = tabs.with_tab title: commune_tab.title, path: commune_tab.path
