<% content_for(:head_title) { @commune.nom } %>

<main>
  <div class="fr-container fr-grid-row fr-my-4w fr-grid-row--center">
    <div class="fr-col-md-10">
      <%= render(
        "shared/breadcrumbs",
        links: [
          ["Départements", conservateurs_departements_path],
          [
            @commune.departement.nom,
            conservateurs_departement_path(@commune.departement)
          ]
        ],
        current_page_label: @commune.nom
      ) %>

      <div class="co-flex co-flex--align-items-center co-flex--gap-1rem fr-mb-1w">
        <h2 class="fr-my-0">
          <span class="fr-icon-map-pin-2-fill" aria-hidden="true"></span>
          <%= @commune.nom %> (<%= @commune.code_insee %>)
        </h2>
        <div style="flex-shrink: 0">
          <% if @dossier %>
            <div><%= dossier_status_badge(@dossier) %></div>
          <% end %>
        </div>
      </div>
      <span><%= t("activerecord.attributes.commune.statuses.#{@commune.status}") %></span>
    </div>
  </div>

  <%= render "dossier_infos", commune: @commune, dossier: @dossier  %>

  <%= render "objets_by_edifices", edifices: @edifices, commune: @commune %>

  <%= render "dossier_actions", commune: @commune, dossier: @dossier  %>

  <div class="co-background--light-grey fr-my-6w fr-py-6w">
    <div class="fr-container fr-grid-row fr-grid-row--center">
      <div class="fr-col-md-4">
        <h3>
          <%= t(".contact.title") %>
        </h3>
      </div>
      <div class="fr-col-md-4">
        <div>
          <%= link_to(
            @commune.users.first.email,
            "mailto:#{@commune.users.first.email}",
            class: "fr-link fr-icon-mail-line fr-link--icon-left"
          ) %>
        </div>
        <% if @commune.phone_number %>
          <div class="fr-mt-1w">
            <%= link_to(
              @commune.phone_number,
              "tel:#{@commune.phone_number}",
              class: "fr-link fr-icon-phone-line fr-link--icon-left"
            ) %>
          </div>
        <% end %>
        <% sp_prefix = @commune.departement.service_public_prefix %>
        <% if sp_prefix %>
          <div class="fr-mt-1w">
            <%= link_to(
              "Service-Public.fr",
              "https://lannuaire.service-public.fr/#{sp_prefix}/mairie-#{@commune.code_insee}-01",
              class: "fr-link fr-icon-information-line fr-link--icon-left",
              target: "_blank"
            ) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
