= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab: :analyse } do

  = render "conservateurs/dossiers/accept_cta", dossier: @dossier

  - if @dossier&.accepted?
    .fr-mb-4w
      = dsfr_alert type: :success, title: "Analyse terminée" do
        :markdown
          Tous les recensements ont été analysés et le rapport a été généré et envoyé.

          Le parcours est terminé pour cette commune !
        = link_to "Voir le rapport", conservateurs_commune_dossier_path(@commune), class: "fr-btn", data: { turbo_action: "advance" }

  - if @commune.completed? && !@dossier.accepted?
    - if @dossier.rejected_at?
      .fr-mb-4w
        = dsfr_alert type: :info, title: "Dossier renvoyé précédemment" do
          :markdown
            Le fonctionnement de l’analyse a récemment été modifié.

            Vous aviez renvoyé ce dossier à la commune pour correction mais ce n’est plus nécessaire.
            La commune peut maintenant corriger les recensements concernés même si le dossier n’est pas renvoyé.

            A l’avenir, vous pouvez simplement signaler à la commune qu’elle doit corriger des recensements dans la messagerie.

    - elsif current_conservateur.dossiers.rejected.any?
      .fr-mb-4w
        = dsfr_alert type: :info, title: "Renvoi des dossiers" do
          :markdown
            Le fonctionnement de l’analyse a récemment été modifié.

            Le renvoi du dossier à la commune pour correction n’est plus nécessaire.
            En cas de problème avec les recensements ou d’informations incomplètes, vous pouvez maintenant simplement le signaler à la commune dans la messagerie.

            La commune pourra alors corriger les recensements concernés.

    .fr-mb-4w
      - if @dossier.notes_commune.present?
        %p
          = t("activerecord.attributes.dossier.notes_commune")
        = blockquote(@dossier.notes_commune)
      - else
        %i Aucun commentaire laissé par la commune


  = render "edifices/list", edifices: @edifices
  - @edifices.each do |edifice|
    %h4{id: "#{edifice.slug}"}
      = edifice_nom(edifice.nom).html_safe
      · #{edifice.objets.length} objets
    = render layout: "objets/cards_grid_layout", locals: { count: edifice.objets.length } do
      - reordered = @dossier ? Objet::order_by_recensement_priorite_array(edifice.objets) : edifice.objets
      - reordered.each do |objet|
        .fr-col-md-4
          = render Conservateurs::ObjetCardComponent.new objet, recensement: objet.current_recensement, can_analyse: objet.current_recensement && conservateurs_policy(Analyse.new(recensement: objet.current_recensement)).edit?, commune: @commune

  .fr-mt-4w
    - if @dossier && !@dossier&.accepted?
      %div
        = link_to_button "Finaliser le rapport …",
          new_conservateurs_dossier_accept_path(@dossier),
          class: "fr-btn",
          disabled: !@dossier.can_generate_rapport?
