= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab: :analyse } do

  .fr-grid-row.fr-mb-4w.fr-grid-row--middle.fr-grid-row--center.fr-mb-6w
    .fr-col-md-5
      %h2 Votre examen a bien été sauvegardé
      - if @objets.any?
        %p Vous pouvez modifier ces informations autant que vous le souhaitez avant l’envoi à la commune.
      - else
        %p
          L’ensemble des objets en péril ou disparus ont été examinés. Vous pouvez envoyer votre examen à la commune.
          = link_to_button "Envoyer l'examen à la commune", new_conservateurs_dossier_accept_path(@dossier), class: "fr-btn", data: { turbo_action: "advance" }
        %p ou
      %p
        = dsfr_link_to "Retour à la liste des recensements de la commune", conservateurs_commune_path(@commune), data: { turbo_action: "advance" }, icon_left: "arrow-left-line"
    .fr-col-md-5
      = vite_image_tag "images/illustrations/people-clap.svg", class: "co--width-max-100"

  - if @objets.any?
    .fr-grid-row.fr-grid-row--center.co-background--light-teal.fr-py-6w
      .fr-col-md-10
        %h3.co-text--center
          = t("recensement.analyse.remaining_count", count: @objets.count, commune: @commune.nom)
        = render layout: "shared/grid_layout" do
          - @objets.each do |objet|
            .fr-col-md-4
              = render Conservateurs::ObjetCardComponent.new objet, recensement: objet.current_recensement, can_analyse: objet.current_recensement && conservateurs_policy(Analyse.new(recensement: objet.current_recensement)).edit?, commune: @commune
