<% content_for(:head_title) { "Votre analyse a bien été sauvegardée" } %>

<main>
  <div class="fr-container fr-grid-row fr-grid-row--center fr-mt-6w">
    <div class="fr-col-md-10">
      <%= render(
        "shared/breadcrumbs",
        links: [
          ["Départements", conservateurs_departements_path],
          [@commune.departement.nom, conservateurs_departement_path(@commune.departement)]
        ],
        current_page_label: @commune.nom
      ) %>
    </div>
  </div>

  <div class="fr-container fr-mb-6w">
    <div class="fr-grid-row fr-mb-4w fr-grid-row--middle fr-grid-row--center">
      <div class="fr-col-md-5">
        <h2>
          <% if @objets.any? %>
            <%= t("conservateurs.communes.analyse_saved.success") %>
          <% else %>
            <%= t("conservateurs.communes.analyse_saved.all_done", commune: @commune.nom) %>
          <% end %>
        </h2>
        <p><%= t("conservateurs.communes.analyse_saved.updatable") %></p>
        <% if @objets.any? %>
          <p>
            <%= link_to(
              t("conservateurs.communes.analyse_saved.back"),
              conservateurs_commune_path(@commune),
              class: "fr-btn fr-btn--secondary"
            ) %>
          </p>
        <% else %>
          <p>
            <%= link_to(
              t("conservateurs.communes.analyse_saved.send"),
              new_conservateurs_dossier_accept_path(@dossier),
              class: "fr-btn"
            ) %>
          </p>
          <p>ou</p>
          <p>
            <%= link_to(
              t("conservateurs.communes.analyse_saved.back"),
              conservateurs_commune_path(@commune),
              class: "fr-btn fr-btn--secondary"
            ) %>
          </p>
        <% end %>
      </div>
      <div class="fr-col-md-5">
        <%= vite_image_tag "images/illustrations/people-clap.svg", class: "co--width-max-100" %>
      </div>
    </div>
  </div>

  <% if @objets.any? %>
    <div class="fr-container fr-grid-row fr-grid-row--center co-background--light-teal fr-py-6w">
      <div class="fr-col-md-10">
        <h3 class="co-text--center">
          <%= t("recensement.analyse.remaining_count", count: @objets.count, commune: @commune.nom) %>
        </h3>
        <%= render layout: "objets/cards_grid_layout", locals: { objets: @objets } do %>
          <% @objets.each do |objet| %>
            <%= render Conservateurs::ObjetCardComponent.new(objet:, recensement: objet.current_recensement) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</main>
