= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab: :analyse } do

  - if @dossier&.accepted?
    .fr-mb-4w
      = dsfr_alert type: :success, size: :sm do
        Tous les recensements ont été examinés.
        = link_to_button "Voir l'examen", conservateurs_commune_dossier_path(@commune), class: "fr-btn", data: { turbo_action: "advance" }

  - elsif @dossier&.can_generate_rapport?
    = render "conservateurs/dossiers/accept_cta", dossier: @dossier
  - elsif @commune.statut_global == Commune::ORDRE_A_EXAMINER
    .fr-mb-4w
      = dsfr_alert type: :success, size: :sm do
        La commune n'a pas indiqué de péril ou d'objets disparus, elle a donc reçu un mail automatique. Vous pouvez néanmoins consulter ou modifier les informations remontées par la commune et clore ce dossier.
  - elsif @commune.statut_global == Commune::ORDRE_EXAMEN_PRIORITAIRE || @commune.statut_global == Commune::ORDRE_EN_COURS_D_EXAMEN
    .fr-mb-4w
      = dsfr_alert type: :info, size: :sm do
        Examinez l’ensemble des objets en péril ou disparus pour envoyer des informations complémentaires à la commune.
        = link_to_button "Envoyer l'examen à la commune", "#", class: "fr-btn", disabled: true, data: { turbo_action: "advance" }

  - if @dossier&.notes_commune.present? || @dossier&.recenseur.present?
    .fr-grid-row.fr-grid-row--gutters
      - if @dossier&.notes_commune.present?
        .fr-col-md-6.fr-mb-4w
          = t("activerecord.attributes.dossier.notes_commune")
          = blockquote(@dossier.notes_commune)
      - if @dossier&.recenseur.present?
        .fr-col-md-6.fr-mb-4w
          = t("activerecord.attributes.dossier.recenseur")
          = blockquote(@dossier.recenseur)

  = render "edifices/list", edifices: @edifices
  - @edifices.each do |edifice|
    = render "edifices/title", edifice:
    = render layout: "shared/grid_layout" do
      - objets_to_display = @dossier ? Objet.sort_by_recensement_priorite(edifice.objets.to_a) : edifice.objets.to_a
      - objets_to_display.each do |objet|
        - recensement = objet.recensement
        - can_analyse = recensement&.completed? && @commune.completed? && @dossier&.submitted? && current_conservateur.departements.include?(@commune.departement)
        .fr-col-md-4
          = render Conservateurs::ObjetCardComponent.new objet, recensement:, can_analyse:, commune: @commune

  - deleted_recensements = @dossier&.recensements&.only_deleted
  - if deleted_recensements&.any?
    .fr-mt-4w
      = dsfr_alert type: :warning, size: :sm do
        - if deleted_recensements.count == 1
          Un recensement a été supprimé automatiquement de ce dossier
          - cta = "Voir le recensement supprimé"
        - else
          = "#{deleted_recensements.count} recensements ont été supprimés automatiquement de ce dossier"
          - cta = "Voir les #{deleted_recensements.count} recensements supprimés"
        = link_to cta, conservateurs_commune_deleted_recensements_path(@commune), class: "fr-link", data: { turbo_frame: "_top" }

  - if @edifices.none? && deleted_recensements.empty?
    = dsfr_alert type: :warning, size: :sm do
      Aucun objet à afficher
