<div class="fr-mb-3w">
  <div class="fr-pb-1w">
    <b><%= t("activerecord.attributes.recensement.localisation") %></b>
  </div>
  <div class="fr-mb-1w">
    <%= recensement_presenter.localisation_sentence %>
  </div>
  <% if recensement.autre_edifice? %>
    <div class="fr-pb-1w">
      <b><%= t("activerecord.attributes.recensement.edifice_nom") %></b>
    </div>
    <div class="fr-mb-1w">
      <input
        class="fr-input co-text--black"
        type="text"
        disabled
        value="<%= recensement.edifice_nom %>" />
    </div>
  <% end %>
</div>

<div class="fr-my-3w">
  <div class="fr-pb-1w">
    <b><%= t("activerecord.attributes.recensement.recensable") %></b>
  </div>
  <div>
    <%= recensement_presenter.recensable %>
  </div>
</div>

<% if recensement.recensable? %>
  <% ["etat_sanitaire_edifice", "etat_sanitaire", "securisation"].each do |attribute_name| %>
    <%= render "recensement_attribute", attribute_name: do %>
      <% if recensement.analysable? %>
        <%= render(
          Conservateurs::AnalyseOverrideEditableComponent.new(
            form_builder: f,
            original_attribute_name: attribute_name,
            recensement_presenter:
          )
        ) %>
      <% else %>
        <%= render(
          Conservateurs::AnalyseOverrideComponent.new(
            recensement:,
            original_attribute_name: attribute_name,
            recensement_presenter:
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
