- content_for(:head_title) { "Mon compte" }

%main#contenu.fr-container.fr-py-4w.fr-grid-row.fr-grid-row--center{"data-controller" => "devise--sessions"}
  .fr-col-md-8
    = render("shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Mon compte")
    .co-flex.co-flex--space-between.co-flex--align-items-center
      %h1 Mon compte conservateur
      = form_tag destroy_conservateur_session_path, method: :delete, data: { turbo: false } do
        %button.fr-btn.fr-btn--secondary.fr-icon-logout-box-r-line.fr-btn--icon-left{type: "submit"}
          Déconnexion

    %ul
      %li
        Prénom:
        %b= current_conservateur.first_name
      %li
        Nom:
        %b= current_conservateur.last_name
      %li
        Email:
        %b= current_conservateur.email

    .fr-my-8w
      %h2 Préférences de communication
      = form_for current_conservateur, url: conservateurs_conservateur_path, builder: FormBuilderDsfr do |f|
        .fr-checkbox-group.fr-mb-4w
          = f.check_box :messages_mail_notifications, autocomplete: "off"
          = f.label :messages_mail_notifications do
            = icon_span(:mail)
            %span Recevoir un email à chaque message reçu sur la plateforme.
        .fr-input-group
          = f.submit "Sauvegarder"
