- content_for(:head_title) { "Admin - Campagnes" }

%main#contenu.fr-container.fr-grid-row.fr-pt-2w.fr-pb-4w
  .fr-col-md-10
    = render("shared/breadcrumbs", links: [["Admin", admin_path]], current_page_label: "Campagnes")

    .co-flex.co-flex--space-between
      %h1
        = icon_span("question-answer")
        Admin - Campagnes
      %div= link_to "Créer une nouvelle campagne", new_admin_campaign_path, class: "fr-btn"

    = search_form_for @ransack, url: admin_campaigns_path, builder: FormBuilderDsfr do |f|
      .co-flex.co-flex--align-items-center.co-flex--justify-content-center.fr-mt-2w
        %h2.fr-mb-1w Filtres
        .fr-ml-2w
          = f.label :status_eq, "Statuts", class: "fr-sr-only"
          = f.select :status_eq, [["tous les statuts", nil]] + campaigns_statuses_options, {}, data: { controller: "input-autosubmit", action: "input-autosubmit#submit" }

        .fr-ml-2w
          = f.label :departement_code_eq, "Département", class: "fr-sr-only"
          = f.select :departement_code_eq, [["tous les départements", nil]] + departements_options, {}, data: { controller: "input-autosubmit", action: "input-autosubmit#submit" }

        - if @query_present
          .fr-ml-2w
            = link_to "Réinitialiser", admin_campaigns_path, class: "fr-link"

    .fr-table
      %table
        %thead
          %tr
            %th Campagne
            %th= sort_link @ransack, :departement_code, "Département"
            %th= sort_link @ransack, :status, "Statut"
            %th= sort_link @ransack, :recipients_count, "Nombre de communes"
            %th= sort_link @ransack, :date_lancement, "Dates"

        %tbody
          - @campaigns.each do |campaign|
            %tr
              %td.co-min-width-200px= link_to campaign_title(campaign), admin_campaign_path(campaign)
              %td.co-min-width-200px= campaign.departement
              %td= campaign_status_badge(campaign)
              %td= campaign.recipients_count
              %td du&nbsp;#{l(campaign.date_lancement)}&nbsp;au&nbsp;#{l(campaign.date_fin)}

    - if @pagy.pages > 1
      = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}

    %h2.fr-mt-4w Calendrier des campagnes
    %p
      = link_to campaigns_ics_url, campaigns_ics_path
      = button_tag("Copier", type: :button, class: "fr-btn fr-btn-sm fr-btn--secondary fr-btn--icon-left fr-icon-todo-line fr-ml-1w", data: { controller: :clipboard, action: "clipboard#copy", "clipboard-value": campaigns_ics_url })

    %p
      :markdown
        Ce lien peut être utilisé pour ajouter le calendrier des campagnes sur votre logiciel d'agenda.

        - Sur le webmail SOGo de Gandi, il faut cliquer sur le + à droite de "Calendriers web"
        - Sur Mac OS Calendar, il faut cliquer sur "fichier > nouvel abonnement à un calendrier"
        - Sur Google Calendar, il faut cliquer sur le + à côté de Autres agendas et choisir "À partir de l'URL"
