- content_for(:head_title) { "Admin - Campagnes" }

.fr-container.fr-grid-row.fr-pt-2w.fr-pb-4w
  .fr-col-md-10
    = render("shared/breadcrumbs", links: [["Admin", admin_path]], current_page_label: "Campagnes")

    .co-flex.co-flex--space-between
      %h2
        = icon_span("question-answer")
        Admin - Campagnes
      %div= link_to "Créer une nouvelle campagne", new_admin_campaign_path, class: "fr-btn"

    = search_form_for @ransack, url: admin_campaigns_path, builder: FormBuilderDsfr do |f|
      .co-flex.co-flex--align-items-center.co-flex--justify-content-center.fr-mt-2w
        %div Filtres
        .fr-ml-2w
          = f.select(:status_eq, [["tous les statuts", nil]] + campaigns_statuses_options, {}, onchange: "this.form.submit()" )

        .fr-ml-2w
          = f.select(:departement_code_eq, [["tous les départements", nil]] + departements_options, {}, onchange: "this.form.submit()")

        - if @query_present
          .fr-ml-2w
            = link_to "Réinitialiser", admin_campaigns_path, class: "fr-link"

    .fr-table
      %table
        %thead
          %tr
            %th Identifiant
            %th Département
            %th Statut
            %th Nombre de communes
            %th Dates

        %tbody
          - @campaigns.each do |campaign|
            %tr
              %td(style="min-width: 200px")= link_to campaign.human_id, admin_campaign_path(campaign)
              %td(style="min-width: 200px")= campaign.departement
              %td= campaign_status_badge(campaign)
              %td= campaign.communes.count
              %td du&nbsp;#{l(campaign.date_lancement)}&nbsp;au&nbsp;#{l(campaign.date_fin)}

    - if @pagy.pages > 1
      = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}

    %h2.fr-mt-4w Calendrier des campagnes
    %p{"data-controller": "copy-to-clipboard"}
      = link_to campaigns_ics_url, campaigns_ics_path
      %input{type: :hidden, "data-copy-to-clipboard-target": "content", "data-value": campaigns_ics_url}
      = button_tag("Copier", class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-todo-line", "data-action": "copy-to-clipboard#copy", "data-copy-to-clipboard-target": "button")

    %p
      :markdown
        Ce lien peut être utilisé pour ajouter le calendrier des campagnes sur votre logiciel d'agenda.

        - Sur le webmail SOGo de Gandi, il faut cliquer sur le + à droite de "Calendriers web"
        - Sur Mac OS Calendar, il faut cliquer sur "fichier > nouvel abonnement à un calendrier"
        - Sur Google Calendar, il faut cliquer sur le + à côté de Autres agendas et choisir "À partir de l'URL"

