- content_for(:head_title) { "Campagne #{campaign_title(@campaign)}" }

%main.fr-container.fr-mb-8w
  = render "shared/breadcrumbs", links: [["Accueil", root_path], ["Campagnes", admin_campaigns_path]], current_page_label: campaign_title(@campaign)

  %h1
    = "Campagne #{campaign_title(@campaign)}"
    = render "shared/campaigns/badges", campaign: @campaign

  = render "shared/campaigns/show_content", campaign: @campaign, excluded_communes: @excluded_communes, routes_prefix: :admin

  %h2.fr-mt-4w ⚙️ Admin

  - if @campaign.ongoing? || @campaign.finished?
    = button_to "Rafraîchir les statistiques", admin_campaign_refresh_stats_path(@campaign), class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-refresh-line", method: :post

  - if @campaign.can_force_start?
    .fr-callout.fr-callout--brown-caramel.fr-fi-warning-line
      %h3.fr-callout__title Lancer la campagne tout de suite [DEBUG]
      %p.fr-callout__text
        Ceci est une action exceptionnelle pour tester le fonctionnement des campagnes. Les mails seront vraiment envoyés ! Vérifiez les adresses emails avant de lancer.
      = button_to( |
          "Lancer tout de suite", |
          admin_campaign_force_start_path(@campaign), |
          method: :post, |
          class: "fr-btn fr-btn--icon-left fr-icon-warning-line" |
        ) |
  - elsif @campaign.can_force_step_up?
    .fr-callout.fr-callout--brown-caramel.fr-fi-warning-line
      %h3.fr-callout__title Passer à l'étape suivante tout de suite [DEBUG]
      %p.fr-callout__text
        Ceci est une action exceptionnelle pour tester le fonctionnement des campagnes. Les mails seront vraiment envoyés ! Vérifiez les adresses emails avant de lancer.
      = button_to( |
          "Passer à l'étape #{t("campaigns.step_names.#{@campaign.next_step}").downcase}", |
          admin_campaign_force_step_up_path(@campaign), |
          method: :post, |
          class: "fr-btn fr-btn--icon-left fr-icon-warning-line" |
        ) |
