- content_for(:head_title) { "Campagne #{campaign_title(@campaign)}" }

%main.fr-container.fr-mb-8w
  = render "shared/breadcrumbs", links: [["Accueil", root_path], ["Campagnes", admin_campaigns_path]], current_page_label: campaign_title(@campaign)

  %h1
    = "Campagne #{campaign_title(@campaign)}"
    = render "shared/campaigns/badges", campaign: @campaign

  = render "shared/campaigns/show_content", campaign: @campaign, excluded_communes: @excluded_communes, routes_prefix: :admin

  %h2.fr-mt-4w ⚙️ Admin

  - if @campaign.can_update_all_recipients_emails?
    .fr-callout.fr-callout--brown-caramel.fr-fi-warning-line
      %h3.fr-callout__title Modifier tous les emails
      %p.fr-callout__text
        Ceci est une action exceptionnelle pour tester le fonctionnement des campagnes. Vous pouvez modifier tous les emails des destinataires d’un coup.
        %br
        Utilisez un modèle d’adresse mail de la forme antoine.clairefond+CODE_INSEE@gmail.com , le CODE_INSEE sera remplacé par le code INSEE de la commune destinataire.
      = form_tag admin_campaign_update_all_recipients_emails_path(@campaign), method: :post do
        .fr-input-group
          = text_field_tag :email_template, nil, class: "fr-input", placeholder: "antoine.clairefond+CODE_INSEE@gmail.com"
          = submit_tag "Modifier tous les emails", class: "fr-btn fr-btn--icon-left fr-icon-warning-line"

  - if @campaign.can_force_start?
    .fr-callout.fr-callout--brown-caramel.fr-fi-warning-line
      %h3.fr-callout__title Lancer la campagne tout de suite [DEBUG]
      %p.fr-callout__text
        Ceci est une action exceptionnelle pour tester le fonctionnement des campagnes. Les mails seront vraiment envoyés ! Vérifiez les adresses emails avant de lancer.
      = button_to "Lancer tout de suite",
          admin_campaign_force_start_path(@campaign),
          method: :post,
          class: "fr-btn fr-btn--icon-left fr-icon-warning-line"

  - elsif @campaign.can_force_step_up?
    .fr-callout.fr-callout--brown-caramel.fr-fi-warning-line
      %h3.fr-callout__title Passer à l'étape suivante tout de suite [DEBUG]
      %p.fr-callout__text
        Ceci est une action exceptionnelle pour tester le fonctionnement des campagnes. Les mails seront vraiment envoyés ! Vérifiez les adresses emails avant de lancer.
      = button_to "Passer à l'étape #{t("campaigns.step_names.#{@campaign.next_step}").downcase}",
          admin_campaign_force_step_up_path(@campaign),
          method: :post,
          class: "fr-btn fr-btn--icon-left fr-icon-warning-line"
