<% content_for(:head_title) { "Campagne #{@campaign}" } %>

<main class="fr-container fr-pt-2w fr-pb-4w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      ["Campagnes", admin_campaigns_path]
    ],
    current_page_label: @campaign.human_id
  ) %>

  <h2>
    <span class="fr-icon-question-answer-line" aria-hidden="true"></span>
    Campagne <%= @campaign.human_id %>
    <%= campaign_status_badge(@campaign) %>
    <% if @campaign.imported? %>
      <span class="fr-badge fr-badge--sm">Importée</span>
    <% end %>
    <% if @campaign.ongoing? %>
      <span class="fr-badge fr-badge--sm">
        <%= t("campaigns.step_names.#{@campaign.current_step}") %>
      </span>
    <% end %>
  </h2>

  <% if @campaign.errors.any? %>
    <div class="fr-alert fr-alert--error fr-mb-6w">
      <p>
        <ul>
          <% @campaign.errors.attribute_names.each do |attribute| %>
            <li><%= @campaign.errors.messages_for(attribute).first %></li>
          <% end %>
        </ul>
      </p>
    </div>
  <% end %>

  <% if @campaign.draft? && @campaign.date_lancement > Time.zone.today %>
    <%= form_for [:admin, @campaign], builder: FormBuilderDsfr, url: admin_campaign_update_status_path(@campaign) do |f| %>
      <%= f.hidden_field :status_event, value: "plan"  %>
      <div class="fr-callout">
        <p class="fr-callout__text">
          Cette campagne est en brouillon. Pour qu'elle soit active et démarre effectivement le <%= l(@campaign.date_lancement, format: :long_with_weekday) %>, il faut la marquer comme planifiée. Vous pourrez repasser la campagne en brouillon si nécessaire.
        </p>
        <%= f.submit "Planifier la campagne" %>
      </div>
    <% end %>
  <% elsif @campaign.planned? && @campaign.date_lancement > Time.zone.today %>
    <%= form_for @campaign, builder: FormBuilderDsfr, url: admin_campaign_update_status_path(@campaign) do |f| %>
      <%= f.hidden_field :status_event, value: "return_to_draft"  %>
      <div class="fr-callout fr-callout--brown-caramel">
        <p class="fr-callout__text">
          Cette campagne est planifiée, <b>elle démarrera le <%= l(@campaign.date_lancement, format: :long_with_weekday) %></b>.
          <br />
          Si vous avez besoin de la modifier ou de l'annuler, vous pouvez la repasser en brouillon.
        </p>
        <%= f.submit "Repasser en brouillon" %>
      </div>
    <% end %>
  <% end %>

  <% if (@campaign.ongoing? || @campaign.finished?) && @campaign.stats.present? %>
    <%= render "stats", stats: @campaign.stats %>
  <% end %>

  <div class="fr-mb-8w">
    <div class="fr-grid-row">
      <div class="fr-col-md-6">
        <h4>Configuration</h4>

        <div>
          <b><%= t("activerecord.attributes.campaign.sender_name") %> :</b>
          <span><%= @campaign.sender_name.presence || "N/A" %></span>
        </div>

        <div>
          <b><%= t("activerecord.attributes.campaign.nom_drac") %> :</b>
          <span><%= @campaign.nom_drac.presence || "N/A" %></span>
        </div>

        <div>
          <b><%= t("activerecord.attributes.campaign.signature") %> :</b>
          <% if @campaign.signature.present? %>
            <div class="co-white-space-pre-line co-blockquote"><%= @campaign.signature %></div>
          <% else %>
            <span>N/A</span>
          <% end %>
        </div>

        <div class="fr-mt-2w">
          <%= button_to(
            "Modifier la configuration",
            edit_admin_campaign_path(@campaign),
            class: "fr-btn fr-btn--secondary",
            method: :get,
            disabled: !@campaign.draft?
          ) %>
        </div>
      </div>
      <div class="fr-col-md-6">
        <h4>Dates</h4>
        <table>
          <tbody>
            <% Campaign::DATE_FIELDS.each do |date_field| %>
              <tr>
                <th class="co-text--right fr-pr-2w"><%= t("activerecord.attributes.campaign.#{date_field}") %></th>
                <td><%= l(@campaign.send(date_field), format: :long_with_weekday) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" class="co-text--center fr-pt-2w">
                <%= button_to(
                  "Modifier les dates",
                  edit_admin_campaign_path(@campaign),
                  class: "fr-btn fr-btn--secondary",
                  method: :get,
                  disabled: !@campaign.draft?
                ) %>
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="">
        </div>
      </div>
    </div>
  </div>

  <% if @campaign.communes.any? %>
    <p>
      <%= render UnfoldComponent.new(max_height_px: 200, button_text: "Afficher toutes les communes…") do %>
        <h4><%= @campaign.communes.count %> communes destinataires :</h4>
        <ul class="co-columns--4">
          <% @campaign.recipients.includes(:commune).order("communes.nom").each do |recipient| %>
            <li
              <% if recipient.commune.active? && (@campaign.draft? || @campaign.planned?) %>
                class="co-text--red"
                title="commune déjà engagée"
              <% end %>
            >
              <%= link_to recipient.commune.nom, admin_campaign_recipient_path(@campaign, recipient) %>
              <%= campaign_recipient_status_badge(recipient) %>
              <%= campaign_recipient_opt_out_badge(recipient) %>
              <span class="fr-text--sm co-text--muted"><%= recipient.commune.code_insee %></span>
            </li>
          <% end %>
        </ul>
        <% if @excluded_communes.any? %>
          <div class="fr-mt-4w">
            <b>
              <%= @excluded_communes.count %> communes non inclues :
            </b>
            <ul class="co-columns--4">
              <% @excluded_communes.each do |commune| %>
                <li>
                  <%= commune.nom %>
                  <span class="fr-text--sm co-text--muted"><%= commune.code_insee %></span>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </p>
  <% else %>
    <p>Les communes destinataires n'ont pas encore été définies</p>
  <% end %>

  <div class="fr-grid-row fr-mb-8w">
    <div class="fr-col-md-6">
      <%= button_to(
        (@campaign.communes.any? ? "Modifier les communes destinataires" : "Définir les communes destinataires"),
        admin_campaign_edit_recipients_path(@campaign),
        method: :get,
        class: "fr-btn fr-btn--secondary",
        disabled: !@campaign.draft?
      ) %>
    </div>
  </div>

  <% if @campaign.communes.any? && (@campaign.draft? || @campaign.planned?) %>
    <div class="fr-grid-row">
      <div class="fr-col-md-6">
        <h4>Prévisualisation des emails de lancement</h4>
        <%= button_to(
          "Génerer un aperçu des mails qui vont être envoyés",
          admin_campaign_mail_previews_path(@campaign),
          method: :get,
          class: "fr-btn fr-btn--tertiary"
        ) %>
      </div>
    </div>
  <% end %>


  <div class="fr-my-8w fr-grid-row">
    <div class="fr-col-md-4">
      <h4>Actions</h4>
      <ul class="fr-btns-group fr-btns-group--icon-left">
        <% if @campaign.ongoing? || @campaign.finished? %>
          <li>
            <%= button_to(
              "Rafraîchir les statistiques",
              admin_campaign_refresh_stats_path(@campaign),
              class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-refresh-line",
              method: :post
            ) %>
          </li>
        <% end %>
        <% if @campaign.ongoing? || @campaign.finished? %>
          <li>
            <%= button_to(
              "Rafraîchir les informations d'envoi des mails",
              admin_campaign_refresh_delivery_infos_path(@campaign),
              class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-refresh-line",
              method: :post,
              disabled: @campaign.imported?
            ) %>
          </li>
        <% end %>
        <li>
          <%= form_with(
            url: admin_campaign_path(@campaign),
            method: :delete,
            data: {
              "turbo_confirm": "Êtes-vous sûr.e  de vouloir supprimer ce brouillon ? C'est irréversible.",
            }
          ) do |f| %>
            <%= f.submit "Supprimer ce brouillon de campagne…", class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-delete-line" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <% if @campaign.can_force_start? %>
    <div class="fr-callout fr-callout--brown-caramel fr-fi-warning-line">
      <h3 class="fr-callout__title">Lancer la campagne tout de suite [DEBUG]</h3>
      <p class="fr-callout__text">
        Ceci est une action exceptionnelle pour tester le fonctionnement des campagnes. Les mails seront vraiment envoyés ! Vérifiez les adresses emails avant de lancer.
      </p>
      <%= button_to(
        "Lancer tout de suite",
        admin_campaign_force_start_path(@campaign),
        method: :post,
        class: "fr-btn fr-btn--icon-left fr-icon-warning-line"
      ) %>
    </div>
  <% elsif @campaign.can_force_step_up? %>
    <div class="fr-callout fr-callout--brown-caramel fr-fi-warning-line">
      <h3 class="fr-callout__title">Passer à l'étape suivante tout de suite [DEBUG]</h3>
      <p class="fr-callout__text">
        Ceci est une action exceptionnelle pour tester le fonctionnement des campagnes. Les mails seront vraiment envoyés ! Vérifiez les adresses emails avant de lancer.
      </p>
      <%= button_to(
        "Passer à l'étape #{t("campaigns.step_names.#{@campaign.next_step}").downcase}",
        admin_campaign_force_step_up_path(@campaign),
        method: :post,
        class: "fr-btn fr-btn--icon-left fr-icon-warning-line"
      ) %>
    </div>
  <% end %>
</main>
