- content_for(:head_title) { "Campagne #{@campaign}" }
%main.fr-container.fr-pt-2w.fr-pb-4w
  = render(                                                  |
      "shared/breadcrumbs",                                  |
      links: [                                               |
        ["Accueil", root_path],                              |
        ["Campagnes", admin_campaigns_path],                 |
        [@campaign.human_id, admin_campaign_path(@campaign)] |
      ],                                                     |
      current_page_label: "Statistiques"                     |
    )                                                        |
  %h2
    %span.fr-icon-pie-chart-2-line{"aria-hidden" => "true"}
    Statistiques de la campagne #{@campaign} #{campaign_status_badge(@campaign)}
  - ([:all] + @campaign.past_steps).each do |step|
    .fr-mb-4w
      %h4
        = t("campaigns.mail_names.#{step}")
        \- #{@campaign.stats[:mails][step][:count]} mails déclenchés
      = render Campaigns::EmailsStatsComponent.new(@campaign.stats[:mails][step])
