.fr-table#photos
  %table
    %thead
      %tr
        %th Photo
        %th Pré-existante
        %th Commune
        %th Commentaires
        - memoire_export_columns.each do |col|
          %th{class: col[:fixed] ? "fixed" : ""}= col[:nom]
      %tr.fr-text--sm
        %th
        %th Déjà dans Mémoire
        %th
        %th
        - memoire_export_columns.each do |col|
          %th{class: col[:fixed] ? "fixed" : ""}= col[:desc]
      %tr.fr-text--sm
        %th
        %th
        %th ex: Vouziers
        %th
        - memoire_export_columns.each do |col|
          %th{class: col[:fixed] ? "fixed" : ""}= col[:desc2]
    %tbody
      - ([nil] + photos_recensement).each_cons(2) do |previous_row_photo, photo|
        %tr{id: "attachment-#{photo.attachment.id}"}
          %td= render "photo", photo: photo.attachment
          %td
            - if photo.recensement.objet.palissy_photos.any?
              = image_tag photo.recensement.objet.palissy_photos.first.url, style: "max-height: 150px;"
            - else
              %i aucune photo
          - if previous_row_photo.present? && photo.recensement.objet == previous_row_photo.recensement.objet
            %td.co-text--italic.co-text--muted{colspan: 3} Même objet
          - else
            %td= link_to photo.recensement.commune, admin_commune_path(photo.recensement.commune)
            %td
              %div= photo.recensement.objet.palissy_REF
              = photo.recensement.objet.palissy_TICO
              = link_to "voir sur POP", palissy_url(photo.recensement.objet), target: "_blank", rel: "noopener"
            %td
              - if photo.recensement.notes.present? || photo.recensement.analyse_notes.present?
                .co-width-20rem
                  - if photo.recensement.notes.present?
                    .co-text--italic commentaires commune
                    .fr-ml-1w= photo.recensement.notes
                  - if photo.recensement.analyse_notes.present?
                    .co-text--italic commentaires conservateur
                    .fr-ml-1w= photo.recensement.analyse_notes
          %td.co-word-break-all= photo.memoire_REF
          %td.co-word-break-all= photo.memoire_REFIMG
          %td= photo.memoire_NUMP
          %td= photo.memoire_DATPV
          %td Oui
          %td Photographie fournie lors du recensement réalisé par Collectif Objets
          %td= photo.recensement.commune.nom
          %td objet
          %td= photo.recensement.objet.edifice.nom
          %td © Ministère de la Culture (France), Collectif Objets – Tous droits réservés
          %td Image numérique native
          %td MHCO008
          %td Collectif Objets

:css
  .fr-table thead tr:not(:first-child) th {
    font-size: 0.6rem;
    line-height: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #photos img {
    max-width: 150px;
  }
  #photos a[target="_blank"] {
    background: none;
  }
  #photos a[target="_blank"]::after {
    display: none;
  }
