%main#contenu
  .fr-container.fr-mb-8w
    = render "shared/breadcrumbs", links: [["Admin", admin_path], ["Exports par département", admin_exports_path]], current_page_label: "Export Mémoire pour #{@departement}"

    %h1 Export Mémoire pour #{@departement}

    .co-flex.co-flex--space-between
      %h4 #{@exportable_count} Photos à exporter

      - if @exportable_count.positive?
        %div
          %a.fr-btn.fr-btn{href: admin_memoire_exports_path(departement_code: @departement), "data-turbo-method": "POST", "data-turbo-confirm": "Attention, les recensements seront marqués comme exportés !"}
            Générer l'export

  = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}
  = render "photos_table", photos_recensement: @photos
  = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}
