%main
  .fr-container.fr-mb-8w
    = render "shared/breadcrumbs", links: [["Admin", admin_path], ["Exports par département", admin_exports_path]], current_page_label: "Export Mémoire ##{@pop_export.id} pour #{@pop_export.departement}"

    %h1 Export Mémoire ##{@pop_export.id}
    %p #{@pop_export.departement}
    %p exporté le #{l(@pop_export.created_at, format: :long_with_weekday)}

    .co-flex.co-flex--gap-1rem
      %div Fichiers :
      %div
        = link_to admin_memoire_export_path(@pop_export, format: "csv"), class: "fr-link fr-link--icon-left fr-icon-download-line", "data-turbolinks": false do
          Télécharger le CSV
      - if @pop_export.zip.attached?
        %div
          = link_to rails_blob_path(@pop_export.zip, disposition: "attachment"), class: "fr-link fr-link--icon-left fr-icon-download-line" do
            Télécharger le ZIP des photos
      - else
        %div ZIP des photos en cours de génération…

    .co-flex.co-flex--space-between.fr-mt-8w
      %h4 #{@pagy.count} Photos exportées

      %div
        %button.fr-btn.fr-btn--secondary{href: "#", onclick: "document.getElementById('photos').classList.toggle('display-fixed');"}
          Voir toutes les colonnes

  = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}
  = render "photos_table", photos_recensement: @photos
  = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}
