-# locals: (:recensement)

.fr-input-group{class: ("fr-input-group--error" if recensement.errors[:photos].present?)}
  %label.fr-label.fr-mb-2w{for: "recensement_photos"}
    %span.co-text--bold Prenez des photos de l’objet dans son état actuel
    .fr-hint-text
      .fr-mb-1w
        %ul
          %li Une vue de lʼobjet entier de face
          %li Une vue de lʼobjet entier de côté
          %li Une ou plusieurs photos de détails sur les points dʼattention à signaler au conservateur
      .fr-mb-1w
        Vous pouvez ajouter plusieurs photos une par une. Taille maximale : 10Mo. Formats acceptés : jpg ou png.
      .fr-mb-1w
        En déposant des photos, vous acceptez leur réutilisation dans le cadre de la
        = link_to "https://www.etalab.gouv.fr/licence-ouverte-open-licence/", target: "_blank", rel: "noopener" do
          Licence Ouverte Etalab
      .fr-mb-1w= link_to "Voir la page 15 du guide", guide_url(page: 15), target: "_blank", rel: "noopener"
  = render PhotoUploadComponent.new(url: commune_objet_recensement_photos_path(recensement.commune, recensement.objet, recensement))

  - recensement.errors[:photos].each do |error_message|
    %p.fr-error-text
      = error_message

#attached-photos-wrapper.co-flex.co-flex--gap-1rem.co-flex--wrap
  - recensement.photos.select(&:persisted?).each do |photo|
    = render "communes/recensements/photo", photo:, recensement:, delete_button: true
