<div class="fr-grid-row fr-py-2w fr-grid-row--gutters <%= "fr-grid-row--center" if objets.count <= 4 %> ">
  <% objets.each do |objet| %>
    <div class="fr-col-md-3">
      <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <h4 class="fr-card__title">
            <%= link_to truncate(objet.nom || objet.nom_courant, length: 30), objet_path(objet), class: "fr-card__link" %>
          </h4>
          <p class="fr-card__desc">
            <%= objet.commune.nom %><br />
            <%= objet.edifice_nom %>
          </p>
        </div>
        <div class="fr-card__img">
          <%= image_tag objet_first_image_or_recensement_photo_url(objet), class: "fr-responsive-img co-spinner-bg" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
