<main class="fr-container fr-py-4w">
  <h2>Je découvre les objets de ma commune</h2>
  <p>
    Il y a des objets monuments historiques dans votre commune ? Vous êtes Elu ? Responsable du patrimoine de votre
    commune ? La commune est responsable de ces objets. Aidez-nous à vérifier leur présence et leur état
  </p>
  <p>
    <%= link_to "Liste des communes", communes_path %>
  </p>
  <p>
    <% if @filters[:commune] %>
      Voici les <%= @pagy.count %> objets de la commune <%= @filters[:commune].nom %>
    <% else %>
      Voici les <%= @pagy.count %> objets présents dans Collectif Objets
    <% end %>
  </p>
  <%== render partial: 'shared/pagy_nav', locals: {pagy: @pagy} %>
  <div class="fr-grid-row fr-py-4w fr-grid-row--gutters">
    <% @objets.each do |objet| %>
      <div class="fr-col-md-3">
        <div class="fr-card fr-enlarge-link">
          <div class="fr-card__body">
            <h4 class="fr-card__title">
              <%= link_to objet.nom, objet_path(objet), class: "fr-card__link" %>
            </h4>
            <p class="fr-card__desc">
              <%= objet.commune %>
            </p>
            <p class="fr-card__detail">
              <%= objet.edifice_nom %>
            </p>
          </div>
          <div class="fr-card__img">
            <% if objet.image_urls.any? %>
              <img src="<%= objet.image_urls[0] %>" class="fr-responsive-img" alt="">
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%== render partial: 'shared/pagy_nav', locals: {pagy: @pagy} %>
</main>
