<% content_for :head_title do %>
  <% if @filters[:commune] %>
    Objets protégés de <%= @filters[:commune].nom %>
  <% else %>
    Objets protégés de ma commune
  <% end %>
<% end %>

<main class="fr-container fr-pt-2w fr-pb-4w">

  <% if @filters[:commune] %>
    <%= render(
      "shared/breadcrumbs",
      links: [
        ["Accueil", root_path],
        ["Tous les objets", objets_path]
      ],
      current_page_label: "Objets de #{@filters[:commune].nom}"
    ) %>
  <% else %>
    <%= render("shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Tous les objets") %>
  <% end %>

  <div class="fr-grid-row fr-py-2w fr-grid-row--center">
    <div class="fr-col-md-8 co-text--center">
      <% if @filters[:commune] %>
        <h2 class="co-text--blue">
          Les <%= @pagy.count %> objets protégés de <%= @filters[:commune].nom %>
        </h2>
      <% end %>
      <% if @filters[:commune].blank? %>
        <p>
          Voici les <%= @pagy.count %> objets présents dans Collectif Objets
        </p>
        <p><%= link_to "Filtrer les objets d'une commune en particulier", departements_path %></p>
      <% end %>
    </div>
  </div>

  <% if @filters[:commune].blank? %>
    <% if @pagy.pages > 1 %>
      <div class="fr-mt-4w">
        <%== render partial: 'shared/pagy_nav', locals: {pagy: @pagy} %>
      </div>
    <% end %>
    <%= render "communes/objets/cards", objets: @objets, cards_options: { badges: [], display_recensement_photos: false } %>
    <% if @pagy.pages > 1 %>
      <%= render partial: 'shared/pagy_nav', locals: {pagy: @pagy} %>
    <% end %>
  <% else %>
    <%= render "communes/objets/list", objets_list: @objets_list, cards_options: { badges: [], display_recensement_photos: false } %>
  <% end %>

</main>
