<% content_for(:head_title) { truncate(@objet.nom, length: 20) } %>

<main class="fr-container co-objet-show fr-pt-2w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      [
        "Objets de #{@objet.commune.nom}",
        current_user ? commune_objets_path(current_user.commune) : objets_path(commune_code_insee: @objet.commune.code_insee)
      ]
    ],
    current_page_label: @objet.nom
  ) %>
  <div class="co-flex co-flex--align-items-center co-flex--gap-1rem co-flex--wrap fr-mb-8w">
    <h2 class="fr-mb-0"><%= @objet.nom %></h2>
    <%= render "objets/recensement_badge", objet: @objet %>
  </div>

  <div class="fr-grid-row fr-pb-4w fr-grid-row--gutters">
    <div class="fr-col-md-6">
      <% if @objet.commune == current_user&.commune && @objet.current_recensement&.editable?%>
        <p>
          <%= link_to "modifier le recensement", edit_objet_recensement_path(@objet, @objet.current_recensement), class: "fr-btn fr-btn--secondary fr-icon-edit-line fr-btn--icon-right" %>
        </p>
      <% end %>

      <% if @objet.commune == current_user&.commune && @objet.recensable? %>
        <div class="fr-mb-4w">
          <%= link_to "Recenser cet objet", new_objet_recensement_path(@objet), class: "fr-btn" %>
        </div>
      <% end %>

      <%= render GalleryComponent.from_urls(
        @objet.image_urls,
        title: t(".pop_photos_count", count: @objet.image_urls.count),
        responsive_versions: [:small]
      ) %>

      <p>
        <b>Emplacement</b><br />
        Se situe dans l'édifice <b><%= @objet.edifice_nom %></b><br />
        <i><%= @objet.emplacement %></i>
      </p>
      <p>
        <b>Nom courant</b><br />
        <%= @objet.nom_courant %>
      </p>
      <p>
        <b>Catégorie</b><br />
        <%= @objet.categorie %>
      </p>
      <p>
        <b>Époque</b><br />
        <%= @objet.crafted_at || "N/A" %>
      </p>
      <p>
        <b>Récolement</b><br />
        Dernier récolement : <%= @objet.last_recolement_at || "N/A" %>
      </p>
      <p>
        <b>Références</b><br />
        POP (Base Palissy) : <%= @objet.palissy_REF%>
      </p>
      <p>
        <%= link_to(
          "Voir plus de détails sur la Plateforme Ouverte du Patrimoine",
          "https://www.pop.culture.gouv.fr/notice/palissy/#{@objet.palissy_REF}",
          target: "_blank",
          rel: "noopener",
          class: "co-text--blue"
        ) %>
      </p>
    </div>
    <div class="fr-col-md-6">
      <%= render GalleryComponent.from_urls(
        @objet.image_urls,
        title: t(".pop_photos_count", count: @objet.image_urls.count),
        responsive_versions: [:full]
      ) %>
    </div>
  </div>
</main>
