- content_for(:head_title) { "Accueil conservateurs" }
%main#contenu.fr-container.fr-pt-6w.fr-pb-8w
  .fr-grid-row.fr-grid-row--gutters.co-flex--align-items-center
    .fr-col-md-7
      %h1 Pourquoi rejoindre Collectif&nbsp;Objets&nbsp;?
      %p
        :markdown
          Collectif Objets vous permet d’organiser des campagnes de recensement des objets monuments historiques auprès des communes de votre département.

          Outre la sensibilisation des élus à leur patrimoine mobilier, ces campagnes vous permettent d’**entrer en relation avec l’ensemble des communes** de votre territoire, de **recueillir des informations actuelles sur les objets** et de disposer ainsi d’**une vue globale et actuelle du parc pour guider votre action**.

          Collectif Objets est un service porté par le Bureau de la Conservation des Monuments Historiques Mobiliers du ministère de la Culture.
    .fr-col-md-5
      %div
        = render "shared/video_embed", title: "Compilation de témoignages de conservateurs à l’occasion de la journée du BCMHM du 12 mai 2023", video_id: "cb1bbe30-a934-41eb-90f9-8faa8d5efdb3" do
          :markdown
            Collectif Objets - Témoignages : interviews d'Éric Blanchegorge, CAOA de l'Aube, et Jacques Antoine, CAOA en Meurthe-et-Moselle.

            **Pour commencer, que pensez-vous de Collectif Objets ?**

            *Jacques Antoine* : « Franchement je suis très satisfait.

            J'ai pas trop de temps parce qu'avec mon métier, c'est compliqué de dégager de l'emploi du temps et ça permet vraiment d'aller à l'essentiel, c'est vraiment pratique.

            En plus ça motive vraiment pour aller revoir les objets qui posent problème. Quand on voit que quelqu'un nous donne du répondant d'une commune on se dit que ça vaut le coup d'y retourner parce que les gens ont l'air motivés. »

            **Quelle est l'utilité première de Collectif Objets ?**

            *Éric Blanchegorge* : « Je trouve que l'outil donne un cadre, y compris à la commune, qui n'a absolument pas l'habitude de notre vocabulaire.

            Ça permet un contact et un dialogue, et c'est ça que je retiendrai avant tout. »

            **Combien de temps ça vous prend ?**

            *Jacques Antoine* : « Une commune avec 3 objets, le maire vous dit que les 3 objets sont en bon état, vous regardez le premier, vous faites lui ça va, vous regardez le deuxième, lui ça va, le troisième, lui ça va, finaliser le dossier, c'est fini.

            En 30 secondes on peut avoir fait une commune avec 3 objets qui ne posent pas de problème.

            Par contre ça prend beaucoup plus de temps quand on nous signale un objet qui pose problème, là il faut réagir.

            Mais c'est bien parce que là on peut se rendre sur place parce que ça vaut le coup de le faire, on ne fait pas des déplacements pour rien, on va vraiment aux urgences. »

            **Qu'en est-il de la qualité des informations remontées par les communes ?**

            *Éric Blanchegorge* : « On ne voit pas aussi bien que si on était sur place, mais avec l'expérience on se rend bien compte, même avec une simple photo, s'il y a ou pas, ou s'il risque d'y avoir ou pas un problème que la commune n'aurait pas repéré. »

            *Jacques Antoine* : « 30% ça doit faire un bon millier d'objets qui sont concernés. Parmi les retours qu'on a eu, j'ai du avoir 5-6 erreurs d'objets. »

            **Et pour conclure, Collectif Objets c'est compliqué ?**

            *Jacques Antoine* : « Je ne suis pas un as de l'informatique. Les conservateurs vont rire : je suis nul pour les recherches sur les bases de données de l'état.

            Je peux vous dire que parmi toutes les interfaces que j'utilise —je suis prof dans l'éducation nationale—, c'est simple Collectif Objets. »

  %h2.fr-mt-8w
    Découvrez les témoignages de conservateurs d’antiquités et d’objets d’art, utilisateurs de Collectif Objets

  .fr-grid-row.fr-grid-row--gutters.fr-mt-2w
    .fr-col-md-4
      = render "shared/video_embed", title: "Entretien avec Jacques Antoine, CAOA en Meurthe-et-Moselle", video_id: "99cdfb61-91e7-4e7b-a351-e27d0a2e14b9" do
        :markdown
          La première campagne de recensement des objets monuments historiques en Meurthe-et-Moselle a été lancée à l'automne 2022.

          Ce département compte 1900 objets MH.

          145 communes ont participé, ce qui a permis de recenser près de 30% du parc mobilier.

          **Pour commencer, Collectif Objets vous en pensez quoi ?**

          « Franchement je suis très satisfait.

          J'ai pas trop de temps parce qu'avec mon métier, c'est compliqué de dégager de l'emploi du temps et ça permet vraiment d'aller à l'essentiel, c'est vraiment pratique.

          En plus ça motive vraiment pour aller revoir les objets qui posent problème. Quand on voit que quelqu'un nous donne du répondant d'une commune on se dit que ça vaut le coup d'y retourner parce que les gens ont l'air motivés. »

          **Avant de rentrer dans le vif du sujet, quel est le contexte en Meurthe-et-Moselle ?**

          « La spécificité chez nous c'est que je suis enseignant, sans aucune décharge.

          Enseignant au collège c'est 21 heures de cours, et le reste qui va avec, donc il n'y a pas énormément de temps pour les monuments historiques, ce qui n'empêche pas de faire mon travail mais ça ne me laisse pas beaucoup de temps.

          Et, on a un département qui est très grand. Il a été fait après 1870, donc on a 2 heures de route au plus court pour aller dans le nord du département, on a un département très haut. »

          **Quelle est l'utilité première de Collectif Objets pour vous ?**

          « C'est surtout la priorisation des déplacements, et être rassuré sur des objets dont on se demandait s'ils étaient revenus parce qu'il y a des objets qui sont promenés parfois.

          C'est un problème de choses qu'on n'avait pas vues, des attaques d'insectes xylophages, des traces d'humidité, on a eu des dégradations récentes qu'on ne connaissait pas et ça nous a permis d'aller sur place. »

          **Combien de temps ça vous prend, Collectif Objets ?**

          « Une commune avec 3 objets, le maire vous dit que les 3 objets sont en bon état, vous regardez le premier, vous faites lui ça va, vous regardez le deuxième, lui ça va, le troisième, lui ça va, finaliser le dossier, c'est fini.
          Essayez de vous rappeler ce que vous avez fait quand même, mais en 30 secondes on peut avoir fait une commune avec 3 objets qui ne posent pas de problème.
          C'est quand même bien de répondre au maire, qu'il sache qu'on a vu sa réponse.

          Par contre ça prend beaucoup plus de temps quand on nous signale un objet qui pose problème, là il faut réagir.

          Mais c'est bien parce que là on peut se rendre sur place parce que ça vaut le coup de le faire, on ne fait pas des déplacements pour rien, on va vraiment aux urgences, et ça c'est vraiment utile. »

          **Les informations transmises par les communes sont-elles fiables ?**

          « 30% ça doit faire un bon millier d'objets. Parmi les retours qu'on a eu, j'ai du avoir 5-6 erreurs d'objets.

          C'est vraiment minime, et c'est des objets qui nous posent problème à nous aussi.
          Honnêtement, dans un village où il y a 7 vierges à l'enfant, laquelle est inscrite en 23 -non, ça n'existe pas, laquelle est classée en 23 et laquelle est inscrite en 74, on a un doute parce qu'on ne sait pas, on n'a aucune photo.

          Il y a des objets qui sont toujours douteux parce que la photo n'est pas la bonne dans les archives…

          Mais ça nous permet, parce que nous on a les bonnes photos, en général, à 98%, on peut les fournir.

          Quand les maires sont dans le coup, ça permet d'entretenir une relation, un dialogue. »

          **Étiez-vous un as du numérique avant Collectif Objets ? Car c'est une question qui revient souvent !**

          « Je ne suis pas un as de l'informatique, pour ce qu'on est en train de faire en ce moment, cette interview inoubliable, je me demandais comment j'allais enregistrer une vidéo.

          Les conservateurs vont rire : je suis nul pour les recherches sur les bases de données de l'état.

          Je peux vous dire que parmi toutes les interfaces que j'utilise, je suis prof dans l'éducation nationale, c'est simple Collectif Objets. »

    .fr-col-md-4
      = render "shared/video_embed", title: "Entretien avec Eric Blanchegorge, CAOA de l’Aude", video_id: "246042a8-a337-4e16-b5b1-f11cde4e84d9" do
        :markdown
          La première campagne de recensement des objets monuments historiques de l'Aube a été lancée à l'automne 2022.

          Ce département compte 4300 objets MH.

          154 communes ont participé, ce qui a permis de recenser près de 40% du parc mobilier.

          **Pour commencer, à quoi vous sert Collectif Objets ?**

          « Je trouve que l'outil donne un cadre, y compris à la commune, qui n'a absolument pas l'habitude de notre vocabulaire.

          Ça permet un contact et un dialogue, et c'est ça que je retiendrai avant tout : c'est un outil supplémentaire de dialogue avec les collectivités, principalement les communes rurales en l'espèce bien sûr, quant aux objets mobiliers.

          Encore le département de l'Aube n'est pas très grand mais il y en a d'autres c'est différent, n'est-ce pas, très montagneux, on n'a pas toujours l'occasion d'avoir tout vu, loin s'en faut.
          Donc, à mon sens, point d'hésitation.

          **Comment utilisez-vous Collectif Objets ?**

          « Très sincèrement, ce n'est pas très compliqué.

          C'est selon la qualité des réponses apportées par les collectivités et déposées sur la plateforme. Le CAOA ou les CDAOA de l'Aube valide parfois ce qui a été déposé tel quel, cela arrive, ce n'est pas la majorité mais il arrive que les communes aient parfaitement répondu et illustré leurs réponses et que donc le recensement puisse être validé tel quel.
          Très souvent, il y a cependant des questions, qui résultent souvent de l'absence de photographies.

          Il y a aussi la comparaison qui est faite par nous des photographies présentes sur POP et des photographies envoyées par la commune.
          Un certain nombre de remarques nous viennent parfois, que la commune n'a pas relayé, pas relevé, pas constaté, soit parce que ça n'était pas les questions posées, soit parce qu'elle ne s'est pas rendu compte qu'il y avait une différence.

          Donc évidemment lorsque l'enfant Jésus a perdu sa tête entre 2002-2003 et 2022, on interroge la commune.
          “Savez-vous où est la tête de l'enfant jésus qu'on voit sur la photographie du recensement précédent ?”

          Je dirais que je me contente, entre guillemets, de poser des questions par mail d'abord, avant d'envisager un déplacement.

          Sur les 88 communes que j'ai traité moi-même, je me suis déplacé 6 fois, vraiment pour des questions de conservation, c'est-à-dire d'infestations d'objets en bois.
          Principalement, c'est la cause de mon déplacement.

          Ou à la demande exprès de la commune, ce qui arrive également.

          **Qu'en est-il de la qualité des informations remontées par les communes ?**

          « On ne voit pas aussi bien que si on était sur place, mais avec l'expérience on se rend bien compte, même avec une simple photo d'une qualité convenable évidemment, s'il y a ou pas, ou s'il risque d'y avoir ou pas un problème que la commune n'aurait pas repéré, par manque d'expérience, et d'expertise.

          **Et pour conclure…**

          « Utilisons donc pleinement les outils mis à disposition, et tâchons lors de la deuxième session grâce à Collectif Objets, d'atteindre presque 80% de communes.

    .fr-col-md-4
      = render "shared/video_embed", title: "Entretien avec Emmanuel Moureau, CAOA du Tarn-et-Garonne", video_id: "19ecb0b6-2f9f-4e4a-9de5-30005d7b1fe1" do
        :markdown
          — « Bonjour, je suis Sybille, chargée de déploiement pour Collectif Objets, et je suis aujourd'hui avec Emmanuel Moureau, CAOA du Tarn-et-Garonne, qui est également le président de l'Association des Conservateurs d'Antiquité et d'Objets d'Art de France.

          « Emmanuel est l'un des utilisateurs de la première heure de Collectif Objets puisque nous avons lancé la première campagne de recensement communal des objets Monuments Historiques avec lui, du 7 février au 3 avril 2023.

          « Elle concernait 120 communes sur les 121 communes possédant des objets protégés de son département.
          On a 48 communes qui ont recensé, donc presque la moitié du département. Un petit peu marseillaise sur les bords (c'est un peu moins de la moitié) mais ça concerne quand même déjà 38% du parc mobilier du département.

          « Donc, Emmanuel, comment ça s'est passé ? Pouvez-vos me parler de votre expérience en tant qu'utilisateur de la plateforme ? »

          — « J'étais un peu, je l'avoue, sceptique sur ce projet.

          « Je me demandais si les communes allaient suivre ou pas, et finalement, c'est une heureuse surprise de voir que oui, les communes ont accepté de jouer le jeu, ou en tout cas un bon nombre d'entre elles, avec des communes d'ailleurs auxquelles je ne m'attendais pas, et au contraire j'en attendais d'autres qui n'ont pas répondu.

          « Et peu finalement de réticences aussi ou de craintes de voir un spam quelconque ou un faux mail.

          « J'ai eu quelques coups de téléphone quand même de communes un peu inquiètes.

          « Donc un lancement intéressant. C'est une campagne qui a permis aussi aujourd'hui de porter ses fruits en termes d'apport de prise de conscience par les communes de la propriété de ces objets mobiliers protégés parce que beaucoup ignoraient finalement que ces objets d'abord leur appartenaient, qu'ils étaient présents ou pas d'ailleurs sur la commune, et qu'ils étaient protégés.

          « Et puis ça a permis aussi à des associations parfois locales de prendre le relais des mairies pour pouvoir faire ce travail, donc de renforcer aussi des liens avec des acteurs qu'on ne connaissait pas.

          « Ça a permis de voir que les objets mobiliers étaient bien souvent présents.

          « Et puis, malheureusement, ça a entraîné le fait que certains objets n'ont pas été retrouvés, notamment des objets d'orfèvreries, protégés dans les années 50 et que personne n'avait vu depuis très longtemps.

          « Donc un bilan plutôt positif. »

          — « D'accord, et alors, pourquoi avoir choisi justement de vous lancer avec Collectif Objets ? »

          — « Vous le savez, les CAOA n'ont pas de base de données de travail communes au niveau national.

          « C'est un souci que l'association des CAOA de France pointe depuis bien longtemps aujourd'hui, même s'il y a eu quelques tentatives dans les années précédentes, mais rien de vraiment très concluant au final.

          « Et Collectif Objets est un outil intéressant parce qu'il permet à la fois de sensibiliser les communes à l'existence de ce patrimoine mobilier protégé, mais également de gérer quand même ces objets, c'est-à-dire de pouvoir intégrer des photos, de pouvoir facilement avoir un état sanitaire de ces objets.

          « Et je crois avoir compris que le module de récolement aussi allait arriver assez vite.

          « Donc on est vraiment sur un outil qui est certes en cours d'élaboration, mais qui est vraiment adapté au métier de CAOA, et aussi de conservateurs des Monuments Historiques.

          — « Il y a-t-il quelque chose en particulier que vous trouvez utile dans son utilisation ? »

          — « Ce que je trouve utile c'est qu'on a la liste des objets protégés, avec éventuellement les photos et le renvoi à POP, donc on a facilement une vue d'ensemble des objets.

          « Ça je trouve ça bien, parce qu'on sait tout de suite de quoi on parle.

          « On a la photo, quand elle y est, et le titre. On peut approfondir éventuellement en allant sur POP.

          « On a aussi tout de suite les photos des communes, qui nous sont renvoyées par les communes, donc ça c'est bien.

          « On a le module de cartographie aussi qui est très intéressant parce que grâce à ce module on peut avoir une vue d'ensemble du département et les communes pour lesquelles il y a des objets en péril, les communes où on s'est dit qu'il fallait aller faire une visite prioritaire, une visite moins prioritaire, ou pas de visite.

          « Ça permet aussi de cibler et de programmer des tournées plus facilement. »

          — « Est-ce que ça vous a apporté une meilleure connaissance du parc mobilier du Tarn-et-Garonne ? »

          — « Oui dans le sens où certaines communes j'avoue je n'y étais pas allé, ou il y a très longtemps.

          « Je n'avais pas pu avoir accès à certains objets non plus.

          « Ça me permet de confirmer malheureusement des doutes que j'avais sur l'existence ou en tout cas la conservation de certains objets dans les communes.

          « Ça me permet aussi de voir que certaines communes sont motivées pour restaurer leur patrimoine mobilier.

          « Parce qu'évidemment, on se focalise aussi beaucoup sur la partie récolement et sur la partie conservation, mais c'est aussi intéressant de pouvoir inciter les communes à restaurer ce patrimoine.

          « Donc Collectif Objets permet justement de dialoguer et quand on a un objet est cité comme étant en mauvais état ou dans un état moyen, on peut dire aux communes “Mais vous savez, on peut vous aider pour le restaurer, on peut prévoir ça.”

          « C'est aussi établir des liens et envisager des programmes de restauration pour les années à venir. »

          — « Merveilleux. Et au final, est-ce que vous recommanderiez aux autres conservateurs son utilisation ? »

          — « Je pense que Collectif Objets est adapté aux CAOA qui n'ont pas justement d'outils ou de bases de données à leur disposition.

          « C'est moins adapté pour les CAOA qui ont une base de données départementale qui fonctionne, avec laquelle ils peuvent ensuite travailler autour des communes.

          « C'est vraiment adapté pour des CAOA qui n'ont pas ce dispositif-là.

          « Ce qu'il faut savoir par contre c'est que ça demande du travail de traitement puisqu'on reçoit les rapports des communes à analyser.

          « Il faut prendre le temps d'analyser ces rapports, de les sauvegarder, éventuellement de faire quelques recherches, d'échanger via la messagerie, qui fonctionne d'ailleurs bien, avec les communes, et puis de prévoir des déplacements.

          « Donc c'est un bel outil, qu'il faut voir aussi sur le long terme.

          « À mon avis ce n'est pas une seule opération qui va durer trois ou quatre mois.

          « Le lancement de la campagne c'est plutôt le départ de quelque chose, et c'est un outil vraiment à utiliser.

          « Il faut prévoir ses visites petit à petit, éventuellement approfondir.

          « Donc oui, je le recommanderai vraiment pour des CAOA qui n'ont pas d'outil à disposition, mais surtout qui ont une charge de travail qui leur permet justement d'aller ensuite faire les visites et de recroiser les informations apportées par les communes.

          « Parce qu'il faut savoir qu'elles nous donnent parfois des informations qui ne sont pas très fiables sur l'état des objets.

          « Ils s'inquiètent parfois pour des choses qui ne le sont pas, ou on a des objets qu'ils confondent, donc ça demande un petit peu de travail pour aller les voir.

          « Donc je le recommanderai aux collègues, et aux collègues qui sont entièrement bénévoles je leur dirai voilà, c'est un bel outil, mails il faut savoir que ça va demander du travail et des déplacements.

          « Donc c'est à réfléchir aussi avec vos conservateurs des monuments historiques pour voir comment la DRAC peut vous accompagner par rapport à ça. »

          — « Merci beaucoup Emmanuel. »

          — « Merci Sybille. »

  .fr-grid-row.fr-grid-row--center.fr-mt-8w.fr-grid-row--gutters
    .fr-col-md-6
      %h2 Découverte
      :markdown
        Collectif Objets est l'outil de recensement pour préparer les récolements, à destination des conservateurs d'antiquités et objets d'objets.

        C'est un outil qui évolue rapidement en fonction des retours des utilisateurs-conservateurs qui en sont les bâtisseurs.

        Lancer une campagne de déploiement dans votre département est simple et rapide.

      = link_to "Demander une démonstration", "mailto:#{CONTACT_EMAIL}", class: "fr-btn fr-mt-2w"
    .fr-col-md-6
      %h2 Infolettres
      Abonnez-vous pour recevoir des nouvelles environ tous les mois de l’actualité de Collectif Objets
      %ul
        %li
          = link_to "Infolettre n°6 - juillet 2024", "https://sh1.sendinblue.com/aebst8798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°5 - janvier 2024", "https://sh1.sendinblue.com/ae7l3w798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°4 - novembre 2023", "https://sh1.sendinblue.com/aduxzw798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°3 - juillet 2023", "https://sh1.sendinblue.com/ade36k798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°2 - avril 2023", "https://sh1.sendinblue.com/ad1g2k798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°1 - février 2023", "https://sh1.sendinblue.com/vtnrw798lpfe.html", target: "_blank", class: "fr-link"

      .fr-mt-4w
        = link_to "Recevoir les futures infolettres", "https://10ef9a11.sibforms.com/serve/MUIEAOT2Dbx7cezoDXWeEFB0fJpqxxmIlpaW3XKwjF2qM4CnanWkNld7tKvD-B7Aa17MLz5d0I4lVD9miKS6DqWPsZUozvrypr4XDWnBr_yBqd2YB4UcNNaOghgNjKUcAqqHFZ9wsxxYFww-Khdo77EGp2RGRezFfGcYrGSUo57rHYhDDHJUbrK7PyWKMWp5_RchI7HNcO7IJ0hi", class: "fr-btn"

  .fr-grid-row.fr-grid-row--gutters.fr-mt-8w
    .fr-col-md-8
      Vous souhaitez en savoir plus sur l'outil, une documentation plus complète est à destination des conservateurs
    .fr-col-md-4.co-flex.co-flex--justify-content-end
      = link_to "Consulter la documentation", content_blob_path(:documentation_conservateur), class: "fr-btn fr-btn--secondary"
