- content_for(:head_title) { "Accueil conservateurs" }
%main#contenu.fr-container.fr-pt-6w.fr-pb-8w
  .fr-grid-row.fr-grid-row--gutters.co-flex--align-items-center
    .fr-col-md-7
      %h1 Pourquoi rejoindre Collectif&nbsp;Objets&nbsp;?
      %p
        :markdown
          Collectif Objets vous permet d’organiser des campagnes de recensement des objets monuments historiques auprès des communes de votre département.

          Outre la sensibilisation des élus à leur patrimoine mobilier, ces campagnes vous permettent d’**entrer en relation avec l’ensemble des communes** de votre territoire, de **recueillir des informations actuelles sur les objets** et de disposer ainsi d’**une vue globale et actuelle du parc pour guider votre action**.

          Collectif Objets est un service porté par le Bureau de la Conservation des Monuments Historiques Mobiliers du ministère de la Culture.
    .fr-col-md-5
      %div
        = render "shared/video_embed", title: "Entretiens avec des conservateurs - journée BCMHM 2023", video_id: "cb1bbe30-a934-41eb-90f9-8faa8d5efdb3"
      .co-text--center
        Compilation de témoignages à l’occasion de la journée du BCMHM du 12 mai 2023


  %h2.fr-mt-8w
    Découvrez les témoignages de conservateurs d’antiquités et d’objets d’art, utilisateurs de Collectif Objets

  .fr-grid-row.fr-grid-row--gutters.fr-mt-2w
    .fr-col-md-4
      %div= render "shared/video_embed", title: "Entretien avec Jacques Antoine", video_id: "99cdfb61-91e7-4e7b-a351-e27d0a2e14b9"
      .co-text--center
        .co-text--bold Jacques-Antoine
        .co-text--muted CAOA en Meurthe-et-Moselle

    .fr-col-md-4
      %div= render "shared/video_embed", title: "Entretien avec Eric Blanchegorge", video_id: "246042a8-a337-4e16-b5b1-f11cde4e84d9"
      .co-text--center
        .co-text--bold Eric Blanchegorge
        .co-text--muted CAOA de l’Aude

    .fr-col-md-4
      %div= render "shared/video_embed", title: "Entretien avec Emmanuel Moureau", video_id: "19ecb0b6-2f9f-4e4a-9de5-30005d7b1fe1"
      .co-text--center
        .co-text--bold Emmanuel Moureau
        .co-text--muted CAOA du Tarn-et-Garonne

  .fr-grid-row.fr-grid-row--center.fr-mt-8w.fr-grid-row--gutters
    .fr-col-md-6
      %h2 Découverte
      :markdown
        Collectif Objets est l'outil de recensement pour préparer les récolements, à destination des conservateurs d'antiquités et objets d'objets.

        C'est un outil qui évolue rapidement en fonction des retours des utilisateurs-conservateurs qui en sont les bâtisseurs.

        Lancer une campagne de déploiement dans votre département est simple et rapide.

      = link_to "Demander une démonstration", "mailto:#{CONTACT_EMAIL}", class: "fr-btn fr-mt-2w"
    .fr-col-md-6
      %h2 Infolettres
      Abonnez-vous pour recevoir des nouvelles environ tous les mois de l’actualité de Collectif Objets
      %ul
        %li
          = link_to "Infolettre n°6 - juillet 2024", "https://sh1.sendinblue.com/aebst8798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°5 - janvier 2024", "https://sh1.sendinblue.com/ae7l3w798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°4 - novembre 2023", "https://sh1.sendinblue.com/aduxzw798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°3 - juillet 2023", "https://sh1.sendinblue.com/ade36k798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°2 - avril 2023", "https://sh1.sendinblue.com/ad1g2k798lpfe.html", target: "_blank", class: "fr-link"
        %li
          = link_to "Infolettre n°1 - février 2023", "https://sh1.sendinblue.com/vtnrw798lpfe.html", target: "_blank", class: "fr-link"

      .fr-mt-4w
        = link_to "Recevoir les futures infolettres", "https://10ef9a11.sibforms.com/serve/MUIEAOT2Dbx7cezoDXWeEFB0fJpqxxmIlpaW3XKwjF2qM4CnanWkNld7tKvD-B7Aa17MLz5d0I4lVD9miKS6DqWPsZUozvrypr4XDWnBr_yBqd2YB4UcNNaOghgNjKUcAqqHFZ9wsxxYFww-Khdo77EGp2RGRezFfGcYrGSUo57rHYhDDHJUbrK7PyWKMWp5_RchI7HNcO7IJ0hi", class: "fr-btn"

  .fr-grid-row.fr-grid-row--gutters.fr-mt-8w
    .fr-col-md-8
      Vous souhaitez en savoir plus sur l'outil, une documentation plus complète est à destination des conservateurs
    .fr-col-md-4.co-flex.co-flex--justify-content-end
      = link_to "Consulter la documentation", content_blob_path(:documentation_conservateur), class: "fr-btn fr-btn--secondary"
