- content_for(:head_title) { "Admin" }

%main.fr-mt-4w.fr-mb-8w
  .fr-container.fr-grid-row
    .fr-col-md-8
      %h1
        %span.fr-icon-lock-line(aria-hidden="true")
        Admin
      %h2 Ressources
      %ul
        %li= link_to "Communes", admin_communes_path
        %li= link_to "Conservateurs", admin_conservateurs_path
        %li= link_to "Campagnes", admin_campaigns_path

      %h2.fr-mt-4w Outils & Debug
      %ul
        - if Rails.configuration.x.environment_specific_name == "production"
          %li= link_to "Prévisualisation des emails (sur staging)", "https://staging.collectif-objets.incubateur.net/mail_previews", target: "_blank", rel: "noopener"
        - else
          %li= link_to "Prévisualisation des emails", mail_previews_path
        %li= link_to "Suivi des tâches asynchrones (Sidekiq)", sidekiq_web_path
        %li= link_to "Exports pour POP", admin_exports_path
