<% content_for(:head_title) { "Comment ça marche ?" } %>

<main>
  <!-- SECTION PREPAREZ -->
  <section class="co-background--light-grey">
    <div class="fr-container fr-pt-2w">
      <%= render(
        "shared/breadcrumbs",
        links: [
          ["Accueil", root_path],
        ],
        current_page_label: "Comment ça marche ?"
      ) %>
      <div class="fr-grid-row fr-pb-8w">
        <div class="fr-col-md-8">
          <h2 class="co-text--blue"><%= t(".intro.title") %></h2>
          <p><%= t(".intro.content1") %></p>
          <p><%= t(".intro.content2") %></p>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION ETAPE 1 -->
  <section class="fr-container">
    <div class="fr-grid-row fr-py-8w fr-grid-row--middle">
      <div class="fr-col-md-5">
        <h2 class="co-text--blue"><%= t(".etape1.title") %></h2>
        <p><%= t(".etape1.content1") %></p>
        <p><%= t(".etape1.content2") %></p>
        <p><%= t(".etape1.content3") %></p>
        <p>
          <%= link_to "Voir le guide de recensement", guide_path, class: "fr-btn" %>
        </p>
      </div>
      <div class="fr-col-md-7 fr-px-12w">
        <%= render(
          "shared/picture_tag",
          filename_without_extension: "sur-place",
          picture_class: "co--width-max-100",
          alt: "exemples d'objets monuments historiques"
        ) %>
      </div>
    </div>
  </section>
  <!-- SECTION ETAPE 2 -->
  <section class="co-background--light-grey">
    <div class="fr-container ">
      <div class="fr-grid-row fr-py-12w fr-grid-row--middle">
        <div class="fr-col-md-7 fr-px-12w">
        <%= render(
          "shared/picture_tag",
          filename_without_extension: "formulaire",
          picture_class: "co--width-max-100",
          alt: "Guide de recensement"
        ) %>
        </div>
        <div class="fr-col-md-5">
          <h2 class="co-text--blue"><%= t(".etape2.title") %></h2>
          <p><%= t(".etape2.questions.title") %></p>
          <ul>
            <li><%= t(".etape2.questions.question1") %></li>
            <li><%= t(".etape2.questions.question2") %></li>
            <li><%= t(".etape2.questions.question3") %></li>
          </ul>
          <p><%= t(".etape2.photo") %></p>
          <p><%= t(".etape2.hors_ligne") %></p>
          <% if current_user.present? %>
            <p>
              <%= link_to "Télécharger le questionnaire imprimable", commune_formulaire_path(current_user.commune), class: "fr-link" %>
            </p>
        <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION ETAPE 3 -->
  <section class="fr-container">
    <div class="fr-grid-row fr-py-8w fr-grid-row--center">
      <div class="fr-col-md-5">
        <h2 class="co-text--blue"><%= t(".etape3.title") %></h2>
        <p><%= t(".etape3.conseils") %></p>
        <p><%= t(".etape3.fiches") %></p>
      </p>
    </div>
    <div class="fr-col-md-7 fr-px-12w">
      <%= vite_image_tag "images/illustrations/etape3.svg", class: "co--width-100", alt: "etape 3" %>
      <%# render(
        "shared/picture_tag",
        filename_without_extension: "formulaire",
        picture_class: "co--width-max-100",
        alt: "exemple de formulaire de recensement"
      ) %>
    </div>
  </section>
    <!-- SECTION FAQ -->
  <section class="co-background--light-grey fr-py-8w">
    <div class="fr-container" id="faq">
      <h2 class="co-text--blue co-text--center">Les questions les plus fréquentes</h2>
      <div class="fr-grid-row  fr-grid-row--center">
        <div class="fr-col-md-8">
          <ul
            class="fr-accordions-group"
            data-controller="accordion-open"
            data-accordion-open-target="group"
          >
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-1">
                    Quelles sont les obligations des propriétaires d'objets protégés / inscrits / classés ?
                  </button>
                </div>
                <div class="fr-collapse" id="faq-1">
                  Le code du patrimoine ne crée pas d'obligation particulière pour le propriétaire dans la gestion quotidienne. En en faisant un trésor national, il invite cependant à y accorder la plus grande attention. Lorsque des travaux sont envisagés, une autorisation doit être demandée à l’État. Le propriétaire peut également demander une subvention.
                </div>
              </section>
            </li>
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-retours">
                    <%= t(".faq.retours.title") %>
                  </button>
                </div>
                <div class="fr-collapse" id="faq-retours">
                  <%= t(".faq.retours.content") %>
                </div>
              </section>
            </li>
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-restauration">
                    <%= t(".faq.restauration.title") %>
                  </button>
                </div>
                <div class="fr-collapse" id="faq-restauration">
                  Veuillez consulter ces pages dédiées sur le site du Ministère de la Culture :
                  <ul>
                    <li>
                      <%= link_to t(".faq.restauration.page_intervenir"), "https://www.culture.gouv.fr/Sites-thematiques/Monuments-Sites/Interventions-demarches/Intervenir-sur-un-objet-mobilier-classe-ou-inscrit", rel: "noopener", target: "_blank" %>
                    </li>
                    <li>
                      <%= link_to t(".faq.restauration.page_marches"), "https://www.culture.gouv.fr/Thematiques/Conservation-restauration/La-conservation-restauration-en-France/Marches-publics-et-conservation-restauration-des-biens-culturels", rel: "noopener", target: "_blank" %>
                    </li>
                  </ul>
                </div>
              </section>
            </li>
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-entretien">
                    <%= t(".faq.entretien.title") %>
                  </button>
                </div>
                <div class="fr-collapse" id="faq-entretien">
                  <p>
                    <%= t(".faq.entretien.content") %>
                  </p>
                  <ul>
                    <li>
                      <%= link_to t(".faq.entretien.page_intervenir"), "https://www.culture.gouv.fr/Sites-thematiques/Monuments-Sites/Interventions-demarches/Intervenir-sur-un-objet-mobilier-classe-ou-inscrit", rel: "noopener", target: "_blank" %>
                    </li>
                    <li>
                      <%= link_to t(".faq.entretien.page_plan_sauvegarde"), "https://www.culture.gouv.fr/Thematiques/Securite-Surete/Securite-et-surete-des-biens/Plan-de-sauvegarde-des-biens-culturels", rel: "noopener", target: "_blank" %>
                    </li>
                  </ul>
                </div>
              </section>
            </li>
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-securisation">
                    <%= t(".faq.securisation.title") %>
                  </button>
                </div>
                <div class="fr-collapse" id="faq-securisation">
                  <ul>
                    <li>
                      <%= link_to t(".faq.securisation.voir_la_fiche"), fiche_path(pdf: "fiche_securisation") %>
                    </li>
                    <li>
                      <%= link_to t(".faq.securisation.page_securite"), "https://www.culture.gouv.fr/Thematiques/Securite-Surete", rel: "noopener", target: "_blank" %>
                    </li>
                    <li>
                      <%= link_to t(".faq.securisation.page_vol"), "https://www.culture.gouv.fr/Thematiques/Securite-Surete/Securite-et-surete-des-biens/Procedures-en-cas-de-vol", rel: "noopener", target: "_blank" %>
                    </li>
                  </p>
                </div>
              </section>
            </li>
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-5">
                    Quelle licence est utilisée pour les photos déposées ?
                  </button>
                </div>
                <div class="fr-collapse" id="faq-5">
                  <p>
                    Les photos déposées seront réutilisées dans le cadre de la <a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence/" target="_blank">Licence Ouverte Etalab</a>. Cette licence est ouverte, libre et gratuite, et apporte la sécurité juridique nécessaire aux producteurs et aux réutilisateurs des données publiques. Les photos ne pourront pas être dénaturées et la source (la Mairie) sera citée en cas de réutilisation.
                  </p>
                  <p>
                    Cette licence ouverte est automatiquement appliquée lorsque c'est un agent public qui prend la photo. Si c'est une personne externe, il faut recueillir leur cession de droits.
                  </p>
                </div>
              </section>
            </li>
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-introuvable">
                    <%= t(".faq.introuvable.title") %>
                  </button>
                </div>
                <div class="fr-collapse" id="faq-introuvable">
                  <p><%= t(".faq.introuvable.verifier") %></p>
                  <p><%= t(".faq.introuvable.introuvable") %></p>
                  <p><%= link_to t(".faq.introuvable.voir_la_fiche"), fiche_path(pdf: "fiche_vol") %></p>
                </div>
              </section>
            </li>
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-manquants">
                    <%= t(".faq.manquants.title") %>
                  </button>
                </div>
                <div class="fr-collapse" id="faq-manquants">
                  <p><%= t(".faq.manquants.monuments_historiques") %></p>
                  <p><%= link_to t(".faq.manquants.page_proteger"), "https://www.culture.gouv.fr/Thematiques/Monuments-Sites/Interventions-demarches/Proteger-un-objet-un-immeuble-un-espace/Proteger-des-objets-mobiliers-au-titre-des-monuments-historiques", target: "_blank" %></p>
                  <p><%= t(".faq.manquants.palissy") %></p>
                </div>
              </section>
            </li>
            <li>
              <section class="fr-accordion">
                <div class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="faq-sur-place">
                    <%= t(".faq.sur_place.title") %>
                  </button>
                </div>
                <div class="fr-collapse" id="faq-sur-place">
                  <p><%= t(".faq.sur_place.content") %></p>
                </div>
              </section>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION QUESTION -->
  <section class="fr-py-8w">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--middle">
        <div class="fr-col-md-8 fr-text--lg co-text--blue fr-px-4w">
          Vous avez une question qui n'est pas dans la liste ? N'hésitez pas à nous contacter.
        </div>
        <div class="fr-col-md-4">
          <%= link_to "collectifobjets@beta.gouv.fr", "mailto:collectifobjets@beta.gouv.fr", class: "fr-btn fr-icon-mail-line fr-btn--icon-right" %>
        </div>
      </div>
    </div>
  </section>
</main>
