<main>
  <!-- SECTION INTRO -->
  <div class="co-background--light-grey fr-py-12w">
    <div class="fr-container fr-grid-row">
      <div class="fr-col-md-6 fr-pr-4w">
        <h2>Recenser notre patrimoine pour le protéger</h2>
        <p>
          En France, <b>3 communes sur 4</b> abritent des <b>objets classés ou inscrits aux monuments historiques</b>.
        </p>
        <p>
          À travers <b>Collectif Objets</b>, le ministère de la Culture lance une opération de <b> recensement participatif </b> pour accompagner les communes propriétaires dans la protection et la valorisation de ce patrimoine.
        </p>
        <p>
          Pour lutter contre les vols et les dégradations des objets monuments historiques de votre commune, <b>votre rôle d'élu local est essentiel. </b>
        </p>
        <p>
          <%= render "shared/cta_voir_objets" %>
        </p>
      </div>
      <div class="fr-col-md-6 fr-px-6w">
        <%= render(
          "shared/picture_tag",
          filename_without_extension: "home-hero-1",
          picture_class: "co--width-max-100",
          alt: "exemples d'objets monuments historiques"
        ) %>
      </div>
    </div>
  </div>
  <!-- SECTION POURQUOI -->
  <div class="co-home-section-pourquoi fr-py-12w">
    <div class="fr-container fr-grid-row fr-grid-row--center">
      <div class="fr-col-md-6">
        <h2 class="co-text--blue">Pourquoi participer au recensement ?</h2>
        <p>
          Les objets monuments historiques sont l'histoire de nos territoires. Un recensement régulier permet d'identifier à temps les situations qui nécessitent une intervention et d'apporter des solutions adaptées aux singularités de votre commune.
        </p>
      </div>
    </div>
    <div class="fr-container fr-grid-row fr-grid-row--center fr-mt-4w">
      <div class="fr-col-md-4 fr-px-4w">
        <%= vite_image_tag "images/illustrations/woman-magnifier.svg", class: "fr-mb-2w  co--width-max-100" %>
        <div>
          <b>(Re) Découvrez les objets</b>
          classés ou inscrits aux monuments historiques qui font la richesse de votre commune
        </div>
      </div>
      <div class="fr-col-md-4 fr-px-4w">
        <%= vite_image_tag "images/illustrations/people-clap.svg", class: "fr-mb-2w  co--width-max-100" %>
        <div>
          <b>Bénéficiez des conseils</b>
          et de l'expertise des conservatrices et conservateurs
        </div>
      </div>
      <div class="fr-col-md-4 fr-px-4w">
        <%= vite_image_tag "images/illustrations/woman-going-up-stairs.svg", class: "fr-mb-2w  co--width-max-100" %>
        <div>
          Les conservateurs de votre département vous adresseront un <b>rapport sur la conservation et la sécurisation de vos objets</b>, leur valorisation et les possibilités de financement des projets.
        </div>
      </div>
    </div>
  </div>
  <div class="co-background--light-grey fr-py-12w">
    <div class="fr-container fr-grid-row fr-grid-row--center fr-my-8w">
      <div class="fr-col-md-6">
        <%= link_to "Je découvre les objets monuments historiques de ma commune" , objets_path, class: "fr-btn" %>
      </div>
    </div>
  </div>
  <!-- SECTION ETAPES -->
  <div class="co-home-section-steps">
    <div class="fr-container fr-grid-row fr-grid-row-gutters fr-grid-row--middle fr-grid-row--center fr-my-12w">
      <div class="fr-col-md-5 fr-px-12w co-text--center">
        <%= vite_image_tag "images/illustrations/counter-01.svg" , class: "co--width-max-100", alt: "étape 1" %>
      </div>
      <div class="fr-col-md-5">
        <p class="fr-text--lg"><%= t("recensements.etapes.etape1_html") %></p>
        <p>
          <%= link_to "Voir les objets de ma commune" , objets_path, class: "fr-icon-arrow-right-line fr-link--icon-right" %>
        </p>
      </div>
    </div>
    <div class="fr-container fr-grid-row fr-grid-row-gutters fr-grid-row--middle fr-grid-row--center fr-my-12w">
      <div class="fr-col-md-5">
        <p class="fr-text--lg"><%= t("recensements.etapes.etape2_html") %></p>
        <p>
          <%= link_to "Lire le guide" , guide_url %>
        </p>
      </div>
      <div class="fr-col-md-5 fr-px-12w co-text--center">
        <%= vite_image_tag "images/illustrations/counter-02.svg" , class: "co--width-max-100", alt: "étape 2" %>
      </div>
    </div>
    <div class="fr-container fr-grid-row fr-grid-row-gutters fr-grid-row--middle fr-grid-row--center fr-my-12w">
      <div class="fr-col-md-5 fr-px-12w co-text--center">
        <%= vite_image_tag "images/illustrations/counter-03.svg" , class: "co--width-max-100", alt: "étape 3" %>
      </div>
      <div class="fr-col-md-5">
        <p class="fr-text--lg"><%= t("recensements.etapes.etape3_html") %></p>
      </div>
    </div>
  </div>
  <!-- SECTION STATS -->
  <div class="co-background--light-grey fr-py-12w">
    <div class="fr-container fr-grid-row fr-grid-row-gutters">
      <div class="fr-col-12 fr-pb-4w co-text--center">
        <h2 class="co-text--blue" id="stats">Ils ont participé</h2>
      </div>
      <div class="fr-col-md-6 fr-px-8w co-text--center">
        <div class="fr-display--xl co-text--blue"><%= Recensement.count %></div>
        <div class="co-text--blue">
          objets classés monuments historiques déjà recensés
          depuis le début de l'opération
        </div>
      </div>
      <div class="fr-col-md-6 fr-px-8w co-text--center">
        <div class="fr-display--xl co-text--blue">+85%</div>
        <div class="co-text--blue">
          de communes participantes<br/>
          lors de la première campagne réalisée en Haute-Marne
        </div>
      </div>
      <div class="fr-col-12 fr-mt-8w co-text--center">
        <%= link_to "Voir plus de statistiques", stats_path, class: "fr-link" %>
      </div>

    </div>
  </div>
  <!-- SECTION TESTIMONIALS -->
  <div class="co-home-section-testimonials fr-py-12w" id="testimonials">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row-gutters">
        <div class="fr-col-12 fr-pb-4w co-text--center">
          <h2 class="co-text--blue">Ils témoignent</h2>
        </div>
        <div class="fr-col-md-6 fr-p-4w">
          <div class="co-testimonial-wrapper">
            <%= vite_image_tag "images/illustrations/head-circle-man-blue.svg", class: "co-testimonial-avatar" %>
            <p>
              « Je n'avais pas connaissance de la valeur ou de ce que pouvaient représenter mes objets au niveau du patrimoine »
            </p>
          </div>
          <div class="co-text--center">
            Maire d'une commune de 545 habitants
            <span class="co-text--muted">Haute-Marne</span>
          </div>
        </div>
        <div class="fr-col-md-6 fr-p-4w">
          <div class="co-testimonial-wrapper">
            <%= vite_image_tag "images/illustrations/head-circle-woman-red.svg", class: "co-testimonial-avatar" %>
            <p>
              « Le recensement s'est bien passé, le guide fourni était super. Je ne connaissais pas tout cela ! »
            </p>
          </div>
          <div class="co-text--center">
            Conseillère Municipale d'une commune de 729 habitants
            <span class="co-text--muted">Haute-Marne</span>
          </div>
        </div>
        <div class="fr-col-md-6 fr-p-4w">
          <div class="co-testimonial-wrapper">
            <%= vite_image_tag "images/illustrations/head-circle-man-glasses.svg", class: "co-testimonial-avatar" %>
            <p>
              « Ça prend 5 minutes, rien de compliqué, c'est simple. C'est la patrimoine de la France, il est chez nous, c'est notre devoir. »
            </p>
          </div>
          <div class="co-text--center">
            Maire d'une commune de 518 habitants
            <span class="co-text--muted">Haute-Marne</span>
          </div>
        </div>
        <div class="fr-col-md-6 fr-p-4w">
          <div class="co-testimonial-wrapper">
            <%= vite_image_tag "images/illustrations/head-circle-man-beard.svg", class: "co-testimonial-avatar" %>
            <p>
              « La démarche permet de mieux connaître l'histoire de sa commune et d'échanger avec les habitants, et les anciens, sur ce qui fait notre commune »
            </p>
          </div>
          <div class="co-text--center">
            Maire d'une commune de 789 habitants
            <span class="co-text--muted">Haute-Marne</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SECTION AIDE -->
  <div class="co-background--light-grey fr-py-12w" id="help">
    <div class="fr-container fr-grid-row">
      <div class="fr-col-md-6 fr-pr-4w">
        <h2 class="co-text--blue">
          L'équipe de Collectif Objets
        </h2>
        <p>
          Nous sommes là pour vous répondre et vous accompagner dans cette démarche
        </p>
        <ul>
          <li><b>Romuald Goudeseune</b> Conservateur des monuments historiques en charge de l'expérimentation</li>
          <li><b>Elsa Le Duigou</b> Chargée de déploiement</li>
          <li><b>Fantine Monot</b> Chargée de déploiement</li>
          <li><b>Sybille de la Raudière</b> Chargée de déploiement</li>
          <li><b>Enora Bulting</b> Designer</li>
          <li><b>Raphaëlle Neyton</b> Coach</li>
          <li><b>Adrien Di Pasquale</b> Développeur</li>
        </ul>
        <p>
          <%= link_to "collectifobjets@beta.gouv.fr", "mailto:collectifobjets@beta.gouv.fr", class: "fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-mail-line fr-mt-2w" %>
        </p>
      </div>
      <div class="fr-col-md-6 fr-px-6w">
        <%= render(
          "shared/picture_tag",
          filename_without_extension: "equipe",
          picture_class: "co--width-max-100",
          alt: "Équipe de Collectif Objets"
        ) %>
      </div>
    </div>
  </div>
</div>
</main>
