- title = "Statistiques"
- content_for(:head_title) { title }

%main.fr-container.fr-pb-8w
  = render "shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: title

  %h1= title

  Recenser notre patrimoine pour le protéger !

  = cache @stats.cache_key do
    %p
      %strong
        = number_with_delimiter @stats.total_objets_protégés
        objets sont protégés au titre des monuments historiques en France.

    .co-readable
      %p
        %strong 3 communes sur 4
        abritent des objets monuments historiques, qui font l’histoire de nos territoires.

      %p
        Pour assurer la pérennité de ce patrimoine, Collectif Objets propose des campagnes de recensement participatif des objets monuments historiques.
      %p
        Ces campagnes sont menées de concert avec les conservateurs des antiquités et objets d'art et les conservateurs des monuments historiques de chaque département, afin de soutenir les communes dans la préservation et la valorisation de leur patrimoine mobilier.

    %h2
      I - Couverture du parc mobilier monuments historiques

    %p
      Notre objectif : que la totalité du parc mobilier <abbr title="Monuments Historiques">MH</abbr> soit recensé via Collectif Objets d'ici 2027.

    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-col-md-4
        = co_tile("Objets protégés", "dans tous les départements") do
          = number_with_delimiter(@stats.total_objets_protégés)
      .fr-col-12.fr-col-md-4
        = co_tile("Objets protégés", "dans les départements engagés") do
          = number_with_delimiter(@stats.total_objets_protégés_dans_départements_actifs)
      .fr-col-12.fr-col-md-4
        = co_tile("Taux de recensement du parc") do
          = "#{@stats.ratio_objets_recensés}%"

    %h2.fr-mt-3w
      II - Déploiement de Collectif Objets

    %h3
      Nombre de campagnes par département

    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        = co_tile("Départements avec campagnes") do
          = number_with_delimiter(@stats.total_départements_actifs)
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        = co_tile("Communes participantes") do
          = number_with_delimiter(@stats.total_communes_participantes)
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        = co_tile("Campagnes en cours ou planifiées") do
          = number_with_delimiter(@stats.total_campagnes_actives)

    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-col-md-6
        = co_tile("Communes contactées", "dans les départements actifs") do
          = "#{@stats.ratio_communes_contactées}%"
      .fr-col-12.fr-col-md-6
        = co_tile("Taux de fiabilité des données") do
          = "#{@stats.ratio_recensements_fiables}%"

    %h2.fr-mt-3w
      III - Traitement des objets en situation préoccupante

    %p
      Notre objectif : à terme, que 100% des objets en péril ou signalés comme ayant disparu soient examinés en ligne par les conservateurs.

    .fr-grid-row.fr-grid-row--gutters
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        = co_tile("Objets recensés", "dans une situation préoccupante") do
          = number_with_delimiter(@stats.total_recensements_préoccupants)
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        = co_tile("Objets signalés péril et disparus pris en charge") do
          = number_with_delimiter(@stats.total_objets_prioritaires_pris_en_charge)
      .fr-col-12.fr-col-md-6.fr-col-lg-4
        = co_tile("Objets préoccupants", "examinés par des conservateurs") do
          - "#{@stats.ratio_objets_prioritaires_pris_en_charge}%"
