- content_for(:head_title) { "Liste des communes" }
= vite_javascript_tag "france_map"
%main.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Accueil", root_path], ["Tous les objets", objets_path]], current_page_label: "Liste des communes"
  %h1 Liste des communes par département
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-md-6.co-flex--grow
      %div{"data-bins-json" => "#{@map_bins.to_json}", "data-controller" => "france-map", "data-departements-json" => "#{@map_departements_json}", "data-france-map-target" => "container", style: "height: 600px; max-height: 50vh; width: 100%;"}
      .co-text--italic.co-text--center.fr-my-1w
        Nombre dʼobjets protégés par département et par commune
      .co-flex.co-flex--justify-content-center
        %ul.co-list-unstyled
          - @map_bins.each do |bin|
            %li
              .map-legend-icon{style: "background-color: #{bin[:color]}"}
              = bin[:legend]
    .fr-col-md-6
      %ul.fr-mb-8w
        - @departements.each do |departement|
          %li
            = link_to(departement, departement_path(departement.code))
            %span.fr-text--sm
              (#{departement.communes_count} communes)
