<% content_for(:head_title) { "Liste des communes" } %>

<%= vite_javascript_tag "france_map" %>

<main class="fr-container fr-pt-2w fr-pb-4w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      ["Tous les objets", objets_path]
    ],
    current_page_label: "Liste des communes")
  %>

  <h2>Liste des communes par département</h2>

  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-6 co-flex--grow">
      <div
        data-controller="france-map"
        data-france-map-target="container"
        data-departements-json="<%= @map_departements_json %>"
        data-bins-json="<%= @map_bins.to_json %>"
        style="height: 600px; max-height: 50vh; width: 100%;">
      </div>
      <div class="co-text--italic co-text--center fr-my-1w">
        Nombre dʼobjets protégés par département et par commune
      </div>
      <div class="co-flex co-flex--justify-content-center">
        <ul class="co-list-unstyled">
          <% @map_bins.each do |bin| %>
            <li>
              <div
                class="conservateur-map-legend-icon"
                style="background-color: <%= bin[:color] %>"
              >
              </div>
              <%= bin[:legend] %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="fr-col-md-6">
      <ul class="fr-mb-8w">
        <% @departements.each do |departement| %>
          <li>
            <%= link_to(departement, departement_path(departement.code)) %>
            <span class="fr-text--sm">(<%=departement.communes_count %> communes)</span>
        <% end %>
      </ul>
    </div>
  </div>
</main>
