= turbo_frame_tag :access do
  = form_for [access.commune, access.recenseur, access], builder: FormBuilderDsfr do |f|
    - if access.granted?
      - if access.commune.edifices.size < 2
        = f.hidden_field :all_edifices, value: true, id: nil
        .fr-toggle.fr-toggle--border-bottom
          = f.check_box :all_edifices, class: "fr-toggle__input", name: nil, checked: true, disabled: true, id: dom_id(access, :all_edifices), data: { "fr-checked-label": "Tous", "fr-unchecked-label": "Sélection" }
          = f.label :all_edifices, "Accès à tous les édifices", for: dom_id(access, :all_edifices), class: "fr-toggle__label"
      - else
        .fr-toggle.fr-toggle--border-bottom
          = f.check_box :all_edifices, class: "fr-toggle__input", id: dom_id(access, :all_edifices), checked: access.all_edifices_selected?, data: { controller: "input-autosubmit", action: "input-autosubmit#submit", "fr-checked-label": "Tous", "fr-unchecked-label": "Sélection" }
          = f.label :all_edifices, "Accès à tous les édifices", for: dom_id(access, :all_edifices), class: "fr-toggle__label"

        %fieldset.fr-fieldset.fr-mt-2w
          %legend.fr-fieldset__legend.fr-h5.fr-mb-0= "Édifices"
          - access.commune.edifices.ordered_by_nom.with_objets_count.each do |edifice|
            - nb_objets = Objet.human_attribute_name(:count, count: edifice.objets_count)
            .fr-fieldset__element
              .fr-checkbox-group
                = f.check_box "edifice_ids", { checked: access.edifice?(edifice), value: edifice.id, name: "recenseur_access[edifice_ids][]", id: "access_edifice_ids_#{edifice.id}", data: { controller: "input-autosubmit", action: "input-autosubmit#submit" } }, edifice.id, nil
                = f.label "edifice_ids[]", "#{edifice.nom} (#{nb_objets})", for: "access_edifice_ids_#{edifice.id}"
