= turbo_frame_tag :recenseurs do
  - recenseurs ||= @commune.recenseurs.order(created_at: :desc)
  - if recenseurs.load.none?
    %p.empty Il n'y a aucun recenseur à afficher.
  - else
    %p= Recenseur.human_attribute_name(:count, count: recenseurs.size)
    .fr-table
      %table.w-100
        %thead
          %tr
            %th{ scope: :col } Nom
            %th{ scope: :col } Email
            %th{ scope: :col } Statut
            %th{ scope: :col } Actions
        %tbody
          - recenseurs.each do |recenseur|
            %tr
              %td= link_to recenseur.nom, [@commune, recenseur], "data-turbo-frame": :_top
              %td.co-word-break-all= link_to recenseur.email, "mailto:#{recenseur.email}", target: :_blank
              %td= recenseur.human_status
              %td= button_to "Révoquer l'accès", [@commune, recenseur, recenseur.access_for(@commune)], method: :delete, data: { turbo_confirm: "Êtes-vous sûr ?" }, class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-delete-line"

