<h1>Collectif Objets - Rapport Emails Send In Blue</h2>
<% @report_data.each do |departement, data_dpt| %>
  <h2> D茅partement <%= departement %></h2>

  <% data_dpt.each do |key, data| %>
    <h3>
       <%= data["list_name"] %>
      路 <%= data["list_members_count"] %> contacts
      路 <a href="https://my.sendinblue.com/users/list/id/<%= data["list_id"] %>">
        voir sur SIB 锔
      </a>
    </h3>

    <h4><%= data["not_found_in_db"].count %> contacts pr茅sents dans la liste SIB mais introuvables dans notre DB</h4>
    <ul>
      <% data["not_found_in_db"].map do |user_data| %>
        <li>
          <%= user_data["email"] %>
          路 <a href="https://app.sendinblue.com/contact/index/<%= user_data["sib_id"] %>">
            voir sur SIB 锔
          </a>
        </li>
      <% end %>
    </ul>

    <h4><%= data["should_not_be_in_list"].count %> contacts pr茅sents dans la liste SIB mais qui ne devraient pas y 锚tre</h4>
    <ul>
      <% data["should_not_be_in_list"].map do |user_data| %>
        <li>
          <%= user_data["email"] %>
          路 <a href="https://app.sendinblue.com/contact/index/<%= user_data["sib_id"] %>">
            voir sur SIB 锔
          </a>
          路 commune <%= user_data["commune_status"] %>
          路 <%= user_data["recensements_count"] %> recensements
          路 dont <%= user_data["recensements_with_photos_count"] %> avec photos
          路 <a href="<%= admin_commune_url(user_data["commune_id"]) %>">
            voir dans l'admin 锔
          </a>
        </li>
      <% end %>
    </ul>
    <hr style="margin: 2rem 0;" />
  <% end %>
<% end %>
