<main>
  <!-- SECTION INTRO -->
  <section>
    <div class="fr-container">
      <div class="fr-grid-row fr-py-8w">
        <div class="fr-col-md-6">
          <h2 class="co-text--blue">Votre commune souhaite participer ?</h2>
          <p>
            En répondant à ce questionnaire, vous portez votre commune volontaire pour participer à l’opération de recensement des objets classés ou inscrits aux monument historique dont elle a la charge.
          </p>
          <p>
            <b>Vous recevrez un accompagnement supplémentaire</b> si vous en avez besoin lors de votre recensement
          </p>
          <%= form_for(@enrollment, as: "enrollment", url: enrollments_path, builder: FormBuilderDsfr) do |f| %>
            <div class="fr-input-group">
              <%= f.label :name, "Nom" %>
              <%= f.text_field :name, required: true, autofocus: true %>
            </div>
            <div class="fr-input-group">
              <%= f.label :role, "Votre fonction" %>
              <%= f.text_field :role %>
            </div>
            <div class="fr-input-group">
              <%= f.label :email, "E-mail" %>
              <%= f.email_field :email, autocomplete: "email", required: true %>
            </div>
            <div class="fr-input-group">
              <%= f.label :phone, "Numéro de téléphone" %>
              <%= f.text_field :phone, type: "tel" %>
            </div>
            <div class="fr-input-group">
              <%= f.label :commune %>
              <%= f.text_field :commune, required: true %>
            </div>
            <div class="fr-input-group">
              <%= f.label :notes %>
              <%= f.text_area :notes %>
            </div>
            <div class="actions">
              <%= f.submit "J'inscris ma commune à la campagne de recensement" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- SECTION QUI PEUT INSCRIRE -->
  <section>
    <div class="fr-container">
      <div class="fr-grid-row fr-py-8w">
        <div class="fr-col-md-6">
          <h2 class="co-text--blue">Qui peut inscrire sa commune ?</h2>
          <p>
            En tant que propriétaire, la commune est responsable de ses objets et peut accompagner les autres propriétaires sur son territoire. En accord avec l’affectataire, la commune peut confier la réalisation de ce recensement à un tiers de confiance (association, personnalité qualifiée, ...).
          </p>
          <p>
            Le dispositif Collectif Objets est actuellement en phase de test dans plusieurs départements (Haute-Marne, Marne, ...). Nous travaillons pour déployer l’initiative rapidement au sein de nouveaux départements.
          </p>
        </div>
        <div class="fr-col-md-6 fr-px-12w">
          <%= image_tag "illustrations/man-checking-todo.svg", class: "co--width-max-100" %>
        </div>
      </div>
    </div>
  </section>
</main>
