- content_for(:head_title) { "Recenseurs • Admin" }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Admin", admin_path]], current_page_label: "Recenseurs"

  .co-flex.co-flex--space-between
    %h1
      = icon_span("account-pin-circle", fill: true)
      Recenseurs
    %div
      %div= link_to "Créer un nouveau recenseur", new_admin_recenseur_path, class: "fr-btn"

  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-lg-9
      - if @pagy.count.zero?
        Il n'y a aucun recenseur à afficher.
      - else
        %p= Recenseur.human_attribute_name(:count, count: @pagy.count)
        .fr-table
          %table
            %thead
              %tr
                %th Nom
                %th Email
                %th Notes
                %th Statut
                %th
            %tbody
              - @recenseurs.each do |recenseur|
                %tr
                  %td= link_to highlight(recenseur.nom, @query), admin_recenseur_path(recenseur)
                  %td.co-word-break-all= link_to highlight(recenseur.email, @query), "mailto:#{recenseur.email}", target: :_blank
                  %td{title: recenseur.notes.size > 25 ? recenseur.notes : nil}= highlight(recenseur.notes.truncate(25), @query)
                  %td= recenseur.human_status
                  %td.co-white-space-nowrap
                    .fr-mt-1w
                      = link_to edit_admin_recenseur_path(recenseur) do
                        = icon_span("pencil")
                        Modifier

        = render partial: "shared/pagy_nav", locals: { pagy: @pagy } if @pagy.pages > 1
      = render "shared/recenseurs_presentation"

    .fr-col-12.fr-col-lg-3
      %h2.fr-h5 Filtres
      = search_form_for @ransack, url: admin_recenseurs_path, builder: FormBuilderDsfr do |f|
        .fr-input-group
          = f.label :email_or_nom_or_notes_cont, "Nom, email ou notes"
          = f.search_field :email_or_nom_or_notes_cont
        .fr-input-group
          = f.label :status, "Statut"
          = f.select :status, [["", ""]] + Recenseur.statuses.keys.map { [Recenseur.human_attribute_name("status.#{_1}"), _1] }
        = f.submit "Filtrer"
