<% content_for(:head_title) { truncate(@objet.nom, length: 20) } %>

<main class="co-objet-show co-conservateurs-objet-show">
  <div class="fr-container fr-py-4w">
    <div class="fr-grid-row">
      <div class="fr-col-md-12">
        <%= render(
          "shared/breadcrumbs",
          links: [
            ["Départements", conservateurs_departements_path],
            [
              nom_departement(@objet.commune.departement),
              conservateurs_departement_path(@objet.commune.departement)
            ],
            [@objet.commune.nom, conservateurs_commune_path(@objet.commune)]
          ],
          current_page_label: @objet.nom
        ) %>

        <div class="co-flex co-flex--space-between">
          <h1><%= @objet.nom %></h1>
          <% if @recensement.nil? %>
            <div>
              <p class="fr-badge fr-badge--sm fr-badge--warning">
                <%= t(".not_recensed") %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="fr-col-md-8">
        <div class="fr-card fr-card--horizontal fr-card--horizontal-tier">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h4 class="fr-card__title">
                <%= @objet.palissy_REF %>
              </h4>
              <p class="fr-card__desc">
                <% [:edifice_nom, :emplacement, :categorie, :crafted_at].each do |att| %>
                  <b><%= t(".pop_card.#{att}") %> :</b>
                  <%= @objet.send(att).presence || "N/A" %>
                  <br />
                <% end %>
                <br />
                <%= link_to(
                  t(".pop_card.link"),
                  "https://www.pop.culture.gouv.fr/notice/palissy/#{@objet.palissy_REF}",
                  target: "_blank",
                  rel: "noopener"
                ) %>
              </p>
            </div>
          </div>
          <div class="fr-card__header">
            <%= render(
              "shared/card_img",
              url: @objet.image_urls.any? ? @objet.image_urls.first : "images/illustrations/photo-manquante-pop.png"
            ) %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% if @recensement %>
    <%= form_for(
      @recensement,
      url: conservateurs_recensement_path(@recensement),
      builder: FormBuilderDsfr
    ) do |f| %>
      <div class="fr-container fr-mb-6w" id="recensement">
        <div class="co-background--light-teal fr-py-6w fr-px-6w">
          <h3><%= t(".recensement.title") %></h3>
          <div class="fr-grid-row fr-pb-6w">
            <div class="fr-col-md-6">
              <% if @recensement.missing_photos? %>
                <p class="fr-badge fr-badge--sm fr-badge--warning fr-mb-4w">
                  <%= t("recensement.photos.taken_count", count: 0) %>
                </p>
              <% end %>
              <%= render(
                "conservateurs/objets/recensement_attributes",
                recensement_presenter: @recensement_presenter,
                recensement: @recensement,
                f:
              ) %>
              <div class="fr-pb-1w">
                <b><%= t("activerecord.attributes.recensement.notes") %></b>
              </div>
              <div>
                <%= blockquote(@recensement.notes, class: "fr-my-2w") %>
              </div>
            </div>
            <% if @recensement.photos.any? %>
              <div class="fr-col-md-6 co-flex-md-reverse-order">
                <%= render GalleryComponent.from_attachments(
                  @recensement.photos,
                  title: t("recensement.photos.taken_count", count: @recensement.photos.count)
                ) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="fr-container">
        <div class="fr-grid-row">
          <div class="fr-col-md-12">
            <% unless @recensement.objet.commune.completed? %>
              <div class="fr-alert fr-alert--error fr-mb-4w">
                <p><%= t("recensement.analyse.not_completed") %></p>
              </div>
            <% end %>
            <% if @recensement.errors.any? %>
              <div class="fr-alert fr-alert--error fr-mb-6w">
                <p>
                  <%= t(".analyse.error") %>
                  <ul>
                    <% @recensement.errors.attribute_names.each do |attribute| %>
                      <li>
                        <%= attribute %>
                        <%= @recensement.errors.messages_for(attribute).first %>
                      </li>
                    <% end %>
                  </ul>
                </p>
              </div>
            <% end %>
            <%= render(
              "forms/collection_check_boxes",
              f: f,
              field_name: :analyse_actions,
              options: analyse_action_options,
              disabled: !@recensement.objet.commune.completed?,
              hint: t("conservateurs.recensements.analyse_actions.hint")
            ) %>
          </div>
          <div class="fr-col-md-6 fr-my-2w">
            <%= render(
              "forms/collection_check_boxes",
              f: f,
              field_name: :analyse_fiches,
              options: analyse_fiche_options,
              disabled: !@recensement.objet.commune.completed?,
              hint: t("conservateurs.recensements.analyse_fiches.hint")
            ) %>
          </div>
        </div>

        <div class="fr-grid-row fr-mb-4w">
          <div class="fr-col-md-6">
            <%= f.label :analyse_notes %>
            <%= f.text_area(
              :analyse_notes,
              disabled: !@recensement.objet.commune.completed?
            ) %>
          </div>
        </div>

        <div class="fr-grid-row">
          <div class="fr-col-md-8">
            <%= f.submit(
              t(".analyse.submit"),
              disabled: !@recensement.analysable?
            ) %>
            <div class="fr-text--sm fr-mt-1w">
              <i><%= t(".analyse.submit_desc") %></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</main>
