= render layout: "conservateurs/communes/tabs",
  locals: { commune: @commune, dossier: @dossier, current_tab: :messagerie } do

  %h2.fr-sr-only Messagerie

  = render "shared/messages/list", messages: @messages, viewed_by: current_conservateur
  = render "shared/messages/form", url: conservateurs_commune_messages_path(@commune), message: @new_message
  = render "shared/messages/email_address_hint", email_address: @commune.support_email(role: :conservateur)

  = dsfr_accordion_section(title: "Autres contacts de la commune") do
    %p.fr-mx-16w
      :markdown
        Nous vous recommandons d’utiliser la messagerie ci-dessus en priorité pour centraliser vos échanges avec la commune.
        Cela permet notamment de partager les échanges avec les autres conservateurs du département
    %div
    - if phone = @commune.phone_number
      .fr-mb-1w
        = link_to phone, "tel:#{phone}", class: "fr-link fr-icon-phone-line fr-link--icon-left"
    - if sp_prefix = @commune.departement.service_public_prefix
      .fr-mb-1w
        = link_to "Mairie de #{@commune} sur service-public.fr", "https://lannuaire.service-public.fr/#{sp_prefix}/mairie-#{@commune.code_insee}-01", class: "fr-link fr-icon-information-line fr-link--icon-left", target: "_blank", rel: "noopener"
    - if email = @commune.user&.email
      .fr-mb-1w
        = link_to email, "mailto:#{email}", class: "fr-link fr-icon-mail-line fr-link--icon-left"
