%div
  - if message.errors.any?
    .fr-alert.fr-alert--error.fr-mb-6w
      %p Votre message n'a pas pu être envoyé :
      %ul
        - message.errors.attribute_names.each do |attribute|
          %li= message.errors.messages_for(attribute).first

  = form_for message, url: , method: :post, builder: FormBuilderDsfr, html: { id: "new-message-form" } do |f|
    .fr-input-group
      = f.label :text, "Votre message"
      = f.text_area :text, rows: 5, required: true, autocomplete: "off"
    .co-flex.co-flex--space-between
      .fr-input-group
        = f.label :files, "Ajouter des photos ou fichiers"
        = f.file_field :files, multiple: true, direct_upload: true
      .fr-input-group
        %button.fr-btn.fr-btn--icon-right.fr-icon-send-plane-fill{type: :submit} Envoyer
