<main class="fr-container fr-py-10w fr-grid-row fr-grid-row--middle">
  <div class="fr-col-md-7">
    <h1><%= t_fallback("errors.show.title.#{@status_code}") %></h1>

    <p class="fr-text--sm">Erreur <%= @status_code %></p>

    <p class="fr-text--lead">
      <%= t_fallback("errors.show.content.#{@status_code}") %>
    </p>

    <p>
      <%= t_fallback("errors.show.help.#{@status_code}").html_safe %>
    </p>

    <% if @status_code.to_s.start_with?("4") %>
      <a href="/" class="fr-btn">Page dʼaccueil</a>
    <% else %>
      <a
        href="mailto:support@collectif-objets.beta.gouv.fr"
        class="fr-btn fr-btn--secondary"
      >
        Contactez-nous
      </a>
    <% end %>
  </div>
  <div class="fr-col-md-5 co-text--center">
    <%= image_tag "illustrations/technical-error.svg", style: "width: 200px;" %>
  </div>
</main>
