%div{ data: { controller: "galerie--actions--upload--confirmation-component" } }

  -# invisible upload form and field triggered via JS
  = form_with(url: attachments_path,
    data: { galerie__actions__upload__confirmation_component_target: "uploadForm" }) do |f|
    - create_params.each do |key, value|
      = f.hidden_field key, value: value
    = f.hidden_field :redirect_path, value: redirect_path
    = f.file_field(:new_blob_id,
      class: "fr-file-input hide",
      autocomplete: "off",
      direct_upload: true,
      data: { galerie__actions__upload__confirmation_component_target: "uploadFileInput",
        action: "change->galerie--actions--upload--confirmation-component#triggerUpload" })

  = dsfr_modal(title: "Ajouter une photo du recensement", html_attributes: { id: "galerie--actions--upload--modal-confirmation-ajout" }) do |component|
    - component.with_button do
      = button_tag("Ajouter une photo",
        type: "button",
        class: "fr-btn fr-btn--sm fr-btn",
        data: { action: "click->galerie--actions--upload--confirmation-component#triggerSelectFile",
          galerie__actions__upload__confirmation_component_target: "uploadButton" },
        "aria-controls": "galerie--actions--upload--modal-confirmation-ajout")
    - component.with_button do
      = button_tag("Annuler",
        type: "button",
        class: "fr-btn fr-btn--sm fr-btn--secondary",
        "aria-controls": "galerie--actions--upload--modal-confirmation-ajout")
    %p= message
