- unless edifices.count <= 3 && edifices.reduce { |a_moins_de_6_objets, edifice| a_moins_de_6_objets && edifice.objets.count <= 6  }
  %p.fr-h4 Liste des #{edifices.count} édifices

  %ul.fr-mb-8w
    - edifices.each do |edifice|
      %li
        = link_to "#{edifice_nom(edifice.nom)}".html_safe, "##{edifice.slug}"
        · #{t("objets.count", count: edifice.objets.length)}
