- content_for(:head_title) { "Aide en ligne : #{@content_blob.title}" }

%main#contenu.fr-container.fr-pb-16w.fr-pt-2w
  = render "shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: @content_blob.title

  %h1= @content_blob.title

  .fr-grid-row.fr-grid-row--gutters
    .fr-col-md-4
      = render "shared/sommaire", items: @content_blob.toc
    .fr-col-md-8.co-markdown-content
      != @content_blob.to_html.gsub("CONTACT_EMAIL", CONTACT_EMAIL)
