-# locals: :edifice
- commune = edifice.commune
- nom = edifice_nom(edifice.nom)

.d-md-flex.align-content-center.co-flex--gap-1rem.fr-mb-2w{id: "bordereau-#{edifice.id}"}
  %span
    = "#{nom} · #{Objet.human_attribute_name(:proteges_count, count: edifice.objets.protégés.count)}"

  - if edifice.bordereau.attached?
    = link_to "Télécharger (PDF de #{number_to_human_size edifice.bordereau.byte_size})",
      rails_blob_path(edifice.bordereau, disposition: "attachment"),
      class: "fr-btn fr-btn--sm fr-btn--icon-left fr-icon-download-line",
      title: "Bordereau de récolement · #{edifice.nom.upcase_first} (PDF de #{number_to_human_size edifice.bordereau.byte_size})"
  - else
    = button_to "Générer le bordereau",
      conservateurs_commune_bordereaux_path(commune, edifice:),
      method: :post,
      class: "fr-btn fr-btn--sm"
