-# locals: :edifice
- commune = edifice.commune

.d-md-flex.align-content-center.co-flex--gap-1rem.fr-mb-2w{id: "bordereau-#{edifice.id}"}
  %span
    = "#{edifice.nom.upcase_first} · #{texte_nombre_objets_protégés(edifice)}"

  - if edifice.bordereau.present?
    = link_to "Télécharger (PDF de #{number_to_human_size edifice.bordereau.byte_size})",
      rails_blob_path(edifice.bordereau, disposition: "attachment"),
      class: "fr-btn fr-btn--sm fr-btn--icon-left fr-icon-download-line",
      title: "Bordereau de récolement · #{edifice.nom.upcase_first} (PDF de #{number_to_human_size edifice.bordereau.byte_size})"
    = button_to "Regénérer",
      conservateurs_commune_bordereaux_path(commune, edifice:),
      method: :post,
      class: "fr-btn fr-btn--sm fr-btn--secondary"
  - elsif edifice.bordereau_generation_enqueued_at.present?
    = render DsfrComponent::BadgeComponent.new status: :info do
      Génération en cours
    %span
      Veuillez rafraichir cette page d’ici quelques minutes.
    - if edifice.bordereau_generation_enqueued_at < 5.minutes.ago
      %span
        La génération prend beaucoup de temps, il y a peut-être un problème.
  - else
    = button_to "Générer le bordereau",
      conservateurs_commune_bordereaux_path(commune, edifice:),
      method: :post,
      class: "fr-btn fr-btn--sm"
