<% possible_variants = Co::Campaigns::Mail.possible_variants_for(step, recipient.commune) %>

<%= turbo_frame_tag "#{step}_email" do %>
  <% if local_assigns[:mail].nil? || possible_variants.count > 1 %>
    <%= form_with(
      url: admin_old_campaign_recipient_mail_preview_path(campaign, recipient),
      builder: FormBuilderDsfr,
      method: :get
    ) do |f| %>
      <% if possible_variants.count > 1 %>
        <div class="fr-form-group">
          <fieldset class="fr-fieldset fr-fieldset--inline">
            <legend class="fr-fieldset__legend fr-text--regular" id='radio-legend'>
              Variante de mail
            </legend>
            <div class="fr-fieldset__content">
              <% possible_variants.each do |variant| %>
                <div class="fr-radio-group">
                  <%= f.radio_button(
                    :variant,
                    variant,
                    checked: local_assigns.fetch(:variant, "inactive") == variant,
                    id: "#{step}_#{variant}"
                  ) %>
                  <%= f.label t("campaign_v1_mailer.variants.#{variant}"), for: "#{step}_#{variant}" %>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
      <% end %>
      <% if step == "relance1" %>
        <%= f.hidden_field :variant, value: "inactive" %>
      <% end %>
      <%= f.hidden_field :step, value: step %>
      <div class="fr-input-group">
        <%= f.submit "Générer l'aperçu de l'email…", class: "fr-btn--tertiary" %>
      </div>
    <% end %>
  <% end %>
  <% if local_assigns[:mail] %>
    <div class="fr-mt-2w">
      <%= render Conservateurs::MailIframeComponent.new(mail:) %>
    </div>
  <% end %>
<% end %>
