- content_for(:head_title) { "Connexion" }

%main.fr-container.fr-pt-2w.fr-pb-4w(data-controller="devise--sessions")
  = render( |
    "shared/breadcrumbs", |
    links: [ |
      ["Accueil", root_path], |
      ["Connexion", connexion_path], |
      ["Connexion conservateur / conservatrice", new_conservateur_session_path] |
    ], |
    current_page_label: "Réinitialisation mot de passe conservateur" |
  ) |

  %h2 Réinitalisation mot de passe

  .fr-grid-row
    .fr-col-md-6
      - if resource.errors.any?
        .fr-alert.fr-alert--error.fr-mb-6w
          - first_error = resource.errors.first
          - if first_error.attribute == :email && first_error.type == :not_found
            %p
              Impossible de trouver un compte conservateur ou conservatrice pour l'email #{resource.email}. Êtes-vous sûr·e que c'est l'email que vous utilisez pour votre activité de conservation ?

            %p
              Si vous n'arrivez pas à vous connecter, écrivez nous à
              = link_to("support@collectif-objets.beta.gouv.fr", "mailto:support@collectif-objets.beta.gouv.fr")

          - else
            %ul
              - resource.errors.attribute_names.each do |attribute|
                %li= resource.errors.full_messages_for(attribute).first

      = form_for resource, as: resource_name, url: password_path(resource_name), builder: FormBuilderDsfr, method: :post, data: { turbo: false } do |f|
        .fr-input-group
          = f.label :email do
            Email
            %span.fr-hint-text Utilisez votre email de conservateur ou conservatrice
          = f.email_field :email, autofocus: true, autocomplete: "email", required: true

        .actions
          = f.submit "Recevoir un lien de réinitialisation du mot de passe"
