-# local_assigns: (:objet, :recensement, :presenter, :commune, :index)

.fr-pb-6w.co-border--bottom.co-border--none-for-last.co-print-no-border.co-break-after-page.co-break-after-auto--last-child{id: "#{objet.palissy_REF}", class: ("fr-mt-6w" if index > 1)}
  %h5.fr-mt-0.fr-mb-1w Objet #{index} · #{objet.nom}

  .fr-mb-2w
    - path = current_user ? commune_objet_path(commune, objet) : objet_path(objet)
    .co-print-hide= link_to "voir lʼobjet", path , data: { turbo_frame: "_top" }
    %span.fr-text--sm · Référence POP Palissy : #{objet.palissy_REF}

  = render "shared/rapport/recensement_attributes", recensement:, presenter:
