-# local_assigns: (:objet, :recensement, :presenter, :commune, :index)

.fr-mb-8w{id: "#{objet.palissy_REF}"}
  %h5 Objet #{index} · #{objet.nom}
  .fr-grid-row
    .fr-col-md-6
      %p.fr-text--sm
        - if current_user
          = link_to "voir lʼobjet", commune_objet_path(commune, objet), data: { turbo_frame: "_top" }
        - elsif current_conservateur
          = link_to "voir lʼobjet", objet_path(objet), data: { turbo_frame: "_top" }
        ·
        Référence POP Palissy : #{objet.palissy_REF}
      - if recensement.missing_photos?
        %span.fr-badge.fr-badge--sm.fr-badge--warning
          = t("recensement.photos.taken_count", count: 0)
      %p
        .co-text--bold
          = t("activerecord.attributes.recensement.localisation")
        = presenter.localisation

      %p
        .co-text--bold
          = t("activerecord.attributes.recensement.recensable")
        = presenter.recensable

      - if recensement.recensable?
        %p
          .co-text--bold
            = t("activerecord.attributes.recensement.etat_sanitaire").html_safe
          = render Conservateurs::AnalyseOverrideComponent.new recensement:, recensement_presenter: presenter, original_attribute_name: :etat_sanitaire
        %p
          .co-text--bold
            = t("activerecord.attributes.recensement.securisation").html_safe
          = render Conservateurs::AnalyseOverrideComponent.new recensement:, recensement_presenter: presenter, original_attribute_name: :securisation

      %p
        .co-text--bold
          = t("activerecord.attributes.recensement.notes")
        = blockquote(recensement.notes.presence || "Aucun commentaire")

      %p
        .co-text--bold
          = t("dossier.rapport.recensement.analyse_notes")
        = blockquote(recensement.analyse_notes.presence || "Aucun commentaire")

      - if recensement.analyse_fiches.any?
        .co-text--bold
          = t("dossier.rapport.recensement.analyse_fiches")
        %ul
          - recensement.analyse_fiches_objects.each do |fiche|
            %li= link_to "Fiche #{fiche.title}", fiche_path(fiche.id), data: { turbo_frame: "_top" }

    .fr-col-md-6.co-flex-md-reverse-order
      = render "shared/recensement_photos_gallery", recensement:
