-# local_assigns: (:rapport)

%ul
  %li
    %a{href: "#commentaires"} Commentaires
  %li
    %a{href: "#fiches"} Vue des objets regroupés par fiche conseil
    %ul
      - rapport.each_fiche_item do |index:, fiche:, recensements:|
        %li
          %a{href: "#fiche-#{fiche.id}"}
            Fiche #{index} · #{fiche.title} (#{recensements.count} objets)
  %li
    %a{href: "#objets"} Vue détaillée objet par objet
    %ul
      - rapport.each_recensement_item do |objet:, index:, **|
        %li
          %a{href: "##{objet.palissy_REF}"}
            Objet #{index} · #{objet.nom}
