- content_for(:head_title) { "Admin - Modifier #{@conservateur}" }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Admin", admin_path], ["Conservateurs", admin_conservateurs_path]], current_page_label: "Modifier #{@conservateur}"

  %h1 Admin - Modifier #{@conservateur}

  .fr-grid-row
    .fr-col-md-8
      = render "form", conservateur: @conservateur
