- content_for(:head_title) { "Admin - Communes" }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Admin", admin_path]], current_page_label: "Communes"

  %h1 Admin - Communes

  .fr-grid-row.fr-grid-row--gutters
    .fr-col-10
      - if @pagy.count.zero?
        Vos filtres n'ont donné aucun résultat
        %div= link_to "réinitialiser les filtres", admin_communes_path
      - else
        .co-text--center
          - if @query_present && @pagy.count == 1
            Une seule commune correspond aux filtres
          - elsif @query_present
            %span #{@pagy.count} communes correspondent aux filtres
        .fr-table
          %table
            %thead
              %tr
                %th Département
                %th Code Insee
                %th Nom
                %th Objets
                %th Statut
                %th Envoi dossier
                %th
            %tbody
              - @communes.each do |commune|
                %tr
                  %td= commune.departement_code
                  %td= commune.code_insee
                  %td= link_to commune.nom, admin_commune_path(commune)
                  %td= commune.objets_count
                  %td= commune_statut_global_badge(commune, small: true)
                  %td= l(commune.completed_at.to_date) if commune.completed_at.present?
                  %td.co-white-space-nowrap
                    = button_to impersonate_admin_user_path(commune.users.first),
                    class: "fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-eye-line w-100",
                    title: "Incarner #{commune.nom}" do
                      Incarner
        - if @pagy.pages > 1
          = render partial: 'shared/pagy_nav', locals: {pagy: @pagy}

    .fr-col-2
      %h2.h5 Filtres
      - if @query_present
        .fr-mb-2w= link_to "réinitialiser les filtres", admin_communes_path
      = search_form_for @ransack, url: admin_communes_path, builder: FormBuilderDsfr do |f|
        .fr-input-group
          = f.label :nom_unaccented_cont, "Nom contient"
          = f.search_field :nom_unaccented_cont
        .fr-input-group
          = f.label :code_insee_eq, "Code INSEE égal à"
          = f.search_field :code_insee_eq
        .fr-input-group
          = f.label :departement_code_eq, "Département"
          = f.select :departement_code_eq, [["", ""]] + Departement.order(:code).map { [_1.to_s, _1.code] }
        .fr-input-group
          = f.label :statut_global_eq, "Statut"
          = f.select :statut_global_eq, communes_statuses_options_for_select
        / .fr-input-group
        /   = f.check_box :recensements_photos_presence_in, {}, "1"
        /   = f.label :recensements_photos_presence_in, "Photos manquantes"
        = f.submit "Filtrer"
