- content_for(:head_title) { "#{@commune.nom} - Admin" }

%main#contenu.fr-container.fr-pt-2w
  = render "shared/breadcrumbs", links: [["Admin", admin_path], ["Communes", admin_communes_path]], current_page_label: @commune.nom

  %h1= @commune

  .fr-grid-row
    .fr-col-md-8
      %p
        = commune_statut_global_badge(@commune)

      - if @commune.started_at.present?
        %p
          Recensement démarré le #{l(@commune.started_at, format: :long_with_weekday)}
          - if @commune.completed_at.present?
            %br
            et terminé le #{l(@commune.completed_at, format: :long_with_weekday)}

      - user = @commune.user
      - if user.nil?
        %p Aucun usager
        %p
          %i Cela signifie généralement qu'il n'y a pas d'email valide sur service-public.fr
      - else
        %h2.h4
          = icon_span("account-circle")
          = user.email

      - if user || @commune.departement.conservateurs.load.any?
        .co-flex.co-flex--wrap.co-flex--gap-05rem
          - if user
            - if session_code = user.session_code
              = link_to "Code de connexion #{session_code.code}",
                new_user_session_path(email: user.email, code: session_code.code),
                id: dom_id(@commune, :session_code),
                class: "fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-user-star-line co-width-md-40",
                title: "Code #{session_code.code}, valable jusqu'à #{l session_code.valid_until, format: :long}"
            - else
              = button_to "Générer un code de connexion",
                session_code_admin_commune_path,
                id: dom_id(@commune, :session_code),
                form_class: "co-width-md-40", class: "fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-refresh-line w-100"
            = link_to "Incarner la commune",
              admin_user_impersonate_path(user),
              class: "fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-warning-line co-width-md-40"
          - @commune.departement.conservateurs.each do |conservateur|
            = link_to "Incarner #{conservateur.full_name}",
              admin_conservateur_impersonate_path(conservateur),
              class: "fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-user-star-line co-width-md-40"

    .fr-col-md-4
      %h2.h4 Commentaires admin
      .fr-mb-2w
        = form_for [:admin, @commune.admin_comments.build], builder: FormBuilderDsfr, as: :comment do |f|
          = f.hidden_field :resource_type
          = f.hidden_field :resource_id
          .fr-input-group
            = f.label :body, "Commentaire", class: "fr-sr-only"
            = f.text_area :body
          = f.submit "Créer un nouveau commentaire"
      - if @commune.admin_comments.count.zero?
        .co-text--italic Aucun commentaire pour l'instant
      - else
        = render UnfoldComponent.new(max_height_px: 200) do
          - @commune.admin_comments.order(updated_at: :desc).each do |comment|
            .fr-mb-2w
              %span.co-text--bold= comment.author&.first_name || "Admin supprimé"
              %span.fr-text--sm le #{l(comment.updated_at)}
              %span.fr-text--sm= link_to "Supprimer", admin_admin_comment_path(comment), "data-turbo-method": "delete"
              = blockquote comment.body

  %h2.h4.fr-mt-4w
    = icon_span("mail")
    Messagerie

  = render "shared/messages/list", viewed_by: current_admin_user, messages: @messages
  = render "shared/messages/form", message: Message.new, url: admin_messages_path(commune_id: @commune.id)

  %h2.h4.fr-mt-4w
    = icon_span("passport")
    #{@commune.objets.count} objet(s) dans #{@commune.edifices.count} édifice(s)

  = render UnfoldComponent.new(max_height_px: 800, button_text: "Voir tous les objets") do
    .fr-table
      %table
        %thead
          %tr
            %th REF
            %th Nom
            %th Emplacement
            %th Photo(s) Mémoire
            %th catégorie
            %th siècle
        %tbody
          - @commune.edifices.each do |edifice|
            %tr
              %th(colspan="6")
                %div.co-flex.co-flex--align-items-center.co-flex--gap-1rem
                  %div
                    %h3.h5 Édifice #{edifice.nom.upcase_first}
                  %div= t("objets.count", count: edifice.objets.length)
            - edifice.objets.each do |objet|
              %tr
                %td= link_to_palissy(objet) { objet.palissy_REF }
                %td= objet.palissy_TICO
                %td= objet.palissy_EMPL
                %td.co-galerie-miniatures--minimal
                  = render galerie_objet(objet)
                %td= objet.palissy_CATE
                %td= objet.palissy_SCLE

  %h2.h4
    = icon_span "file-text"
    #{@commune.archived_dossiers.count} Dossier(s) de recensements
  - if @commune.archived_dossiers.empty?
    %p Aucun dossier de recensement démarré

  - @commune.archived_dossiers.each do |dossier|
    .fr-container
      %h5 Dossier ##{dossier.id} #{dossier_status_badge(dossier, small: true)}
      %ul.fr-mb-2w
        %li démarré le #{l(dossier.created_at, format: :long_with_weekday)}
        - if dossier.submitted_at.present?
          %li envoyé le #{l(dossier.submitted_at, format: :long_with_weekday)}
        - if dossier.accepted_at.present?
          %li accepté le #{l(dossier.accepted_at, format: :long_with_weekday)}
      %p #{dossier.recensements.count} recensements

    = render UnfoldComponent.new(max_height_px: 800, button_text: "Voir tous les recensements") do
      .fr-table
        %table
          %thead
            %tr
              %th Objet
              %th Localisation
              %th Recensable
              %th État
              %th Sécurisation
              %th Photos
              %th Notes
          %tbody
            - dossier.recensements.each do |recensement|
              - recensement_presenter = RecensementPresenter.new(recensement)
              %tr
                %td
                  = link_to_palissy(recensement.objet) { recensement.objet.palissy_REF }
                  = recensement.objet.palissy_TICO
                %td= recensement_presenter.localisation
                %td= recensement_presenter.recensable
                - if recensement.recensable?
                  %td
                    = render Conservateurs::AnalyseOverrideComponent.new(original_attribute_name: :etat_sanitaire, recensement:, recensement_presenter:)
                  %td
                    = render Conservateurs::AnalyseOverrideComponent.new(original_attribute_name: :securisation, recensement:, recensement_presenter:)
                - else
                  %td
                  %td
                %td
                  - if recensement.missing_photos?
                    .fr-badge.fr-badge--warning.fr-badge--sm
                      Photos manquantes
                  - else
                    .co-galerie-miniatures--minimal
                      = render galerie_recensement(recensement)

                %td
                  - if recensement.notes.present?
                    %div Commentaire de la commune
                    %blockquote= recensement.notes
                  - if recensement.analyse_notes.present?
                    %div Commentaire du conservateur
                    %blockquote= recensement.analyse_notes
