- content_for(:head_title) { "Campagne #{campaign_title(@campaign)}" }

%main.fr-container.fr-mb-8w
  = render "shared/breadcrumbs", links: [["Départements", conservateurs_departements_path], [@campaign.departement.nom, conservateurs_departement_path(@campaign.departement)]], current_page_label: "Campagne #{campaign_title(@campaign)}"

  %h1
    Campagne #{campaign_title(@campaign)}
    = render "shared/campaigns/badges", campaign: @campaign

  = render "shared/campaigns/show_content", campaign: @campaign, excluded_communes: @excluded_communes, routes_prefix: :conservateurs
