<% error_message = f.object.errors.messages_for(field_name)&.first %>
<% i18n_model = f.object.class.name.tableize.singularize %>

<div class="fr-form-group">
  <fieldset
    class="fr-fieldset fr-fieldset--inline <%= "fr-fieldset--error" if error_message %>"
    <% if error_message %>
      aria-labelledby="<%= field_name.to_s.parameterize %>-legend <%= field_name.to_s.parameterize %>-desc-error"
      role="group"
    <% end %>
  >
    <legend class="fr-fieldset__legend" id="<%= field_name.to_s.parameterize %>-legend">
      <%= t("activerecord.attributes.#{i18n_model}.#{field_name}") %>
      <% if local_assigns[:hint] %>
        <span class="fr-hint-text"><%= hint %></span>
      <% end %>
    </legend>
    <div class="fr-fieldset__content">
      <%= f.collection_check_boxes field_name, options, :value, :label do |b| %>
        <div class="fr-checkbox-group">
          <%= b.check_box(local_assigns[:disabled] ? { disabled: true } : {}) %>
          <%= b.label(class: "fr-label") do %>
            <%= b.text.html_safe %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if error_message %>
      <p id="<%= field_name.to_s.parameterize %>-desc-error" class="fr-error-text">
        <%= error_message %>
      </p>
    <% end %>
  </fieldset>
</div>
