- content_for(:head_title) { "Connexion" }

%main#contenu.fr-container.fr-pt-2w.fr-pb-4w(data-controller="devise--sessions")
  = render("shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Connexion admin")

  %h1 Connexion Admin

  .fr-grid-row
    .fr-col-md-6
      = form_for(resource, as: resource_name, url: session_path(resource_name), method: :post, builder: FormBuilderDsfr, data: { turbo: false }) do |f|
        .fr-input-group
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", required: true
        .fr-input-group
          = render PasswordInputComponent.new(name: "admin_user[password]" )
          .fr-mt-1w
            = link_to "Mot de passe oublié ?", new_admin_user_password_path, class: "fr-link"
        .fr-input-group
          = f.label :otp_attempt do
            Code d'authentification à deux facteurs (si activé)
            %span.fr-hint-text Vous pouvez utiliser un code de secours si vous n'avez pas accès à votre application d'authentification.
          = f.text_field :otp_attempt, autocomplete: "one-time-code", placeholder: "123456"
        .co-flex.co-flex--space-between.fr-my-4w
          %div
            .fr-checkbox-group
              = f.check_box :remember_me, checked: true
              = f.label :remember_me, "Se souvenir de moi"
        .actions
          = f.submit "Se connecter"
