- content_for(:head_title) { "Déplacements prévus" }

%main.fr-container.fr-mb-8w
  = render("shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Déplacements prévus")

  %h1 Déplacements prévus

  .co-readable
    :markdown
      Cette page affiche les communes que vous avez marquées pour visite ultérieure.
      Cela se fait au moment de l’envoi de l'examen à une commune, après l'examen de l’ensemble de ses recensements.

  - if current_conservateur.dossiers.to_visit.blank?
    %i Aucune visite prévue
  - else
    .fr-table
      %table
        %thead
          %tr
            %th Commune
            %th Nombre d'objets
            %th Objets prioritaires
            %th Déplacements prévus
        %tbody
          - @dossiers.each do |dossier|
            %tr
              %td= link_to dossier.nom_commune, conservateurs_commune_path(dossier.commune), "data-turbo-frame": "_top"
              %td= dossier.objets_count
              %td= dossier.nombre_objets_prioritaires
              %td= dossier_visit_badge(dossier)
