- content_for(:head_title) { "Visites prévues" }

%main.fr-container.fr-mb-8w
  = render("shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Visites prévues")

  %h2 Visites prévues

  .co-readable
    :markdown
      Cette page affiche les communes que vous avez marqués pour visite ultérieure.
      Cela se fait au moment de l’envoi du rapport à une commune, après l’analyse de l’ensemble de ses recensements.

  - if current_conservateur.dossiers.to_visit.blank?
    %i Aucune visite prévue
  - else
    .fr-table
      %table
        %thead
          %tr
            %th Commune
            %th Nombre d'objets
            %th Objets prioritaires
            %th Déplacements prévus
        %tbody
          - @dossiers.each do |dossier|
            %tr
              %td= link_to dossier.commune.nom, conservateurs_commune_path(dossier.commune), "data-turbo-frame": "_top"
              %td= dossier.commune.objets.count
              %td= dossier.recensements.where("recensements.localisation = 'absent' OR (recensements.etat_sanitaire IN ('mauvais', 'peril') AND recensements.analyse_etat_sanitaire IS NULL) OR recensements.analyse_etat_sanitaire IN ('mauvais', 'peril')").count
              %td= dossier_visit_badge(dossier)
