<div class="fr-grid-row fr-py-2w fr-grid-row--gutters fr-grid-row--center">
  <% objets.each do |objet| %>
    <div class="fr-col-md-3">
      <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <h4 class="fr-card__title">
            <%= link_to objet.nom, objet_path(objet), class: "fr-card__link" %>
          </h4>
          <p class="fr-card__desc">
            <%= objet.commune.nom %><br />
            <%= objet.edifice_nom %>
          </p>
          <% if objet.commune == current_user&.commune %>
            <p class="fr-card__detail">
              <%= render "objets/recensement_badge", objet: %>
            </p>
          <% end %>
        </div>
        <div class="fr-card__img">
          <% if objet.image_urls.any? %>
            <img src="<%= objet.image_urls[0] %>" class="fr-responsive-img" alt="">
          <% else %>
            <%= image_tag "illustrations/photo-manquante.png", class: "fr-responsive-img co-image-transparent" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
