<% content_for :head_title do %>
  <% if @filters[:commune] %>
    Objets protégés de <%= @filters[:commune].nom %>
  <% else %>
    Objets protégés de ma commune
  <% end %>
<% end %>

<main class="fr-container fr-py-4w">
  <div class="fr-grid-row fr-py-2w fr-grid-row--center">
    <div class="fr-col-md-8 co-text--center">
      <% if @filters[:commune] %>
        <h2 class="co-text--blue">
          Les <%= @pagy.count %> objets protégés de <%= @filters[:commune].nom %>
        </h2>
      <% else %>
        <h2>Je découvre les objets de ma commune</h2>
      <% end %>
      <p>
        Il y a des objets monuments historiques dans votre commune ? Vous êtes élu·e ? Responsable du patrimoine de votre commune ?
        La commune est charge de veiller sur ces objets.
        <b>Aidez-nous à vérifier leur présence et leur état</b>
      </p>
      <%# <p> %>
        <%# Vous avez besoin d'aide ? Nous vous guidons étape par étape: %>
      <%# </p> %>
      <%# <p> %>
        <%# link_to "Je confirme la participation de ma commune", new_commune_enrollment_path, class: "fr-btn" %>
      <%# </p> %>
      <% if @filters[:commune].blank? %>
        <p>
          Voici les <%= @pagy.count %> objets présents dans Collectif Objets
        </p>
        <p><%= link_to "Filtrer les objets d'une commune en particulier", communes_path %></p>
      <% end %>
    </div>
  </div>
  <% if @pagy.pages > 1 %>
    <div class="fr-mt-8w">
      <%== render partial: 'shared/pagy_nav', locals: {pagy: @pagy} %>
    </div>
  <% end %>
  <%= render "list", objets: @objets %>
  <% if @pagy.pages > 1 %>
    <%== render partial: 'shared/pagy_nav', locals: {pagy: @pagy} %>
  <% end %>
</main>
