<main class="fr-container fr-py-4w">
  <div class="fr-grid-row fr-py-2w fr-grid-row--center">
    <div class="fr-col-md-8 co-text--center">
      <% if @filters[:commune] %>
        <h2 class="co-text-blue">
          Les <%= @pagy.count %> objets classés de <%= @filters[:commune].nom %>
        </h2>
      <% else %>
        <h2>Je découvre les objets de ma commune</h2>
      <% end %>
      <p>
        Il y a des objets monuments historiques dans votre commune ? Vous êtes élu·e ? Responsable du patrimoine de votre commune ?
        La commune est charge de veiller sur ces objets.
        <b>Aidez-nous à vérifier leur présence et leur état</b>
      </p>
      <p>
        Vous avez besoin d'aide ? Nous vous guidons étape par étape:
      </p>
      <p>
        <%= link_to "Je confirme la participation de ma commune", inscription_path, class: "fr-btn" %>
      </p>
      <% if current_user %>
        <p>
          Si vous n'avez pas de connexion internet pendant le recensement, vous pouvez :
        </p>
        <p>
          <%= link_to "Imprimer la liste d'objets", printable_list_objets_path(commune_code_insee: current_user.commune.code_insee), class: "fr-btn fr-btn--secondary" %>
          <%= link_to "Imprimer le questionnaire", "https://fichiers.collectif-objets.beta.gouv.fr/questionnaire.pdf", class: "fr-btn fr-btn--secondary", target: "_blank", rel: "noopener" %>
        </p>
      <% end %>
      <% if @filters[:commune].blank? %>
        <p>
          Voici les <%= @pagy.count %> objets présents dans Collectif Objets
        </p>
        <p><%= link_to "Filtrer les objets d'une commune en particulier", communes_path %></p>
      <% end %>
    </div>
  </div>
  <div class="fr-mt-8w">
    <%== render partial: 'shared/pagy_nav', locals: {pagy: @pagy} %>
  </div>
  <div class="fr-grid-row fr-py-2w fr-grid-row--gutters">
    <% @objets.each do |objet| %>
      <div class="fr-col-md-3">
        <div class="fr-card fr-enlarge-link">
          <div class="fr-card__body">
            <h4 class="fr-card__title">
              <%= link_to objet.nom, objet_path(objet), class: "fr-card__link" %>
            </h4>
            <p class="fr-card__desc">
              <%= objet.commune.nom %>
            </p>
            <p class="fr-card__detail">
              <%= objet.edifice_nom %>
            </p>
          </div>
          <div class="fr-card__img">
            <% if objet.image_urls.any? %>
              <img src="<%= objet.image_urls[0] %>" class="fr-responsive-img" alt="">
            <% else %>
              <%= image_tag "illustrations/photo-manquante.png", class: "fr-responsive-img co-image-transparent" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @pagy.count > 4 %>
    <%== render partial: 'shared/pagy_nav', locals: {pagy: @pagy} %>
  <% end %>
</main>
