<% content_for(:head_title) { truncate(@objet.nom, length: 20) } %>

<main class="fr-container co-objet-show fr-pt-2w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      [
        "Objets de #{@objet.commune.nom}",
        current_user ? commune_objets_path(current_user.commune) : objets_path(commune_code_insee: @objet.commune.code_insee)
      ]
    ],
    current_page_label: @objet.nom
  ) %>
  <h2><%= @objet.nom %></h2>
  <p>📍 <%= @objet.commune.nom %> (<%= @objet.departement %>) - ⛪️ <%= @objet.edifice_nom %></p>

  <div class="fr-grid-row fr-pb-4w fr-grid-row--gutters">
    <div class="fr-col-md-4">
      <% if @objet.commune == current_user&.commune %>
        <p>
          <%= render "objets/recensement_badge", objet: @objet %>
          <% if @objet.current_recensement&.editable? %>
            <%= link_to "modifier le recensement", edit_objet_recensement_path(@objet, @objet.current_recensement), class: "fr-link fr-fi-edit-line fr-link--icon-right" %>
          <% end %>
        </p>
      <% end %>
      <p>
        <b>Nom courant</b><br />
        <%= @objet.nom_courant %>
      </p>
      <p>
        <b>Emplacement</b><br />
        Se situe dans l'édifice <b><%= @objet.edifice_nom %></b><br />
        <i><%= @objet.emplacement %></i>
      </p>
      <p>
        <b>Catégorie</b><br />
        <%= @objet.categorie %>
      </p>
      <p>
        <b>Époque</b><br />
        <%= @objet.crafted_at || "N/A" %>
      </p>
      <p>
        <b>Récolement</b><br />
        Dernier récolement : <%= @objet.last_recolement_at || "N/A" %>
      </p>
      <p>
        <b>Références</b><br />
        POP (Base Palissy) : <%= @objet.palissy_REF%>
      </p>
      <p>
        <%= link_to(
          "Voir plus de détails sur la Plateforme Ouverte du Patrimoine",
          "https://www.pop.culture.gouv.fr/notice/palissy/#{@objet.palissy_REF}",
          target: "_blank",
          rel: "noopener",
          class: "co-text--blue"
        ) %>
      </p>
      <% if @objet.commune == current_user&.commune && @objet.recensable? %>
        <div>
          <%= link_to "Recenser cet objet", new_objet_recensement_path(@objet), class: "fr-btn" %>
        </div>
      <% end %>
    </div>
    <div class="fr-col-md-8">
      <div class="co-image-container">
        <%= image_tag objet_first_image_or_recensement_photo_url(@objet), class: "co-objet-image co-spinner-bg" %>
      </div>
    </div>
  </div>
</main>
