<main class="fr-container fr-py-4w co-objet-show">
  <h2><%= @objet.nom %></h2>
  <p>📍 <%= @objet.commune.nom %> (<%= @objet.departement %>) - ⛪️ <%= @objet.edifice_nom %></p>

  <div class="fr-pb-8w">
    <% if @objet.commune == current_user&.commune %>
      <%= link_to "← Revenir à la liste des objets", commune_objets_path(@objet.commune) %>
    <% elsif !current_user %>
      <%= link_to "← Revenir à la liste des objets", objets_path(commune_code_insee: @objet.commune_code_insee) %>
    <% end %>
  </div>
  <div class="fr-grid-row fr-pb-4w fr-grid-row--gutters">
    <div class="fr-col-md-4">
      <% if @objet.commune == current_user&.commune %>
        <p>
          <%= render "objets/recensement_badge", objet: @objet %>
          <% if @objet.current_recensement&.editable? %>
            <%= link_to "modifier le recensement", edit_objet_recensement_path(@objet, @objet.current_recensement), class: "fr-link fr-fi-edit-line fr-link--icon-right" %>
          <% end %>
        </p>
      <% end %>
      <p>
        <b>Nom courant</b><br />
        <%= @objet.nom_courant %>
      </p>
      <p>
        <b>Emplacement</b><br />
        Se situe dans l'édifice <b><%= @objet.edifice_nom %></b><br />
        <i><%= @objet.emplacement %></i>
      </p>
      <p>
        <b>Catégorie</b><br />
        <%= @objet.categorie %>
      </p>
      <p>
        <b>Époque</b><br />
        <%= @objet.crafted_at || "N/A" %>
      </p>
      <p>
        <b>Récolement</b><br />
        Dernier récolement : <%= @objet.last_recolement_at || "N/A" %>
      </p>
      <p>
        <b>Références</b><br />
        POP (Base Palissy) : <%= @objet.ref_pop%>
      </p>
      <p>
        <%= link_to(
          "Voir plus de détails sur la Plateforme Ouverte du Patrimoine",
          "https://www.pop.culture.gouv.fr/notice/palissy/#{@objet.ref_pop}",
          target: "_blank",
          rel: "noopener",
          class: "co-text--blue"
        ) %>
      </p>
      <% if @objet.commune == current_user&.commune %>
        <% if @objet.recensable? %>
          <div>
            <%= link_to "Recenser cet objet", new_objet_recensement_path(@objet), class: "fr-btn" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="fr-col-md-8">
      <div class="co-image-container">
        <% if @objet.image_urls.any? %>
          <img src="<%= @objet.image_urls[0] %>" class="co-objet-image" alt="">
        <% else %>
          <%= image_tag "illustrations/photo-manquante.png", class: "co-objet-image" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
