<div class="fr-mb-4w">
  <h4>Statistiques</h4>
  <div class="fr-grid-row fr-grid-row--gutters">
    <% if stats[:statuses].present? || stats[:objets].present? %>
      <div class="fr-col-md-6">
        <% if stats[:statuses].present? %>
          <p>Statut des <%= @campaign.communes.count %> communes</p>
          <%= render(
            "shared/chart_percentage",
            values: ["inactive", "started", "completed"].map { stats[:statuses].fetch(_1, 0) },
            labels: ["Inactive", "Recensement démarré", "Recensement terminé"],
            colors: ["yellow", "blue", "rgb(30, 100, 30)", "green"]
          ) %>
        <% end %>
        <% if stats[:objets].present? %>
          <p><%= stats[:objets][:total] %> objets à recenser</p>
          <%= render(
            "shared/chart_percentage",
            values: ["not_recensed", "recensed"].map { stats[:objets].fetch(_1, 0) },
            labels: ["Pas encore recensé", "Recensé"],
            colors: ["yellow", "green"]
          ) %>
          <% if stats[:objets][:recensements_with_photos_ratio].present? %>
            <p><%= (stats[:objets][:recensements_with_photos_ratio] * 100).round %>% des recensements ont des photos</p>
          <% end %>
        <% end %>
      </div>


    <% end %>
    <% if stats[:mails].present? %>
      <div class="fr-col-md-6">
        <p><%= t("campaigns.statistics.mails.all", count: stats[:mails][:all][:count]) %></p>
        <%= render Campaigns::EmailsStatsComponent.new(stats[:mails][:all]) %>
        <%= link_to "Voir toutes les statistiques", campaign_show_statistics_path(@campaign), class: "fr-link" %>
      </div>
    <% end %>
  </div>
</div>
