<% content_for(:head_title) { "Choisir les communes de la campagne" } %>

<main class="fr-container fr-pt-2w fr-pb-4w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      ["Campagnes", campaigns_path],
      [@campaign.human_id, campaign_path(@campaign)]
    ],
    current_page_label: "Communes"
  ) %>

  <div class="fr-grid-row">
    <div class="fr-col-md-10">
      <h2>Communes de la campagne <%= @campaign.human_id %></h2>
    </div>
  </div>

  <div class="fr-callout fr-icon-information-line">
    <p class="fr-callout__text">
      <%= t("campaigns.edit_recipients_tooltip") %>
    </p>
  </div>

  <b><%= @campaign.communes.count %> communes destinataires</b>

  <p>
    <%= form_for @campaign, builder: FormBuilderDsfr, url: campaign_update_recipients_path(@campaign), data: { controller: "multichecker" } do |f| %>
      <div class="fr-mb-4w">
        <button
          data-action="multichecker#checkAll"
          class="fr-btn fr-btn--secondary"
        >
          Tout sélectionner
        </button>
        <button
          data-action="multichecker#uncheckAll"
          class="fr-btn fr-btn--tertiary"
        >
          Tout désélectionner
        </button>
      </div>
      <ul class="co-columns--4">
        <% @campaign.departement.communes.order("communes.nom").each do |commune| %>
          <% checked = @campaign.commune_ids.include?(commune.id) %>
          <div class="fr-checkbox-group">
            <input
              type="checkbox"
              name="campaign[recipients_attributes][][commune_id]"
              id="campaign_recipients_attributes_commune_<%= commune.id %>"
              value="<%= commune.id %>"
              <%= "checked=checked" if checked %>
              data-multichecker-target="checkbox"
              <%= 'disabled="disabled"' if commune.active? && !checked %>
            >
          <label
            class="fr-label <%= "co-text--red" if commune.active? && checked %>"
            for="campaign_recipients_attributes_commune_<%= commune.id %>"
            <% if commune.active? && checked %>
              title="commune déjà engagée"
            <% end %>
          >
            <span><%= commune.nom %></span>
            &nbsp;
            <span class="co-text--sm"><%= commune.code_insee %></span>
            &nbsp;
            <%= "⚙" unless commune.inactive? %>
          </label>
        </div>
        <% end %>
      </ul>
      <div class="fr-input-group co-text--center">
        <%= f.submit "Sauvegarder les communes" %>
      </div>
    <% end %>
  </p>

</main>
