<% if objets_list.group_by_edifice? %>
  <h4>Liste des <%= objets_list.edifices.count %> édifices</h4>
  <ul class="co-columns--3 fr-mb-8w">
    <% objets_list.edifices.each do |edifice_group| %>
      <li>
        <%= link_to(
          "#{edifice_nom(edifice_group[:nom])}".html_safe,
          "##{edifice_group[:nom_parameterized]}"
        ) %>
        · <%= edifice_group[:objets].count %> objets
      </li>
    <% end %>
  </ul>

  <% objets_list.edifices.each do |edifice_group| %>
    <div class="fr-my-4w">
      <h4 id="<%= edifice_group[:nom_parameterized] %>">
        <%= edifice_nom(edifice_group[:nom]) %>
        · <%= edifice_group[:objets].count %> objets
      </h4>
      <%= render layout: "objets/cards_grid_layout", locals: { objets: edifice_group[:objets] } do %>
        <%= render component_class.with_collection(edifice_group[:objets]) %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= render layout: "objets/cards_grid_layout", locals: { objets: objets_list.objets } do %>
    <%= render component_class.with_collection(objets_list.objets) %>
    <%= render "communes/objets/card_objets_manquants", objets: objets_list.objets %>
  <% end %>
<% end %>
