- content_for(:head_title) { "Objets protégés de #{@commune.nom}" }
%main#contenu.fr-container.fr-pb-4w
  = render "shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Objets de #{@commune.nom}"
  %h1= @commune.nom

  = render "shared/completions/status", commune: @commune, dossier: @dossier, count: @objets_list.count
  = render "communes/objets/list", objets_list: @objets_list, commune: @commune
