<% content_for(:head_title) { "Objets protégés de #{@commune.nom}" } %>

<main class="fr-container fr-pt-2w fr-pb-4w">
  <%= render(
    "shared/breadcrumbs",
    links: [["Accueil", root_path]],
    current_page_label: "Objets de #{@commune.nom}")
  %>

  <h2 class="co-text--blue"><%= @commune.nom %></h2>

  <% if @commune.inactive? %>
    <h5 class="co-text--blue">
      <%= t(".n_objets_a_recenser", count: @objets_list.count) %>
    </h5>
    <%= render "recensements/etapes" %>
    <%= render "list", objets_list: @objets_list, commune: @commune %>
    <%= render("pourquoi_n_objets_callout", objets_list: @objets_list) if @objets_list.group_by_edifice? %>
    <%= render "imprimer_callout" %>
  <% elsif @commune.can_complete? %>
    <h5 class="co-text--blue">
      <%= t(".tous_les_objets_recenses") %>
    </h5>
    <%= render "complete_callout", dossier: @dossier, commune: @commune %>
    <%= render "list", objets_list: @objets_list, commune: @commune %>
    <%= render("pourquoi_n_objets_callout", objets_list: @objets_list) if @objets_list.group_by_edifice? %>
    <%= render "imprimer_callout" %>
  <% elsif @commune.started? %>
    <h5 class="co-text--blue">
      <%= t(".n_objets_restants_a_recenser", count: @commune.objets.where.missing(:recensements).count) %>
    </h5>
    <%= render "recensements/etapes" %>
    <%= render "list", objets_list: @objets_list, commune: @commune %>
    <%= render("pourquoi_n_objets_callout", objets_list: @objets_list) if @objets_list.group_by_edifice? %>
    <%= render "imprimer_callout" %>
  <% elsif @commune.completed? && @dossier.submitted? %>
    <%= render "submitted_callout", commune: @commune %>
    <%= render "list", objets_list: @objets_list, commune: @commune %>
  <% elsif @commune.completed? && @dossier.rejected? %>
    <%= render "rejected_callout", dossier: @dossier %>
    <%= render "list", objets_list: @objets_list, commune: @commune %>
    <p class="co-text--center fr-mt-4w">
      <%= link_to(
        "Renvoyer le dossier au conservateur…",
        new_commune_recompletion_path(@commune),
        class: "fr-btn"
      ) %>
    </p>
    <%= render "recensements/etapes" %>
    <%= render("pourquoi_n_objets_callout", objets_list: @objets_list) if @objets_list.group_by_edifice? %>
    <%= render "imprimer_callout" %>
  <% elsif @commune.completed? && @dossier.accepted? %>
    <%= render "accepted_callout", dossier: @dossier %>
    <%= render "list", objets_list: @objets_list, commune: @commune %>
    <%= render("pourquoi_n_objets_callout", objets_list: @objets_list) if @objets_list.group_by_edifice? %>
  <% end %>
</main>
