<% content_for(:head_title) { t(".head_title") } %>

<main class="fr-container fr-pt-2w fr-pb-12w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      ["Objets de #{@commune.nom}", commune_objets_path(@commune)]
    ],
    current_page_label: "Confirmation"
  ) %>
  <div class="fr-grid-row fr-mb-4w fr-grid-row--middle">
    <div class="fr-col-md-6">
      <h2 class="co-text--blue">
        <%= t(".title") %></h2>
      <p>
        <%= t(".instructions") %>
      </p>
      <% if @commune.objets.where.missing(:recensements).any? %>
        <p>
          <%= link_to "Revenir à la liste d'objets de ma commune", commune_objets_path(@commune), class: "fr-btn" %>
        </p>
      <% else %>
        <% if @dossier.construction? %>
          <p><%= t(".finished") %></p>
        <% end %>
        <p>
          <%= link_to t(".cta"), new_commune_completion_path(@commune), class: "fr-btn" %>
          ou
        </p>
        <p><%= link_to "Revenir à la liste d'objets de ma commune", commune_objets_path(@commune), class: "fr-btn fr-btn--secondary" %></p>
      <% end %>
    </div>
    <div class="fr-col-md-6">
      <%= vite_image_tag "images/illustrations/man-ok-screen.svg", class: "co--width-max-100" %>
    </div>
  </div>
</main>

<% if @objets_list.any? %>
  <div class="co-background--teal">
    <div class="fr-container fr-py-8w">
      <h3 class="co-text--blue">
        <% if @objets_list.group_by_edifice? && @objets_list.edifice_nom.present? %>
          <%= t(".leftover_in_edifice", nom: @objets_list.edifice_nom) %>
        <% else %>
          <%= t(".leftover") %>
        <% end %>
      </h3>

      <%= render "communes/objets/cards", objets: @objets_list.objets %>

      <%= link_to "Revenir à la liste de tous les objets de ma commune", commune_objets_path(@commune), class: "fr-link" %>
    </div>
  </div>
<% end %>
