<% content_for(:head_title) { truncate(@objet.nom, length: 20) } %>

<main class="fr-container co-objet-show fr-pt-2w">
  <%= render(
    "shared/breadcrumbs",
    links: [
      ["Accueil", root_path],
      [
        "Objets de #{@objet.commune.nom}",
        commune_objets_path(current_user.commune)
      ]
    ],
    current_page_label: @objet.nom
  ) %>

  <div class="co-flex co-flex--align-items-center co-flex--gap-1rem co-flex--wrap fr-mb-8w">
    <h2 class="fr-mb-0"><%= @objet.nom %></h2>
    <%= render "objets/recensement_badge", objet: @objet %>
  </div>

  <%= render ObjetPageComponent.new(objet: @objet) do |c| %>
    <% if @objet.current_recensement&.editable? %>
      <% c.with_cta do %>
        <%= link_to(
          "modifier le recensement",
          edit_commune_objet_recensement_path(@objet.commune, @objet, @objet.current_recensement),
          class: "fr-btn fr-btn--secondary fr-icon-edit-line fr-btn--icon-right"
        ) %>
      <% end %>
    <% elsif @objet.recensable? %>
      <% c.with_cta do %>
        <%= link_to(
          "Recenser cet objet",
          new_commune_objet_recensement_path(@objet.commune, @objet),
          class: "fr-btn"
        ) %>
      <% end %>
    <% end %>
  <% end %>
</main>
