%header.fr-header(role="banner")
  .fr-header__body
    .fr-container
      .fr-header__body-row
        .fr-header__brand.fr-enlarge-link
          .fr-header__brand-top
            .fr-header__logo
              %p.fr-logo
                Ministère
                %br
                de la Culture

            .fr-header__navbar
              = navbar

              %button.fr-btn--menu.fr-btn(data-fr-opened="false" aria-controls="modal-menu-links" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile")
                Menu

          .fr-header__service
            %a(href="/app/assets/config" title="Accueil - Collectif Objets - Ministère de la Culture")
              %p.fr-header__service-title Collectif Objets

            %p.fr-header__service-tagline Préservez votre patrimoine mobilier

        .fr-header__tools
          .fr-header__tools-links
            %ul.fr-btns-group
              - tool_links.each do |tool_link|
                %li= tool_link
          - if search
            = search

    - if notice || alert
      .fr-container.fr-pb-2w
        - if notice
          .fr-alert.fr-alert--success
            %p= notice

        - if alert
          .fr-alert.fr-alert--error
            %p= alert

  .fr-header__menu.fr-modal#modal-menu-links(aria-labelledby="fr-btn-menu-mobile")
    .fr-container
      %button.fr-link--close.fr-link(aria-controls="modal-menu-links") Fermer
      .fr-header__menu-links
      = menu
