%main.fr-container.fr-pb-16w.fr-pt-2w
  = render "shared/breadcrumbs", links: [["Accueil", root_path], ["Fiches conseils", fiches_path]], current_page_label: @fiche.title

  %h1= @fiche.title

  .fr-grid-row.fr-grid-row--gutters
    .fr-col-md-4
      %nav.co-position-sticky.co-top-2rem{"aria-label": "Table des matières de la fiche"}
        - if @objets.present?
          = link_to titre_objets_concernes, "#objets", class: "fr-ml-3w"
        != @fiche.table_of_contents_html

    .fr-col-md-8
      - if @objets.present?
        .fr-mb-4w
          %h2#objets= titre_objets_concernes
          - @objets.each_slice(3) do |objets|
            .fr-grid-row.fr-grid-row--gutters
              - objets.each do |objet|
                .fr-col-md-4
                  = render Communes::ObjetCardComponent.new(objet, commune: current_user.commune, recensement: objet.current_recensement, badges: [])

      .co-markdown-content
        != @fiche.to_html
