<% content_for(:head_title) { t(".head_title", commune: @commune.nom) } %>

<main>
  <div class="fr-container fr-grid-row fr-my-6w fr-grid-row--center">
    <div class="fr-col-md-8">
      <%= render(
        "shared/breadcrumbs",
        links: [
          ["Départements", conservateurs_departements_path],
          [
            nom_departement(@commune.departement),
            conservateurs_departement_path(@commune.departement)
          ],
          [@commune.nom, conservateurs_commune_path(@commune)]
        ],
        current_page_label: "Rapport"
      ) %>

      <h2><%= t(".title", commune: @commune.nom) %></h2>

      <%= render "summary", recensements: @dossier.recensements %>

      <div class="fr-mb-4w">
        <%= render "conservateurs/rapports/form", dossier: @dossier %>
      </div>

      <%= turbo_stream_from(@dossier, "rapport-pdf-embed-and-form") %>
      <%= render "form", dossier: @dossier %>
    </div>
  </div>
</main>
