-# un-nest the destroy form so that the buttons group looks good
= form_tag attachment_path, method: :delete, id: "destroy-attachment" do
  = hidden_field_tag :redirect_path, redirect_path

= dsfr_modal(title: "Êtes-vous sûr de vouloir supprimer cette photo ?", html_attributes: { id: "confirmation-suppression" }) do |component|
  - component.with_button do
    = button_tag("Supprimer",
      type:"submit",
      form: "destroy-attachment",
      class: "fr-btn fr-btn--sm",
      "aria-controls": "confirmation-suppression")
  - component.with_button do
    = button_tag("Annuler",
      type: "button",
      class: "fr-btn fr-btn--sm fr-btn--secondary",
      "aria-controls": "confirmation-suppression")
  %p
    Attention: cette action est définitive, vous ne pourrez pas la récupérer.
