.fr-card.fr-enlarge-link{class: "fr-card--#{size}"}
  .fr-card__body
    .fr-card__content
      %h2.fr-card__title
        = link_to truncated_nom, path, **link_html_attributes
      %p.fr-card__desc
        = commune.nom
        %br/
        = edifice_nom

      .fr-card__start
        - if start_badges
          %ul.fr-badges-group
            = render partial: "shared/badge_li", collection: start_badges, as: :badge
        - if tags
          %ul.fr-tags-group
            - tags.each do |tag|
              %li
                %p{class: "fr-tag fr-tag--#{tag.color}"}
                  = tag.text
  .fr-card__header
    = render("shared/card_photo", photo: main_photo)
    - if header_badges
      %ul.fr-badges-group
        = render partial: "shared/badge_li", collection: header_badges, as: :badge
