<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <title><%= head_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" href="/dsfr/favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="/dsfr/favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/dsfr/favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="/dsfr/favicon/manifest.webmanifest" crossorigin="use-credentials">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
    <meta name="environment-specific-name" content="<%= Rails.configuration.x.environment_specific_name %>">
  </head>
  <body>
    <%= render "shared/environment_banner" %>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= render "shared/tracking_scripts" %>
  </body>
</html>
