<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <title><%= head_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" href="<%= asset_path('dsfr/favicon/apple-touch-icon.png') %>"><!-- 180×180 -->
    <link rel="icon" href="<%= asset_path('dsfr/favicon/favicon.svg') %>" type="image/svg+xml">
    <link rel="shortcut icon" href="<%= asset_path('dsfr/favicon/favicon.ico') %>" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="<%= asset_path('dsfr/favicon/manifest.webmanifest') %>" crossorigin="use-credentials">
    <%= stylesheet_link_tag "dsfr/dsfr.min.css" %>
    <%= stylesheet_link_tag "dsfr/utility/utility.min.css" %>
    <meta name="environment-specific-name" content="<%= Rails.configuration.x.environment_specific_name %>">
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>
    <%= render "shared/banners", banners: @banners %>
    <%= render "shared/header" %>
    <%= render "shared/flashes" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <div class="co-print-hide">
      <%= render "shared/footer" %>
      <%= render "shared/tracking_scripts" %>
    </div>
  </body>
</html>
