<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <title><%= head_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "shared/set_scheme" %>
    <link rel="apple-touch-icon" href="/dsfr/favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="/dsfr/favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/dsfr/favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="/dsfr/favicon/manifest.webmanifest" crossorigin="use-credentials">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', nonce: true %>
    <link rel="stylesheet" href="/dsfr/dsfr.min.css">
    <link rel="stylesheet" href="/dsfr/utility/utility.min.css">
    <%= vite_stylesheet_tag 'all' %>
    <meta name="environment-specific-name" content="<%= Rails.configuration.x.environment_specific_name %>">
  </head>
  <body>
    <%= render "shared/skiplinks" %>
    <%= render "shared/banners", banners: @banners %>
    <%= render "shared/header" %>
    <%= render "shared/flashes" %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <div class="co-print-hide">
      <%= render "shared/footer" %>
      <%= render "shared/tracking_scripts" %>
    </div>
  </body>
</html>
