- content_for(:current_layout) { "commune" }
- content_for(:below_header) do
  - if current_user != true_user
    = render ImpersonateCalloutComponent.new( |
      name: "l'usager #{current_user} de la commune #{current_user.commune}", |
      mode: session[:user_impersonate_write].present? ? :write : :read, |
      toggle_path: toggle_impersonate_mode_admin_users_path, |
      stop_path: stop_impersonating_admin_users_path |
    ) |
- content_for(:content) do
  = yield
= render template: "layouts/application"
