<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <title>Collectif Objets Preview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "dsfr/dsfr.min.css" %>
    <%= stylesheet_link_tag "dsfr/utility/utility.min.css" %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="fr-p-2w container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-md-8">
        <h1>
          <a href="/rails/view_components">
            View Component Previews
          </a>
        </h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
