<%= turbo_frame_tag("#{dossier.id}_reject_form") do %>

  <% is_initial = dossier.conservateur.blank? || dossier.notes_conservateur.blank? %>

  <% if dossier.errors.any? %>
    <div class="fr-alert fr-alert--error fr-my-4w">
      <p>
        <%= t(".error") %>
        <ul>
          <% dossier.errors.attribute_names.each do |attribute| %>
            <li><%= dossier.errors.messages_for(attribute).first %></li>
          <% end %>
        </ul>
      </p>
    </div>
  <% end %>

  <%= form_for(
    dossier,
    url: conservateurs_dossier_reject_path(dossier),
    method: "PUT",
    builder: FormBuilderDsfr,
    html: { "data-controller": "reject-messages" }
  ) do |f| %>
    <div class="fr-input-group">
      <%= f.label :notes_conservateur do %>
        <%= t("activerecord.attributes.dossier.interface_conservateurs.notes_conservateur") %>
        <button
          class="fr-link fr-icon-arrow-go-back-line hide"
          data-action="reject-messages#restore"
          data-reject-messages-target="undo"
          disabled="disabled"
        >
          <%= t(".notes_conservateur.undo") %>
        </button>
      <% end %>
      <%= f.text_area(
        :notes_conservateur,
        "data-reject-messages-target": "textarea",
        class: "co-textarea--high"
      ) %>
    </div>

    <div class="co-flex co-flex--gap-1rem">
      <div><%= t(".default_messages.label") %></div>
      <div>
        <ul class="fr-btns-group fr-btns-group--inline">
          <% [:missing_photos, :blurry_photos, :wrong_objects].each do |key| %>
            <li>
              <button
                class="fr-btn fr-btn--tertiary fr-btn--sm"
                data-content="<%= t(".default_messages.#{key}.message") %>"
                data-action="reject-messages#usePredefined"
                data-reject-messages-target="button"
                disabled="disabled"
              >
                <%= t(".default_messages.#{key}.button") %>
              </button>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="co-text--right">
      <%= f.submit(is_initial ? t(".submit_preview_initial") : t(".submit_preview"))  %>
    </div>
  <% end %>

  <% unless is_initial %>
    <h3 class="fr-mt-8w">Prévisualisation du mail</h3>
    <%= render Conservateurs::MailIframeComponent.new(mail: UserMailerPreview.new.dossier_rejected_email(dossier)) %>

    <%= form_for(
      dossier,
      url: conservateurs_dossier_reject_path(dossier),
      method: "POST",
      builder: FormBuilderDsfr,
      html: {
        "data-turbo-frame": "_top"
      }
    ) do |f| %>
      <div class="co-text--center fr-mt-8w">
        <%= f.submit t(".submit")  %>
      </div>
    <% end %>
  <% end %>
<% end %>
