<% content_for(:head_title) { t(".head_title", commune: @commune.nom) } %>

<main>
  <div class="fr-container fr-grid-row fr-my-6w fr-grid-row--center">
    <div class="fr-col-md-8">
      <%= render(
        "shared/breadcrumbs",
        links: [
          ["Départements", conservateurs_departements_path],
          [
            nom_departement(@commune.departement),
            conservateurs_departement_path(@commune.departement)
          ],
          [@commune.nom, conservateurs_commune_path(@commune)]
        ],
        current_page_label: "Renvoi du dossier"
      ) %>

      <h2><%= t(".title", commune: @commune.nom) %></h2>

      <div class="fr-callout fr-fi-information-line">
        <p class="fr-callout__text">
          <%= t(".instructions_html") %>
        </p>
      </div>

      <% if @dossier.analyse_overrides? %>
        <div class="fr-callout fr-fi-information-line">
          <p class="fr-callout__text">
            <%= t(".instructions_overrides_html", count: @dossier.analyse_overrides_count) %>
          </p>
        </div>
      <% end %>

      <%= render "form", dossier: @dossier %>
    </div>
  </div>
</main>
