<% content_for(:head_title) { "Mon compte" } %>

<main class="fr-container fr-py-4w fr-grid-row fr-grid-row--center" data-controller="devise--sessions">
  <div class="fr-col-md-8">
    <%= render("shared/breadcrumbs", links: [["Accueil", root_path]], current_page_label: "Mon compte") %>

    <div class="fr-mb-6w">
      <h3>Mon compte</h3>
      <p>
        <b>Email&#8239;</b>: <%= current_user.email %><br />
        <b>Commune&#8239;</b>: <%= current_user.commune || "N/A" %>
      </p>
      <p>
        <%# using a DELETE form without turbo because https://github.com/heartcombo/devise/issues/5458 %>
        <%= form_tag destroy_user_session_path, method: :delete, data: { turbo: false } do %>
          <button type="submit" class="fr-btn fr-btn--secondary fr-icon-logout-box-r-line fr-btn--icon-left">
            Déconnexion
          </button>
        <% end %>
      </p>
    </div>
    <div class="fr-mb-6w">
      <h3>Suppression</h3>
      <p><%= button_to "Supprimer mon compte ", registration_path(resource_name), form: { data: { turbo_confirm: "Êtes-vous sûr(e) de vouloir supprimer votre compte ?" } }, method: :delete, class: "fr-btn fr-btn--secondary fr-icon-delete-line fr-btn--icon-left" %></p>
    </div>
  </div>
</main>
